@use "controls";

.container_ac6cb0 {
	background-color: transparent;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

.ac6cb02cd15b4b3b-input {
	@include controls.text-field;
}

.ac6cb02cd15b4b3b-quickswitcher {
	background-color: var(--dialog_bg_color);
	border-color: var(--window_outline_color);
	border-radius: var(--window_radius);
	box-shadow: var(--shadow-high);
	padding: var(--dialog-spacing);
	padding-bottom: 0;
}

.ac6cb02cd15b4b3b-scroller {
	background-color: transparent;
	margin-top: var(--dialog-spacing-x05);
	margin-right: 0;
}
