@use "../mixins";

.standardSidebarView__23e6b {
	top: 0;
}

.contentRegion__23e6b {
	margin-top: 46px;

	.divider__46c3b {
		display: none;
	}
}

.contentColumn__23e6b {
	padding: 22px 28px;
	margin: auto;

	max-width: var(--content-width);

	&::before {
		content: "";
		position: fixed;
		inset: var(--p);
		height: var(--headerbar-height);
		box-shadow: var(--elevation-low);
		z-index: 1;
	}

	/*
     https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/widgets/_header-bar.scss
     L70
   */
	& > h2:first-child,
	& > :first-child > h2:first-child,
	& > div > :first-child .h1_b717a1,
	& > div > :first-child .sectionTitle__7bffb > * {
		--pad: 11px;
		text-align: center;
		padding: var(--pad);

		position: fixed;
		top: var(--p);
		left: calc(var(--p) + var(--sidebar-width) + var(--pad));
		width: calc(
			100% - var(--p) *
				2 - var(--sidebar-width) - var(--titlebar-button-size) - var(--pad) * 2
		);
		z-index: 999;

		app-region: drag;
	}

	[role="tablist"][aria-orientation="horizontal"] {
		border: none;
		padding: 0;
	}
}

.toolsContainer__23e6b {
	position: absolute;
	z-index: 999;
}

.keybind_c2b141 {
	display: none;
}

.sidebarRegion__23e6b {
	border-right: 1px solid var(--background-modifier-accent);
	margin-top: var(--headerbar-height);

	flex: unset;

	&::before {
		content: "Settings";

		position: fixed;
		top: calc(var(--p) + 1px);
		left: calc(var(--p) + 1px);
		width: var(--sidebar-width);
		height: var(--headerbar-height);
		z-index: 1;
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: var(--background-secondary);
		color: var(--window_fg_color);
		border-top-left-radius: var(--window_radius);
		font-weight: 700;
		font-size: 15px;
		text-transform: none;
		text-align: center;
		border-right: 1px solid var(--background-modifier-accent);

		app-region: drag;
	}
}

// .navigation-sidebar
.sidebar__23e6b {
	padding: 0;

	.header_b3f026 {
		display: none;
	}

	.separator_b3f026 {
		margin: var(--menu_margin);
	}
}

// 1. Connections tab
// 2. Voice tab
.connectContainer_c7f964,
.cameraWrapper_d41d5f,
[role="radiogroup"] {
	@extend %cards-container;

	border: none;
}

.container__0d850 {
	@extend %card-with-actual-border-radiuses;

	margin: 0;
}

// Nitro themes
.presets__67a11 {
	@extend %cards-container;

	gap: 0;

	overflow: hidden;
	flex-direction: column;

	[role="radiogroup"]:has(> &) {
		background-color: transparent;
		box-shadow: none;
	}
}

.selectionCircle__36dee {
	display: none;
}

.themeSelection__36dee {
	// radios.scss override
	&:first-of-type {
		// TODO: last one also has it
		border-bottom: 1px solid var(--card_shade_color);
		border-radius: 0;

		display: flex;
		align-items: center;
	}

	&::before {
		content: "";

		border: none;
		border-radius: 50%;
		padding: 0;
		margin-inline-end: 16px;

		box-sizing: border-box;
		display: block;
		width: 22px;
		height: 22px;
	}

	&[aria-checked="true"]::before {
		background-color: #fff;
		border: 7px solid var(--accent_bg_color);
	}

	&[aria-checked="false"]::before {
		border: 2px solid color-mix(in srgb, currentColor 25%, transparent);
	}

	&::after {
		content: attr(aria-label);
	}

	svg {
		display: none;
	}
}

.themeSelectionContainer__36dee {
	width: unset;
	height: unset;
}

.layers__960e4 {
	& > .layer__960e4 {
		opacity: 1;

		&[aria-hidden="true"] {
			pointer-events: none;
			transform: none;

			&::before {
				content: "";

				position: fixed;
				inset: 0;

				background-color: var(--backdrop);
				z-index: 101;
			}
		}
	}

	& > :not(:only-child):last-child {
		box-shadow: var(--elevation-high);
		border-radius: var(--window_radius);

		inset: var(--p);

		& > div {
			top: 0;
		}
	}
}
