@use "../mixins";

[class*="standardSidebarView_"] {
  top: 0 !important;
}

[class*="contentRegion_"] {
  margin-top: 46px;
}

[class*="contentColumn_"] {
  padding: 22px 28px;
  margin: auto;

  max-width: var(--content-width);

  &::before {
    content: "";
    position: fixed;
    inset: var(--p);
    height: var(--headerbar-height);
    box-shadow: var(--elevation-low);
    z-index: 1;
  }

  /*
     https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/widgets/_header-bar.scss
     L70
   */
  & > h2:first-child,
  & > :first-child > h2:first-child,
  & > div > :first-child [class*="h1_"],
  & > div > :first-child [class*="sectionTitle_"] > * {
    --pad: 11px;
    text-align: center;
    padding: var(--pad);

    position: fixed;
    top: var(--p);
    left: calc(var(--p) + var(--sidebar-width) + var(--pad));
    width: calc(
      100% - var(--p) * 2 - var(--sidebar-width) - var(--close-button-size) -
        var(--pad) * 2
    );
    z-index: 999;

    app-region: drag;
  }

  [role="tablist"][aria-orientation="horizontal"] {
    border: none !important;
    padding: 0;
  }
}

[class*="contentPanel_"] {
  position: initial;
}

[class*="toolsContainer_"] {
  position: absolute;
  z-index: 999;
}

[class*="keybind_"] {
  display: none;
}

[class*="sidebarRegion_"] {
  border-right: 1px solid var(--background-modifier-accent);
  margin-top: var(--headerbar-height);

  flex: unset;

  &::before {
    content: "Settings";

    position: fixed;
    top: calc(var(--p) + 1px);
    left: calc(var(--p) + 1px);
    width: var(--sidebar-width);
    height: var(--headerbar-height);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background-secondary);
    color: var(--window_fg_color);
    border-top-left-radius: var(--window_radius);
    font-weight: 700 !important;
    font-size: 15px !important;
    text-transform: none !important;
    text-align: center;
    border-right: 1px solid var(--background-modifier-accent);

    app-region: drag;
  }
}

/* .navigation-sidebar */
nav[class*="sidebar"] {
  padding: 0;

  [class*="header_"] {
    display: none;
  }

  [class*="separator_"] {
    margin: var(--menu_margin);
  }
}

[class*="contentRegion_"] [class*="divider_"] {
  display: none;
}

/* bruh */
[class*="contentRegion_"] [class*="children_"] > div:not([class], [style]),
[class^="marginTop_"] {
  margin-top: 28px;
}

[class^="marginBottom_"] {
  margin-bottom: 28px;
}

.vc-addon-card,
:is(
  [class*="contentRegion_"] [class*="children_"],
  [class*="children_"] > div:not([class]),
  /* bruh */
  [class^="margin"]
) > :is(
  [class^="flex_"],
  /* Switch container */
  [class*="container_"],
  /* ^ */
  [class*="settingsBackgroundFlashElement_"]
) {
  @extend %card;
}

// 2. Vencord plugin settings
// 3. Connections tab
// 4. Voice tab
.vc-plugins-grid,
[role="dialog"]
  > [class*="root_"]
  > [class*="content_"]
  > .vc-m-bottom-16
  > [style],
[class*="connectContainer_"],
[class*="cameraWrapper_"],
[role="radiogroup"] {
  @extend %cards-container;

  border: none !important;
}

// 2. Vencord plugin settings
.vc-addon-card,
[role="dialog"]
  > [class*="root_"]
  > [class*="content_"]
  > .vc-m-bottom-16
  > [style]
  > div {
  border: none !important;
  box-shadow: none !important;
  padding: 10px 16px !important;
  margin: 0 !important;
}

// 1. Vencord plugin settings
[role="dialog"]
  > [class*="root_"]
  > [class*="content_"]
  > .vc-m-bottom-16
  > [style]
  > div,
[class^="margin"] > [class*="children_"] > [class*="container_"] {
  @extend %card-with-actual-border-radiuses;
}

// TODO: move to controls/radio
[role="radio"] {
  @extend %card-with-actual-border-radiuses;

  box-shadow: none !important;
  padding: 16px !important;
  margin: 0 !important;

  & > div {
    border: none !important;
    gap: 16px !important;
    padding: 0 !important;

    & > :first-child {
      border-radius: 50%;

      width: 22px;
      height: 22px;
    }
  }

  svg {
    display: none;
  }

  &[aria-checked="true"] > div > :first-child {
    background-color: #fff;
    border: 7px solid var(--accent_bg_color);
  }

  &[aria-checked="false"] > div > :first-child {
    border: 2px solid color-mix(in srgb, currentColor 25%, transparent);
  }
}

/* Nitro themes */
[class*="presets_"] {
  gap: 16px;

  [role="radiogroup"]:has(> &) {
    background-color: transparent !important;
    box-shadow: none !important;
  }

  [class*="themeSelection_"] {
    border-radius: 50% !important;

    &[class*="lightIcon_"] {
      background-color: #fafafa !important;
    }

    &[class*="darkIcon_"] {
      background-color: #242424 !important;
    }

    & > div {
      margin-top: 4px !important;

      & > svg {
        border: none !important;
      }
    }

    svg {
      display: initial;
    }
  }
}

/* Vencord plugin settings */
[role="dialog"]
  > [class*="root_"]
  > [class*="content_"]
  > .vc-m-bottom-16
  > [style] {
  gap: 0 !important;
  padding: 0 !important;

  & > div > div {
    margin: 0 !important;
  }
}

[class*="layers_"] {
  & > div {
    opacity: 1 !important;

    &[aria-hidden="true"] {
      pointer-events: none;
      transform: none !important;

      &::before {
        content: "";

        position: fixed;
        inset: 0;

        background-color: var(--backdrop);
        z-index: 101;
      }
    }
  }

  & > :not(:only-child):last-child {
    box-shadow: var(--elevation-high);
    border-radius: var(--window_radius);

    inset: var(--p);

    & > div {
      top: 0;
    }
  }
}

.vc-plugins-grid {
  gap: 0 !important;

  grid-template-columns: 1fr !important;
}

.vc-addon-card:hover {
  transform: unset !important;
}

.vc-addon-note {
  height: unset !important;
}
