@use "../mixins";

.backdrop__78332 {
	background-color: var(--backdrop);
}

// Do NOT use gap on root, since its parts are not always direct descendants of
// the dialog container.
.root__49fc1 {
	--dialog-spacing: 24px;

	background-color: var(--dialog_bg_color);
	border: var(--app-border-size) solid var(--window_border_color);
	border-radius: var(--window_radius);
	box-shadow: var(--shadow-high);

	&:has(.close__49fc1) {
		background-color: var(--window_bg_color);
	}

	.header__49fc1 {
		padding: 0;

		position: unset;
		justify-content: center;
	}

	.content__49fc1 {
		text-align: center;
		padding: var(--dialog-spacing);
		padding-bottom: 0;
	}

	.footer__49fc1 {
		box-shadow: none;
		padding: 0;
		margin: var(--dialog-spacing);
		gap: var(--spacing-2x);

		* {
			flex-grow: 1;
		}

		button[class] {
			// Hardcoded (maybe):
			// https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/src/stylesheet/widgets/_message-dialog.scss#L123
			border-radius: 12px;
			// Seen in "Change password" dialog
			margin: 0;

			height: 44px;
		}
	}
}

[role="dialog"] > div {
	&:not(.root__49fc1) > [class*="header_"] {
		background-color: var(--background-primary);
		box-shadow: var(--elevation-low);
		gap: var(--spacing);
		padding: var(--spacing);

		height: unset;
		min-height: unset;
		z-index: 1;
	}
}
