@use "../mixins";

.header__45690 {
	border: none;

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

.messagesPopout__45690 {
	padding: 0;

	[role="list"] {
		@extend %cards-container;

		margin: 22px 28px;

		overflow: hidden;

		& > div {
			border: none;
			padding: 0;
			margin: 0;

			&:not(:last-child) {
				border-bottom: 1px solid var(--card_shade_color);
				border-radius: 0;
			}
		}
	}

	.messageContainer__95796 {
		background-color: transparent;
		padding: 8px 0;
		margin: 0;
	}

	.jumpButton_ed0c8c {
		top: 8px;
		right: 8px;

		& > div {
			color: inherit;
			font-size: inherit;
		}
	}
}
