@use "controls";
@use "dialog";
@use "typography";

.e8b59c4b335dd2fc-header {
	@include dialog.header;
}

.e8b59c4b335dd2fc-messagesPopout {
	padding: 0;

	[role="list"] {
		@include controls.cards-container;

		margin: 22px 28px;

		overflow: hidden;

		& > div {
			border: none;
			padding: 0;
			margin: 0;

			&:not(:last-child) {
				border-bottom: 1px solid var(--card_shade_color);
				border-radius: 0;
			}
		}
	}

	._957962c2bd49881b-messageContainer {
		background-color: transparent;
		border: none;
		padding: 8px 0;
		margin: 0;
	}

	.ed0c8cb44ff95773-jumpButton {
		@include controls.button;

		box-shadow: none;

		top: 8px;
		right: 8px;
		height: unset;

		& > div {
			color: inherit;
			font-size: inherit;
		}
	}
}

.e8b59c4b335dd2fc-messagesPopoutWrap {
	@include dialog.container;
}

.e8b59c4b335dd2fc-titleContainer {
	justify-content: center;
	height: var(--headerbar-height);

	[data-text-variant="text-lg/semibold"] {
		@extend %title-3;
	}

	svg {
		display: none;
	}
}
