@use "controls";
@use "typography";
@use "util";

._9c3bea41fd465666-backgroundImage {
	--radius: var(--dialog-spacing);

	filter: brightness(3) blur(var(--radius));
	mask: linear-gradient(black, transparent);
	opacity: 1;
	background-repeat: no-repeat;

	inset: calc(var(--radius) * -1);
	//left: calc(400px - var(--radius));

	&::after {
		display: none;
	}
}

// right side
._37bfcf3d457db7a9-container {
	gap: 0;
	padding: 0;
	margin: 0;

	height: 100%;
	z-index: 1;

	// tabs
	._37bfcf3d457db7a9-tabListScroller {
		box-shadow: var(--elevation-low);
		padding: var(--spacing);
		margin: 0;

		overflow: auto;
		min-height: var(--headerbar-height);
		z-index: 1;

		& > [role="tablist"] {
			justify-content: center;
		}
	}
}

// connections
._9bfb9a25604068f0-container {
	@include controls.cards-container;

	gap: 0;
	margin: 0;

	// HEEEEEEEEEELP WHAT IS THIS XD
	._9bfb9a25604068f0-accountName {
		@include controls.button-basic-raised(
			$hover: ":hover::before",
			$active: ":active::before"
		);

		background-color: transparent;

		&::before,
		&::after {
			content: "";

			position: absolute;
			top: 10px;
			right: 16px;
			width: var(--icon-button-size);
			height: var(--icon-button-size);
		}

		&::before {
			background-color: transparent;
			border-radius: var(--button_radius);

			pointer-events: all;
		}

		&::after {
			content: "";

			--icon: icon("external-link");

			background-color: currentColor;
			mask: var(--icon);
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: var(--icon-size);

			display: flex;
			align-items: center;
			justify-content: center;
		}
	}

	._9bfb9a25604068f0-accountNameText {
		@extend %title-3;

		color: inherit;
	}

	._9bfb9a25604068f0-connection {
		@include controls.card-in-container(
			$first-selector: ":first-child",
			$last-selector: ":last-child"
		);

		gap: var(--dialog-spacing-x05);

		position: relative;
		box-sizing: border-box;
	}

	._9bfb9a25604068f0-connectionInfo {
		width: 100%;
	}

	._9bfb9a25604068f0-metadata {
		display: none;
	}

	._9bfb9a25604068f0-platformUrlAnchor {
		color: var(--card_fg_color);
		text-decoration: none;

		pointer-events: none;
	}

	._9bfb9a25604068f0-platformUrlIcon {
		display: none;
	}

	._9bfb9a25604068f0-platformIcon {
		width: inherit;
		height: inherit;
	}

	._9bfb9a25604068f0-platformIconContainer {
		--size: 32px;

		background-color: transparent;
		border: none;

		width: var(--size);
		height: var(--size);
	}
}

.c0bea05627c5dc35-outer.user-profile-modal-v2 {
	border: none;

	.c0bea05627c5dc35-inner {
		gap: 0;
	}
}

.c0bea05627c5dc35-outer.user-profile-sidebar {
	border-radius: 0;
}

._9c3bea41fd465666-profile {
	outline: 0;
	border-radius: 0;

	._68edb95846a37624-banner {
		border-radius: 0;
	}

	._9c3bea41fd465666-profileBody {
		gap: var(--dialog-spacing);
		padding: 0 var(--dialog-spacing);
	}

	._9c3bea41fd465666-profileButtons {
		gap: var(--spacing);
	}

	._9c3bea41fd465666-profileNote {
		margin: 0;

		textarea {
			@include controls.text-field;

			// Increase the opacity (10% -> 20%) a little bit, otherwise they're the
			// same color
			background-color: color-mix(
				in srgb,
				currentColor 20%,
				var(--window_bg_color)
			);
		}
	}
}

// right side content
._764cdd81a2bebd88-scroller {
	padding: var(--dialog-spacing);

	._764cdd81a2bebd88-cards {
		@include controls.cards-container;

		gap: 0;

		li {
			@include controls.card-in-container(
				$first-selector: ":first-child",
				$last-selector: ":last-child"
			);

			&:only-child {
				border-radius: var(--card_radius);
			}
		}

		._39ec2e3dfb4fd2f2-card {
			all: unset;
		}
	}
}

.bf424dc3dc4c8775-section {
	gap: var(--spacing-2x);

	.bf424dc3dc4c8775-header [data-text-variant] {
		@extend %title-3;

		color: inherit;
	}
}
