@use "controls";

.root__49fc1.vc-text-selectable {
	gap: 0;

	& > .header__49fc1 {
		box-shadow: var(--elevation-low);
		padding: 0
			calc(
				var(--spacing) + var(--titlebar-button-spacing) +
					var(--titlebar-button-size)
			);

		height: var(--headerbar-height);
	}

	& > .content__49fc1 {
		text-align: start;

		& > .vc-m-bottom-16 > div {
			@include controls.cards-container;

			gap: 0;
			padding: 0;

			& > div {
				@include controls.card-with-actual-border-radiuses;

				border: none;
				box-shadow: none;
				padding: 10px 16px;
				margin: 0;

				& > div {
					margin: 0;
				}
			}
		}
	}

	& > .footer__49fc1 {
		& > div > div {
			gap: var(--spacing-2x);
			margin: 0;
		}
	}

	.header__49fc1 {
		& > [data-text-variant] {
			text-align: center;
		}
	}
}

.vc-addon-card {
	@include controls.card-with-actual-border-radiuses;

	border: none;
	box-shadow: none;
	padding: 10px 16px;
	margin: 0;

	&:hover {
		transform: unset;
	}
}

.vc-addon-note {
	height: unset;
}

.vc-plugins-grid {
	@include controls.cards-container;

	gap: 0;
	border: none;

	grid-template-columns: 1fr;
}
