@use "../mixins";

.root__49fc1.vc-text-selectable {
	gap: 0;

	& > .header__49fc1 {
		box-shadow: var(--elevation-low);
		padding: 0
			calc(
				var(--spacing) + var(--titlebar-button-spacing) +
					var(--titlebar-button-size)
			);

		height: var(--headerbar-height);
	}

	& > .content__49fc1 {
		text-align: start;
		padding-top: 24px !important;

		& > .vc-m-bottom-16 > div {
			@extend %cards-container;

			gap: 0 !important;
			padding: 0 !important;

			& > div {
				@extend %card-with-actual-border-radiuses;

				border: none !important;
				box-shadow: none !important;
				padding: 10px 16px !important;
				margin: 0 !important;

				& > div {
					margin: 0 !important;
				}
			}
		}
	}

	& > .footer__49fc1 {
		&.horizontalReverse__7c0ba {
			& > div > div > button:first-child,
			& > button:last-child {
				border-left: none !important;
			}
		}

		& > div > div {
			gap: 0 !important;
			margin: 0 !important;
		}
	}

	.header__49fc1 {
		& > [data-text-variant] {
			text-align: center;
		}
	}
}

.vc-addon-card {
	@extend %card;

	border: none !important;
	box-shadow: none !important;
	padding: 10px 16px !important;
	margin: 0 !important;

	&:hover {
		transform: unset !important;
	}
}

.vc-addon-note {
	height: unset !important;
}

.vc-plugins-grid {
	@extend %cards-container;

	gap: 0 !important;
	border: none !important;

	grid-template-columns: 1fr !important;
}
