.autocomplete__13533 {
	--background-modifier-accent: color-mix(
		in srgb,
		var(--window_fg_color) 20%,
		transparent
	);
	background-color: var(--background-floating);
	border: 1px solid color-mix(in srgb, black 14%, transparent);
	border-radius: var(--popover_radius);
	box-shadow: var(--popover_shadow);

	// [style] is for commands, that has some other kind of a virtual list or whatever brainrot these cunts thought of using
	[role="listbox"]:not([style*="inset"]) {
		padding: 8px;
	}

	/** commands **/
	.rail_d1405b {
		border-right: 1px solid var(--sidebar_border_color);
	}
}

.autocompleteRow__13533 {
	padding: 0;

	& > .base__13533 {
		background-color: color-mix(
			in srgb,
			var(--window_fg_color) var(--percentage),
			transparent
		);
		line-height: inherit;
		padding: var(--spacing) var(--spacing-2x);

		&:hover {
			--percentage: 10%;
		}

		&:active {
			--percentage: 18.5%;
		}
	}
}

.autocompleteRowContent__13533 {
	gap: 8px;

	& > * {
		margin: 0;

		text-align: start;
	}
}

.autocompleteRowContentPrimary__13533,
.autocompleteRowContentSecondary__13533 {
	width: 50%;
}

.autocompleteRowContentPrimary__13533 {
	&:first-child {
		margin-left: 32px;
	}
}

.base__13533 {
	border-radius: var(--menu_radius);
	padding: 0;
}

.contentTitle__13533 {
	padding-top: 0;
	padding-bottom: var(--spacing);
}

.divider__13533 {
	padding: var(--menu_margin) 0;
}
