.popout__3f413[role="listbox"] {
	background-color: var(--popover_bg_color);
	border: 1px solid rgba(0, 0, 0, 0.14);
	border-radius: var(--popover_radius);
	box-shadow: var(--popover_shadow);
	padding: var(--spacing);
	margin-top: var(--spacing);

	& > [role="option"] {
		border-radius: var(--radius-xs);
	}

	.selectedIcon__3f413 {
		display: none;
	}
}
