[class*="popout_"][role="listbox"] {
  background-color: var(--popover_bg_color);
  border: 1px solid rgba(0, 0, 0, 0.14);
  border-radius: var(--popover_radius);
  box-shadow: var(--popover_shadow);
  padding: 6px !important;
  margin-top: 6px;

  & > [role="option"] {
    border-radius: 6px;
  }

  [class*="selectedIcon_"] {
    display: none;
  }
}
