@use "../mixins/text";

[role="menu"] {
	border: 1px solid rgba(0, 0, 0, 14%);
	border-radius: var(--popover_radius);
	box-shadow: var(--popover_shadow);

	& > div {
		padding: 8px;

		overflow: auto;
	}

	[role^="menuitem"] {
		@extend %text-normal;

		color: var(--window_fg_color);
		border-radius: var(--menu_radius);
		padding: 0 var(--menu_padding);
		margin: 0;

		min-height: 32px;

		&.focused_c1e9c4 {
			background-color: var(--selected_color);
		}

		&:active {
			background-color: var(--active_color);
		}
	}

	[role="separator"] {
		margin: var(--menu_margin) 0;
	}
}

.customItem_c1e9c4 {
	padding: 0;
}
