@use "controls";
@use "dialog";

.controlButton_ab6641 {
	--icon: icon("funnel");
}

.controls_ab6641 {
	gap: var(--spacing);

	[role="button"] {
		@include controls.icon-button;
	}
}

.friendRequestsButton__523aa {
	--icon: icon("person");
}

.header_ab6641 {
	@include dialog.header;
}

.headerTabs_ab6641 {
	margin: 0;

	[role="tablist"] {
		margin: 0;
	}
}

.channelHeader__35a7e,
.inboxIcon_ab6641,
.inboxTitle_ab6641,
.recentMentionsPopout__95796 .titleContainer__45690 {
	display: none;
}
