@use "text";

.container__55c99:not(:empty) {
	--text-muted: var(--window_fg_color);

	border-radius: var(--window_radius);
	box-shadow: var(--popover_shadow);
	gap: var(--spacing-3x);
	padding: var(--menu_margin);

	display: flex;
	flex-direction: column;
}

.header__56fec {
	@extend %title-4;

	padding: 0;
	padding-bottom: var(--spacing);
	padding-left: 4px;
}

.option__56fec {
	font-size: var(--document-font-size);
	border-radius: var(--button_radius);
	margin: 0;
	padding: 0 var(--spacing-2x);

	height: 32px;

	.resultChannel__56fec {
		width: 100%;
	}

	strong,
	.displayedNick__56fec {
		width: 50%;
	}

	strong {
		margin-left: calc(20px + var(--spacing));
	}

	.displayedNick__56fec {
		@extend %title-3;

		margin: 0 var(--spacing);
	}

	.searchResultChannelCategory__56fec {
		opacity: 1;
		text-transform: unset;
		margin-left: var(--spacing);
	}
}

.queryContainer__55c99,
.searchLearnMore__56fec,
.plusIcon__56fec,
.searchResultChannelIcon__56fec,
.option__56fec:is(.user__56fec, :has(strong)) > .filter__56fec {
	display: none;
}

.resultsGroup__56fec {
	padding: 0;
	margin: 0;

	&::before {
		display: none;
	}

	& > * {
		padding: 0;
	}
}

.searchClearHistory__56fec {
	top: 4px;
	right: 12px;
}
