@use "controls";
@use "typography";
@use "util";

$border_color: color-mix(in srgb, currentColor 50%, transparent);
$menu-icon-size: 20px;

@mixin menu-entry {
	@include controls.button-basic-raised;

	background-color: transparent;
	border-radius: var(--button_radius);
	padding: 0 var(--menu_padding);

	height: 32px;

	transition: none;
}

@mixin popover-container {
	// for border
	color: var(--window_fg_muted);
	border: 1px solid $border_color;
	border-radius: var(--popover_radius);
	box-shadow: var(--popover_shadow);
	padding: var(--menu_margin);
}

.container__55c99:not(:empty) {
	--search-popout-option-non-text-color: currentColor;

	@include popover-container;

	gap: calc(var(--menu_margin) * 2);
	margin-top: calc(var(--headerbar-height) + var(--spacing));

	display: flex;
	flex-direction: column;
}

.header__56fec {
	@include menu-entry;

	color: var(--window_fg_muted);
	font-size: var(--document-font-size);
	font-weight: bold;
	letter-spacing: 0;
	padding-block: 8px;

	box-sizing: border-box;

	pointer-events: none;
}

.option__56fec {
	@include menu-entry;

	font-size: var(--document-font-size);
	// focus border
	box-shadow: none;
	margin: 0;

	&:is(.user__56fec, :has(strong)) .filter__56fec {
		display: none;
	}

	.resultChannel__56fec {
		width: 100%;
	}

	strong,
	.displayedNick__56fec {
		width: 50%;
	}

	strong {
		color: var(--popover_fg_color);
		font-weight: normal;
		margin-left: calc($menu-icon-size + var(--spacing));
	}

	.answer__56fec {
		color: var(--popover_fg_color);
		font-weight: normal;
	}

	.displayedNick__56fec {
		font-weight: normal;
		margin: 0 var(--spacing);
	}

	.displayUsername__56fec {
		font-weight: normal;
	}

	.filter__56fec {
		font-weight: normal;
	}

	.searchResultChannelCategory__56fec {
		@extend %text-normal;

		opacity: 1;
		text-transform: unset;
		margin-left: var(--spacing);

		top: 0;
	}

	.searchResultChannelIcon__56fec {
		@include util.icon("lang-include");

		opacity: 1;

		position: absolute;
		// Make it centered with avatars
		left: calc(var(--menu_padding) + ($menu-icon-size - var(--icon-size)) / 2);

		path {
			display: none;
		}
	}
}

.plusIcon__56fec,
.queryContainer__55c99,
.searchLearnMore__56fec {
	display: none;
}

.resultsGroup__56fec {
	padding: 0;
	margin: 0;

	&::before {
		top: calc(var(--spacing) * -1);

		margin: 0;
	}
}

.searchClearHistory__56fec {
	@include controls.icon-button("user-trash", "32px");

	border-radius: 999px;

	position: absolute;
	top: 0;
	right: 0;
}
