@use "controls";
@use "typography";

@mixin -tag {
	background: color-mix(in srgb, currentColor 10%, transparent);
	border-radius: 999px;
	padding-inline: var(--spacing-2x);
}

.vc-plugins-setting-content {
	display: grid;
	grid-template-columns: 60% 40%;

	.vc-switch-container {
		margin-left: auto;
	}
}

.vc-plugins-setting-section {
	@include controls.card-in-container(
		$first-selector: ":first-child",
		$last-selector: ":last-child"
	);
}

.vc-plugins-setting-title {
	@extend %title-3;
}

.vc-plugins-setting-description {
	@extend %caption;
}

.vc-plugins-settings {
	@include controls.cards-container;

	gap: 0;
}

.vc-settings-modal-content {
	text-align: start;

	.vc-text-lg.vc-margin-top-16 {
		@extend %title-3;

		margin-block: 34px 16px;
	}
}

.vc-settings-modal-favorite-button {
	--icon: icon("star-outline-rounded");
}

.vc-settings-modal-favorite-button-active {
	--icon: icon("star-large");
}

.vc-plugin-modal-header {
	align-items: center;
	box-shadow: var(--elevation-low);
	height: var(--headerbar-height);
	justify-content: center;
	margin-block-start: calc(var(--dialog-spacing) * -1);
	padding: 0;
	padding-inline-start: calc(var(--icon-button-size) * 3 + var(--spacing) * 4);
	padding-inline-end: calc(
		var(--spacing) + var(--titlebar-button-spacing) +
			var(--titlebar-button-size)
	);

	.vc-text-base {
		text-align: center;
	}
}

.vc-plugin-modal-tag {
	@include -tag;

	border: none;
}

.vc-plugin-modal-tags {
	gap: var(--spacing);
	margin-block-start: var(--spacing-2x);
}

.vc-settings-modal-link-icon {
	border: none;
}

.vc-settings-modal-link-button {
	&[aria-label="View more info"] {
		--icon: icon("info-outline");
	}

	&[aria-label="View source code"] {
		--icon: icon("code");
	}
}

.vc-settings-modal-links {
	gap: var(--spacing);
	inset-block-start: var(--spacing);
	inset-inline-start: var(--spacing);
	position: absolute;

	& > * {
		@include controls.icon-button;

		color: var(--dialog_fg_color);
	}
}
