@use "controls";
@use "typography";

.vc-plugin-ui-elements-modal-content {
	text-align: start;
	gap: 34px;

	* {
		box-sizing: border-box;
	}

	.vc-text-xl {
		@extend %title-3;
	}

	section > .vc-text-sm {
		@extend %caption;

		margin-block: var(--spacing) 16px;
	}
}

.vc-plugin-ui-elements-switches {
	@include controls.cards-container;

	gap: 0;
}

.vc-plugin-ui-elements-switches-row {
	@include controls.card-in-container(
		$first-selector: ":first-child",
		$last-selector: ":last-child"
	);
	@extend %title-3;
}
