@use "typography";

.c8ffbb79449f399c-container {
	--custom-channel-members-bg: var(--sidebar_bg_color);
}

.c8ffbb79449f399c-membersGroup {
	color: var(--window_fg_color);

	& > span {
		@extend %title-3;
	}
}
