@use "controls";
@use "typography";

.c1521037ef09de7e-pageButton {
	@include controls.button;
}

.ae7890a1b8e75804-searchHeader {
	border-bottom: 1px solid var(--secondary_sidebar_border_color);
	padding: var(--spacing);

	height: unset;

	[data-text-variant] {
		@extend %text-normal;
	}
}

._80bf8435713f6adb-searchResult {
	background-color: transparent;
	border: none;
	border-radius: 0;
	margin: 0;
}

._16eb0bfd5c5a90d1-searchResultChannelCategory {
	@extend %caption;
}

.a7e67f4ddd7c6bb2-searchResultGroup {
	--offset: calc(var(--document-font-size) * 1.25 + 16px);

	@include controls.cards-container;

	margin-bottom: calc(var(--offset) + 34px);

	position: relative;
	top: var(--offset);

	.a7e67f4ddd7c6bb2-channelNameIcon,
	.a7e67f4ddd7c6bb2-parentChannelName {
		display: none;
	}

	.a7e67f4ddd7c6bb2-channelNameContainer {
		position: absolute;
		top: calc(var(--offset) * -1);
	}

	.a7e67f4ddd7c6bb2-channelNameText {
		@extend %title-2;
	}
}

.a98f3b020416ad54-searchResultsWrap {
	border-left: 1px solid var(--secondary_sidebar_border_color);

	z-index: 0;

	// Clicking on the message does the thing
	._80bf8435713f6adb-button {
		display: none;
	}

	._80bf8435713f6adb-container {
		@include controls.card-in-container(
			$activatable: true,
			$first-selector: ":first-of-type",
			$last-selector: ":last-of-type"
		);

		padding: 0;
	}
}
