@use "../../mixins/controls";
@use "../../mixins/text";

.searchHeader_f3b986 {
	border-bottom: 1px solid var(--secondary_sidebar_border_color);
	padding: var(--spacing);

	height: unset;
}

.searchResult__02a39 {
	background-color: transparent;
	border-radius: 0;
	margin: 0;
}

.searchResultChannelCategory__56fec {
	@extend %caption;
}

.searchResultGroup_c68065 {
	--offset: calc(var(--document-font-size) * 1.25 + 4px);

	margin-bottom: calc(var(--offset) + 24px);

	position: relative;
	top: var(--offset);
}

.searchResultsWrap_a9e706 {
	border-left: 1px solid var(--secondary_sidebar_border_color);

	z-index: 0;

	// TODO: button sel
	.button__02a39 {
		@extend %button;

		font-size: var(--document-font-size);
		font-weight: bold;

		height: unset;
	}

	.channelNameContainer_c68065 {
		margin-bottom: 16px;

		position: absolute;
		top: calc(var(--offset) * -1);

		& > svg {
			display: none;
		}
	}

	.channelNameText_c68065 > span {
		@extend %title-2;
	}

	[role="listitem"] {
		@extend %card-with-actual-border-radiuses;

		padding: 0;
		margin: 0;

		overflow: hidden;
	}
}
