@use "controls";
@use "typography";

.cf6da1923918f7e3-closeCircleButton {
	--icon: icon("window-close");

	@include controls.titlebar-button;

	inset: 0;
	order: 1;
}

.cf6da1923918f7e3-editorFooter {
	display: none;
}

.cf6da1923918f7e3-editorHeader {
	box-shadow: var(--elevation-low);
	padding-inline: 0 var(--titlebar-button-spacing);

	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 0 auto;
	width: unset;
	height: var(--headerbar-height);

	h3 {
		@extend %title-3;

		margin: auto;
	}
}

.cf6da1923918f7e3-themeEditor {
	border-left: 1px solid var(--secondary_sidebar_border_color);
	padding: 0;

	z-index: 999;
}
