// shadow
.a44415a3320e67de-chat::before {
	display: none;
}

._01ae244280823725-chatTarget {
	display: none;
}

._01ae244280823725-container {
	border-top: none;
	border-radius: 0;

	&._01ae244280823725-floating {
		--chat-header-right-padding: calc(
			var(--titlebar-right-spacing) + var(--icon-button-size) + var(--spacing)
		);

		filter: drop-shadow(0 0 32px black);
	}
}
