.chatTarget__01ae2 {
	display: none;
}

.container__01ae2 {
	border-top: none;
	border-radius: 0;

	&.floating__01ae2 {
		--chat-header-right-padding: calc(
			var(--titlebar-right-spacing) + var(--icon-button-size) + var(--spacing)
		);

		filter: drop-shadow(0 0 32px black);
	}
}
