@use "controls";

._5bc7ed9d4097f6b5-circleIconButton {
	@include controls.icon-button(
		// There is only one like that anyway
		$name: "plus",
		$size: var(--guildbar-avatar-size)
	);

	color: inherit;
	border-radius: 50%;
}

._5e434347c823b592-guilds {
	mask: none;
	margin: 0;
}

._252b6afd49fda06f-guildSeparator {
	background-color: var(--sidebar_border_color);

	width: calc(100% - var(--spacing) * 2);
}

._918165dab2b1e10b-listItemWrapper {
	transform: none;
}

.ef3116c2da186559-scroller {
	padding-top: var(--space-md);
}

.ef3116c2da186559-tree {
	background: var(--bg-overlay-app-frame, var(--sidebar_bg_color));
	border-right: 1px solid var(--sidebar_border_color);
}

// guild
._6e9f8dce4cc18de3-wrapper {
	border-radius: 50%;

	transition: var(--backdrop_transition);

	&[aria-selected="true"] {
		border-radius: 25%;
	}

	._6e9f8dce4cc18de3-childWrapper {
		@include controls.button-basic-raised;

		color: inherit;
		border-radius: inherit;
	}

	img {
		border-radius: inherit;
	}
}
