.guilds_c48ade {
	margin: 0;
}

.guildSeparator__252b6 {
	background-color: var(--sidebar_border_color);

	width: calc(100% - var(--spacing) * 2);
}

.scroller_ef3116 {
	padding-top: var(--space-md);
}

.tree_ef3116 {
	background: var(--bg-overlay-app-frame, var(--sidebar_bg_color));
	border-right: 1px solid var(--sidebar_border_color);
}
