[data-list-id="guildsnav"] {
	background-color: var(--sidebar_bg_color);
	border-right: 1px solid var(--secondary_sidebar_border_color);

	.scroller_ef3116 {
		padding-top: var(--space-md);
	}

	.footer__214dc {
		display: none;
	}
}

.guilds_c48ade {
	margin: 0;
}

.guildSeparator__252b6 {
	background-color: var(--sidebar_border_color);

	width: calc(100% - var(--spacing) * 2);
}
