@use "controls";

.circleIconButton__5bc7e {
	@include controls.icon-button(
		// There is only one like that anyway
		$name: "plus",
		$size: var(--guildbar-avatar-size)
	);

	border-radius: 50%;
}

.guilds_c48ade {
	margin: 0;
}

.guildSeparator__252b6 {
	background-color: var(--sidebar_border_color);

	width: calc(100% - var(--spacing) * 2);
}

.listItemWrapper__91816 {
	transform: none;
}

.scroller_ef3116 {
	padding-top: var(--space-md);
}

.tree_ef3116 {
	background: var(--bg-overlay-app-frame, var(--sidebar_bg_color));
	border-right: 1px solid var(--sidebar_border_color);
}

// guild
.wrapper__6e9f8 {
	border-radius: 50%;

	transition: var(--backdrop_transition);

	&[aria-selected="true"] {
		border-radius: 25%;
	}

	.childWrapper__6e9f8 {
		@include controls.button-basic-raised;

		border-radius: inherit;
	}

	img {
		border-radius: inherit;
	}
}
