@use "controls";
@use "typography";

// vc
.container_e131a9 {
	border-bottom: 1px solid var(--secondary_sidebar_border_color);
	padding: var(--spacing);
	margin: 0;
}

.panels_c48ade {
	background: var(--bg-overlay-app-frame, var(--background-secondary-alt));
	border: none;
	border-top: 1px solid var(--secondary_sidebar_border_color);
	border-radius: 0;

	bottom: 0;
	left: var(--custom-guild-list-width);
	width: calc(
		var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)
	);

	// also vc
	.activityPanel_c48ade {
		background-color: inherit;
		border-bottom: var(--secondary_sidebar_border_color);
		border-radius: 0;
	}

	.avatarWrapper__37e49 {
		@include controls.button-basic-raised;

		background-color: transparent;
		border-radius: 0;
		padding: var(--spacing);
	}

	.button__201d5 {
		@include controls.icon-button;

		color: inherit;
	}

	.button_e131a9 {
		@include controls.icon-button;
	}

	.container__37e49 {
		padding: 0;
		margin: 0;
		margin-right: var(--spacing);
	}

	.micButtonParent__37e49,
	[aria-label="Deafen"] {
		display: none;
	}
}

.panelTitleContainer__37e49 > div {
	@extend %title-3;

	color: var(--window_fg_color);
}

.rtcConnectionStatus__06d62 .button__201d5 {
	width: unset;
	height: unset;

	&::before {
		display: none;
	}

	& > * {
		display: initial;
	}
}

// There are only 2 buttons and 1 of them has a constant aria-label, the other
// doesn't
.voiceButtonsContainer_e131a9 {
	--icon: icon("sound-wave");
}
