@use "controls";
@use "typography";

// vc
.container_e131a9 {
	border-bottom: 1px solid var(--secondary_sidebar_border_color);
	padding: var(--spacing);
	margin: 0;
}

.panels_c48ade {
	background: var(--bg-overlay-app-frame, var(--background-secondary-alt));
	border: none;
	border-top: 1px solid var(--secondary_sidebar_border_color);
	border-radius: 0;

	bottom: 0;
	left: var(--custom-guild-list-width);
	width: calc(
		var(--custom-guild-sidebar-width) - var(--custom-guild-list-width)
	);
	--icon: icon("bullhorn");

	// also vc
	.activityPanel_c48ade {
		background-color: inherit;
		border-bottom: var(--secondary_sidebar_border_color);
		border-radius: 0;
	}

	.avatarWrapper__37e49 {
		@include controls.button-basic-raised;

		background-color: transparent;
		border-radius: 0;
		padding: var(--spacing);
		margin: 0;

		min-width: 0;

		.nameTag__37e49 {
			@container (max-width: 260px) {
				display: none;
			}
		}
	}

	.button__201d5 {
		@include controls.icon-button;

		color: inherit;
	}

	.buttons__37e49 {
		gap: var(--spacing);
	}

	.container__37e49 {
		padding: 0;
		padding-right: var(--spacing);
		margin: 0;

		height: unset;
	}
}

.micButtonParent__37e49 {
	@include controls.split-button(
		$lhs: ".micButtonWithMenu__37e49",
		$rhs: ".buttonChevron__37e49"
	);

	&.hasColorGlow__37e49 {
		color: var(--destructive-color);

		// aria-label stays the same, bug ?
		&:nth-child(1) .micButtonWithMenu__37e49 {
			--icon: icon("mic-none");
		}

		&:nth-child(2) .micButtonWithMenu__37e49 {
			--icon: icon("headphones-muted");
		}
	}

	.button__67645 {
		color: inherit;
	}

	.buttonChevron__37e49 {
		margin: 0;
	}
}

.panelTitleContainer__37e49 {
	margin: 0;

	& > div {
		@extend %title-3;

		color: var(--window_fg_color);
	}
}

.rtcConnectionStatus__06d62 .button__201d5 {
	width: unset;
	height: unset;

	&::before {
		display: none;
	}

	& > * {
		display: initial;
	}
}

// There are only 2 buttons and 1 of them has a constant aria-label, the other
// doesn't
.voiceButtonsContainer_e131a9 {
	--icon: icon("sound-wave");
}
