@use "../mixins";

* {
	font-weight: 500;
}

strong {
	font-weight: 700;
}

::selection {
	background-color: var(--selection-bg);
}

// 2. "Browser channels"
// 3. what is this used for ?
// 5. No idea what icon, and it's pretty useless anyway
.sectionDivider__629e4,
#channels > ul > [role="button"],
.privateChannelsHeaderContainer__99e7c,
[aria-label="Open sticker picker"],
[href="https://support.discord.com"]
{
	display: none;
}

[class*="card_"] {
	@extend %card-with-actual-border-radiuses;

	margin: 0;
}
