@use "../mixins";

* {
  font-weight: 500 !important;
  scrollbar-width: none !important;
}

strong {
  font-weight: 700 !important;
}

::selection {
  background-color: var(--selection-bg) !important;
}

// 2. "Browser channels"
// 3. what is this used for ?
// 4. Nitro
// 5. No idea what icon, and it's pretty useless anyway
.sectionDivider_c43953,
#channels > ul> [role="button"],
.privateChannelsHeaderContainer_c47fa9,
[aria-label="Direct Messages"] > :is(:nth-child(3), :nth-child(4)),
[aria-label="Open sticker picker"],
[href="https://support.discord.com"]
{
  display: none !important;
}

[class*="card_"] {
  @extend %card-with-actual-border-radiuses;

  margin: 0 !important;
}
