// I may create a script in the future for this exact purpose when the theme is
// fully done, but for now you may localize this file into your own language by
// changing the left hand side of the -gen-icons mixin, but note:
//
// 1. There will be *no support* for anything but English (US) because of
//    potential performance issues (I did not test this, but there's a chance
//    Discord doesn't like *that* many attribute selectors). You may instead
//    create a gist with the built "dist/global/icons.css" file and import it.
//
// 2. I forgot what I wanted to type here.

@mixin -gen-icons($attr, $map) {
	@each $id, $icon in $map {
		[#{$attr}="#{$id}"] {
			--icon: icon(#{$icon});
		}
	}
}

// Common
@include -gen-icons(
	"aria-label",
	(
		"Close": "window-close",
		"More": "menu",
	)
);

// Chat toolbar
@include -gen-icons(
	"aria-label",
	(
		"Add Friends to DM": "contact-new",
		// TODO(experiment): remove later ? nitro only
		"Bookmarks": "user-bookmarks",
		"Hide Member List": "org.gnome.Settings-users",
		"Hide User Profile": "user-info",
		// TODO(experiment): remove in the future in favor of notifications
		"Inbox": "mail-unread",
		"New Group DM": "contact-new",
		"Notification Settings": "bell-outline",
		"Notifications": "bell-outline",
		"Pinned Messages": "pin",
		// VC
		"Show Chat": "chat",
		"Show Member List": "org.gnome.Settings-users",
		"Show User Profile": "user-info",
		"Show User Profile (Unavailable)": "user-info",
		"Start Video Call": "camera-photo",
		"Start Voice Call": "phone-right-facing",
		"Threads": "chat-bubbles-empty-inverted",
	)
);

// Channels list
@include -gen-icons(
	"aria-label",
	(
		"Announcements icon": "bullhorn",
		"Forum icon": "chat-bubbles-empty-inverted",
		"Rules icon": "notepad",
		"Voice icon": "phone-right-facing",
	)
);

// User panel
@include -gen-icons(
	"aria-label",
	(
		"Camera Unavailable": "camera-disabled",
		"Disconnect": "window-close",
		"Leave Activity": "log-out",
		"Open Soundboard": "bullhorn",
		"Share Your Screen": "record-screen",
		"Start An Activity": "emoji-activities",
		"Stop Streaming": "stop",
		"Turn Off Camera": "camera-photo",
		"Turn On Camera": "camera-photo",
		// TODO(#41): no aria-label
		"User Settings": "settings",
		"Video": "camera-photo",
	)
);

// Home page
@include -gen-icons(
	"aria-label",
	(
		"Accept": "check-plain",
		"Cancel": "window-close",
		"Ignore": "window-close",
		"Message": "chat-bubbles-empty-inverted",
	)
);

// Message actions
@include -gen-icons(
	"aria-label",
	(
		"Add Reaction": "reaction-add2",
		"Copy Link": "edit-copy",
		"Create Thread": "chat",
		"Delete": "user-trash",
		"Edit": "edit",
		"Forward": "arrow-turn-right-horizontal2",
		"Mark Unread": "arrow-circular-top-right",
		"Pin Message": "pin",
		"Reply": "arrow-hook-left-horizontal2",
	)
);

// Message form
@include -gen-icons(
	"aria-label",
	(
		"Open GIF picker": "image-round",
		"Select emoji": "emoji-people",
		"Send Message": "paper-plane",
	)
);

// Attachment actions
@include -gen-icons(
	"aria-label",
	(
		"Modify Attachment": "edit",
		"Remove Attachment": "user-trash",
		"Spoiler Attachment": "eye-not-looking",
	)
);

// Group chat
@include -gen-icons(
	"aria-label",
	(
		"Dismiss": "log-out",
		"Join Call": "phone-right-facing",
		"Join Video Call": "camera-photo",
	)
);

// VC
@include -gen-icons(
	"aria-label",
	(
		"Full Screen": "view-fullscreen",
		"More Options": "menu",
		"Mute": "microphone",
		"Pop Out": "pip-in",
		"Unmute": "mic-none",
	)
);

// Image carousel modal
@include -gen-icons(
	"aria-label",
	(
		"Forward": "mail-forward",
		"Next": "go-next",
		"Open in Browser": "external-link",
		"Previous": "go-previous",
		"Zoom In": "loupe-plus-large",
		"Zoom Out": "loupe-minus-large",
	)
);

// User profile popout
@include -gen-icons(
	"aria-label",
	(
		"Add Friend": "plus",
		"Add Role": "plus",
		"Friend": "person",
		"Open in Mod View": "key5",
	)
);

// Vencord
@include -gen-icons(
	"aria-label",
	(
		// Everything below until last comment is in the message form
		"Disable Game Activity": "xbox-controller",
		"Disable Silent Message": "bell-outline",
		"Disable Silent Typing": "keyboard3",
		"Enable Game Activity": "xbox-controller-none",
		"Enable Silent Message": "bell-outline-none",
		"Enable Silent Typing": "keyboard3-none",
		"Encrypt Message": "padlock2",
		"Open Translate Modal": "translate",
		// Message actions
		"Translate": "translate",
		// Seen in user profile popout
		"View Reviews": "notepad"
	)
);

// Settings dialog
@include -gen-icons(
	"data-tab-id",
	(
		// User settings
		"Accessibility": "body",
		"Activity Privacy": "screen-privacy4",
		"Advanced": "wrench-wide",
		"Appearance": "brush-monitor",
		"Authorized Apps": "grid-large",
		"Connections": "phonelink",
		"Content & Social": "shield-full",
		"Data & Privacy": "screen-privacy4",
		"Family Center": "eye-open-negative-filled",
		"Friend Requests": "contact-new",
		"Keybinds": "keyboard3",
		"Language": "translate",
		"logout": "system-log-out",
		"My Account": "person",
		"Notifications": "bell-outline",
		"Profile Customization": "edit",
		"Sessions": "smartphone",
		"Settings Clips": "microphone",
		"Streamer Mode": "camera-photo",
		"Text & Images": "chat",
		"VencordCloud": "cloud-filled",
		"VencordPlugins": "puzzle-piece",
		"VencordSettingsSync": "history-undo",
		"VencordThemes": "larger-brush",
		"VencordUpdater": "update",
		"Voice & Video": "microphone",

		// Server settings
		"ACCESS": "padlock2",
		"ANALYTICS": "info-outline",
		"APP_DIRECTORY": "grid-large",
		"AUDIT_LOG": "notepad",
		"BANS": "circle-crossed",
		"BOOST_PERKS": "credit-card",
		"COMMUNITY": "org.gnome.Settings-users",
		"EMOJI": "emoji-people",
		"ENGAGEMENT": "info-outline",
		"GUILD_AUTOMOD": "shield-full",
		"GUILD_PREMIUM": "credit-card",
		"GUILD_TEMPLATES": "folder-templates",
		"INTEGRATIONS": "grid-large",
		"INVITES": "paper-plane",
		"MEMBERS": "org.gnome.Settings-users",
		"MODERATION": "shield-full",
		"PROFILE": "info-outline",
		"ROLES": "view-list",
		"STICKERS": "image-round",
		"SOUNDBOARD": "bullhorn",

		// Channel settings
		"DELETE": "window-close",
		"INSTANT_INVITES": "paper-plane",
		"OVERVIEW": "info-outline",
		"PERMISSIONS": "org.gnome.Settings-users"
	)
);
