@use "typography";

// Reference: _labels.scss

html {
	font-size: var(--document-font-size);
}

::selection {
	background-color: color-mix(in srgb, var(--view_fg_color) 10%, transparent);

	.app-focused & {
		background-color: color-mix(
			in srgb,
			var(--accent-bg-color) 30%,
			transparent
		);
	}
}

[data-text-variant] {
	line-height: 1.2;
	text-transform: none;
}

._2b1f52e43a8f1c02-eyebrow:not(._2b1f52e43a8f1c02-numberBadge),
.b717a15017b82443-h1,
.b717a15017b82443-h2,
.b717a15017b82443-h3,
.b717a15017b82443-h4,
.b717a15017b82443-h5 {
	@extend %title-3;

	letter-spacing: 0;
	margin-bottom: 16px;
}

[data-text-variant^="heading-lg"],
[data-text-variant^="heading-x"] {
	@extend %title-1;
}

[data-text-variant^="heading-md"] {
	@extend %title-2;
}

[data-text-variant^="heading-deprecated-12"],
[data-text-variant^="heading-sm"] {
	@extend %title-4;
}

.ddd1814f7cd3e6fd-description,
[data-text-variant^="text-sm"],
[data-text-variant^="text-xs"] {
	@extend %caption;
}

[data-text-variant^="text-md"] {
	@extend %title-3;
}

.edefb8e22d63c542-anchor {
	@extend %link;

	opacity: 1;
}
