@use "../mixins/text";

// Reference: _labels.scss

::selection {
	background-color: color-mix(in srgb, var(--view_fg_color) 10%, transparent);
	color: transparent;

	&:focus-within {
		background-color: color-mix(
			in srgb,
			var(--accent_bg_color) 30%,
			transparent
		);
	}
}

[data-text-variant] {
	line-height: 1.25;
	text-transform: none;
}

.eyebrow__2b1f5:not(.numberBadge__2b1f5),
.h1_b717a1,
.h2_b717a1,
.h3_b717a1,
.h4_b717a1,
.h5_b717a1 {
	@extend %title-3;

	margin-bottom: 16px;
}

// TODO: Placeholder header seems to be larger
[data-text-variant^="heading-lg"],
[data-text-variant^="heading-x"] {
	@extend %title-1;
}

[data-text-variant^="heading-md"] {
	@extend %title-2;
}

[data-text-variant^="heading-deprecated-12"],
[data-text-variant^="heading-sm"] {
	@extend %title-4;
}

.description_ddd181,
[data-text-variant^="text-sm"],
[data-text-variant^="text-xs"] {
	@extend %caption;
}

[data-text-variant^="text-md"] {
	@extend %title-3;
}

// links
.anchor_edefb8[href] {
	opacity: 1;
	color: var(--accent_color);
	text-decoration: underline;

	transition: var(--backdrop_transition);
}
