@use "../mixins";

/** headers **/
[data-text-variant] {
	text-transform: none !important;
}

/* .title-3 in _labels */
// TODO: multiple?
[class*="username_"],
.displayedNick_b0286e,
[class*="activityName_"],
.privateChannels_f0963d::before,
[href^="/channels/@me"] .name_ec8679,
.peopleColumn_c2739c h2,
.themeTitle_a614a7 > div,
[data-text-variant^="text-md"] {
	@extend %title-3;
}

.eyebrow_df8943:not(.numberBadge_df8943),
.h1_c46f6a,
.h2_c46f6a,
.h3_c46f6a,
.h4_c46f6a,
.h5_c46f6a,
.h6_c46f6a {
	@extend %title-3;

	margin-bottom: 16px !important;
}

.panelTitleContainer_b2ca13 > div {
	@extend %title-3;

	color: var(--window_fg_color) !important;
}

.membersGroup_cbd271 {
	color: var(--window_fg_color) !important;

	& > span {
		@extend %title-3;
	}
}

/* .title-1 */
/* TODO: Placeholder header seems to be larger */
.flexChild_dc333f[direction^="vertical_"] > :first-child,
.markup_f8f345 :is(h1, h2, h3) *,
.embedProvider_b0068a > *,
[data-text-variant^="heading-lg"],
[data-text-variant^="heading-x"] {
	font-weight: 800 !important;
	font-size: 20px !important;
}

/* .title-2 */
// 2. Special case for DMs (header)
// 4. Search results
.sidebar_a4d4d9 h2,
.titleWrapper_fc4f04 > h1 > div,
.embedAuthor_b0068a *,
.channelNameText_a9e225 > span,
[data-text-variant^="heading-md"] {
	font-weight: 800 !important;
	font-size: 15px !important;
}

/* .title-4 */
.embedTitle_b0068a > *,
[class*="resultsGroup_"] > [class*="header_"],
.flexChild_dc333f[direction^="vertical_"] > :last-child:not(:only-child),
[data-text-variant^="heading-deprecated-12"],
[data-text-variant^="heading-sm"] {
	font-weight: 700 !important;
	font-size: 13px !important;

	text-transform: none !important;
	letter-spacing: 0 !important;
}

.flexChild_dc333f[direction^="vertical_"] {
	& > * {
		color: var(--window_fg_color);
		text-transform: unset;
	}

	& > :last-child:not(:only-child) {
		font-size: 14px;
	}

	.text_a3747e {
		margin-top: 8px;
	}
}

.labelRow_ed1d57 .title_ed1d57 {
	font-size: 15px;
	margin-right: 8px;
}

/* .caption */
[class*="playTime_"],
[class*="cozy_"] [class*="timestamp_"],
.peopleListItem_d51464 [class*="subtext_"] > *,
[class*="title_"] [class*="topic_"],
[data-list-id="chat-messages"] [role="separator"] > span,
.searchResultChannelCategory_b0286e,
[class*="displayUsername_"],
[data-text-variant^="text-sm"],
[data-text-variant^="text-xs"],
[class*="subText_"],
.description_b89ec7 {
	color: var(--window_fg_muted) !important;
	font-weight: 400 !important;
	font-size: 9pt !important;
}

[class*="note_"] {
	margin: 0 !important;
	margin-right: 48px !important;
}

.sidebar_a4d4d9 h2 {
	margin: auto !important;
}

/* links */
.anchor_af404b[href] {
	opacity: 1 !important;
	color: var(--accent_color) !important;
	text-decoration: underline !important;

	transition: var(--backdrop_transition);
}
