@use "typography";

// Reference: _labels.scss

html[style*="font-size: 100%"] {
	// 16px -> 15px
	font-size: 93.75%;
}

::placeholder {
	color: var(--text-muted);
	font: inherit;
}

::selection {
	background-color: color-mix(in srgb, var(--view_fg_color) 10%, transparent);

	.app-focused & {
		background-color: color-mix(
			in srgb,
			var(--accent-bg-color) 30%,
			transparent
		);
	}
}

[data-text-variant] {
	line-height: 1.2;
}

.eyebrow__463b7:not(.numberBadge__463b7) {
	@extend %heading;

	letter-spacing: 0;
	margin-bottom: 16px;
}

:where([data-text-variant^="heading-lg"]),
:where([data-text-variant^="heading-x"]) {
	@extend %title-2;
}

:where([data-text-variant^="heading-md"]) {
	@extend %title-3;
}

:where([data-text-variant^="heading-sm"]) {
	@extend %title-4;
}

:where([data-text-variant^="text-sm"]),
:where([data-text-variant^="text-xs"]) {
	@extend %caption;
}

:where([data-text-variant^="text-md"]) {
	@extend %heading;
}

:where(.anchor_edefb8) {
	@extend %link;

	opacity: 1;
}
