.theme-light,
.theme-dark {
	// libadwaita 1.7
	--ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--backdrop_transition: 200ms ease-out;
	--focus_transition: outline-color 200ms var(--ease-out-quad),
		outline-width 200ms var(--ease-out-quad),
		outline-offset 200ms var(--ease-out-quad);
	--button_transition: background 200ms var(--ease-out-quad),
		box-shadow 200ms var(--ease-out-quad);
	--popover_shadow: 0 1px 5px 1px color-mix(in srgb, black 9%, transparent),
		0 2px 14px 3px color-mix(in srgb, black 5%, transparent);

	--document-font-family: "Adwaita Sans", sans-serif;
	--document-font-size: 11pt;
	--monospace-font-family: "Adwaita Mono", monospace;
	--monospace-font-size: 11pt;

	// found in _colors.scss
	--osd_bg_color: rgba(0, 0, 0, 0.7);
	--osd_fg_color: rgba(255, 255, 255, 0.9);

	--button_radius: 9px;
	--card_radius: 12px;
	--menu_radius: 9px;
	--menu_margin: 6px;
	--menu_padding: 12px;
	--window_radius: calc(var(--button_radius) + 6px);
	--popover_radius: calc(var(--menu_radius) + 6px);

	/** my **/
	--base-unit: 6px;
	--icon-size: 16px;

	// TODO: discord actually has --space-4/8, etc. and --space-xxs/xs, etc.
	--spacing-05x: calc(var(--base-unit) / 2);
	--spacing: var(--base-unit);
	--spacing-2x: calc(var(--base-unit) * 2);

	--banner-bg: color-mix(
		in srgb,
		var(--accent_bg_color) 30%,
		var(--window_bg_color)
	);
	--switch-transition: 100ms;
	--backdrop: color-mix(in srgb, black 25%, transparent);
	--dim-level-opacity: 50%;

	--headerbar-height: 46px;
	--icon-button-size: 34px;
	--settings-dialog-size: 80%;
	--sidebar-width: 263px;
	--content-width: 575px;

	font-size: var(--document-font-size);

	@media (prefers-reduced-motion) {
		--backdrop_transition: none;
		--button_transition: none;
		--focus_transition: none;
		--switch-transition: none;
	}
}

// CSD/SSD support
:root {
	--app-border-size: 0px;
	--titlebar-button-size: 24px;
	--titlebar-button-spacing: 12px;
	--titlebar-right-button-size: calc(
		var(--titlebar-button-size) + var(--titlebar-button-spacing)
	);
	--titlebar-right-spacing: 0px;

	// Fallback for me because I'm not downloading this every single day
	// multiple times LOOOL
	--titlebar-minimize-button: 0px;
	--titlebar-maximize-button: 0px;
	--titlebar-close-button: var(--titlebar-right-button-size);

	&.platform-win {
		--app-border-size: 1px;
		--titlebar-right-spacing: calc(
			var(--titlebar-minimize-button) + var(--titlebar-maximize-button) +
				var(--titlebar-close-button)
		);
	}
}

// Discord
.theme-light,
.theme-dark {
	--background-primary: var(--window_bg_color);
	--background-secondary: var(--secondary_sidebar_bg_color);
	--background-secondary-alt: var(--secondary_sidebar_bg_color);
	--background-tertiary: var(--sidebar_bg_color);
	--background-floating: var(--popover_bg_color);

	--bg-base-tertiary: var(--sidebar_bg_color);
	--background-base-low: var(--window_bg_color);
	--background-base-lower: var(--window_bg_color);
	--background-base-lowest: var(--secondary_sidebar_bg_color);
	--background-surface-high: var(--popover_bg_color);
	--background-surface-higher: var(--popover_bg_color);
	--background-surface-highest: var(--popover_bg_color);

	--background-modifier-hover: color-mix(
		in srgb,
		currentColor var(--bg-hover-percentage),
		transparent
	);
	--background-modifier-active: color-mix(
		in srgb,
		currentColor var(--bg-active-percentage),
		transparent
	);
	--background-modifier-selected: color-mix(
		in srgb,
		currentColor var(--bg-selected-percentage),
		transparent
	);
	--background-modifier-accent: color-mix(
		in srgb,
		var(--window_fg_color) var(--separator-percentage),
		var(--window_bg_color)
	);

	--background-message-hover: var(--sidebar_bg_color);
	--background-mentioned: color-mix(
		in srgb,
		var(--warning_bg_color) 10%,
		transparent
	);
	--background-mentioned-hover: color-mix(
		in srgb,
		var(--warning_bg_color) 20%,
		transparent
	);
	--background-message-highlight: color-mix(
		in srgb,
		var(--accent_bg_color) 10%,
		transparent
	);
	--background-message-highlight-hover: color-mix(
		in srgb,
		var(--accent_bg_color) 20%,
		transparent
	);

	--modal-footer-background: transparent;

	--text-danger: var(--destructive_color);
	--text-link: var(--accent_color);
	--text-muted: var(--window_fg_muted);
	--text-normal: var(--window_fg_color);
	--text-positive: var(--success_color);
	--text-primary: var(--window_fg_color);
	--text-secondary: var(--window_fg_muted);
	--text-tertiary: var(--window_fg_muted);
	--text-warning: var(--warning_color);

	--header-primary: var(--window_fg_color);
	--header-secondary: var(--window_fg_color);
	--header-muted: var(--window_fg_color);

	--interactive-normal: var(--window_fg_color);
	--interactive-active: var(--window_fg_color);
	--interactive-hover: var(--window_fg_color);
	--interactive-muted: var(--window_fg_muted);

	--channel-text-area-placeholder: var(--text-muted);
	--channels-default: var(--window_fg_color);
	--embed-title: var(--window_fg_color);

	--status-danger: var(--destructive_color);
	--status-dnd: var(--destructive_color);
	--status-idle: var(--warning_color);
	--status-offline: var(--text-muted);
	--status-online: var(--success_color);
	--status-positive: var(--success_color);
	--status-positive-background: var(--success_color);
	--status-positive-text: var(--window_fg_color);
	--status-speaking: var(--success_color);
	--status-warning: var(--warning_color);
	--status-warning-background: var(--warning_bg_color);
	--status-warning-text: var(--warning_fg_color);

	--custom-app-top-bar-height: 0px;
	--chat-markup-line-height: 1.5rem;
	--custom-standard-sidebar-view-sidebar-total-width: var(--sidebar-width);

	--custom-margin-margin-x-small: 16px;
	--custom-margin-margin-small: 16px;
	--custom-margin-margin-medium: 16px;
	--custom-margin-margin-large: 16px;
	--custom-margin-margin-x-large: 16px;

	--elevation-stroke: 0 0 0 1px var(--window_border_color);
	// prettier-ignore
	--elevation-low: 
		0 1px color-mix(in srgb, var(--headerbar_shade_color) 50%, transparent),
		0 2px 4px color-mix(in srgb, var(--headerbar_shade_color) 50%, transparent);
	// prettier-ignore
	--elevation-medium:
		0 0 0 1px rgb(0 0 6 / 3%),
		0 1px 3px 1px rgb(0 0 6 / 7%),
		0 2px 6px 2px rgb(0 0 6 / 3%);
	// prettier-ignore
	--elevation-high:
		0 1px 3px 3px transparent,
		0 2px 8px 2px rgb(0 0 6 / 7%),
		0 3px 20px 10px rgb(0 0 6 / 5%),
		0 6px 32px 16px rgb(0 0 6 / 2%),
		0 0 0 1px rgb(0 0 6 / 5%);

	--legacy-elevation-low: var(--elevation-low);
	--legacy-elevation-high: var(--elevation-high);
	--legacy-elevation-border: var(--elevation-stroke);

	$shadows: (
		border: stroke,
		ledge: low,
		low: low,
		low-active: low,
		low-hover: low,
		medium: medium,
		high: high,
		top-low: low,
		top-high: high,
		top-ledge: stroke,
	);

	@each $name, $type in $shadows {
		--shadow-#{$name}: var(--elevation-#{$type});
		--shadow-#{$name}-filter: drop-shadow(var(--elevation-#{$type}));
	}

	--radius-xs: var(--base-unit);
	--radius-sm: var(--base-unit);
	--radius-md: calc(var(--base-unit) * 2);
	--radius-lg: calc(var(--base-unit) * 2);
	--radius-xl: calc(var(--base-unit) * 3);
	--radius-xxl: calc(var(--base-unit) * 3);

	--font-primary: var(--document-font-family);
	--font-display: var(--document-font-family);
	--font-headline: var(--document-font-family);
	--font-code: var(--monospace-font-family);
}

// Nitro themes
.custom-theme-background {
	--nitro-border: rgb(
		var(--bg-overlay-color-inverse) / var(--bg-overlay-opacity-6)
	);

	--background-modifier-accent: var(--nitro-border);
	--secondary_sidebar_border_color: var(--nitro-border);
	--window_border_color: var(--nitro-border);
}

// Reference: https://gitlab.gnome.org/GNOME/libadwaita/-/blob/main/doc/css-variables.md?ref_type=heads

.theme-light {
	--accent_color: #1c71d8;
	--accent_bg_color: #3584e4;
	--accent_fg_color: #ffffff;
	--destructive_color: #c30000;
	--destructive_bg_color: #e01b24;
	--destructive_fg_color: #ffffff;
	--success_color: #007c3d;
	--success_bg_color: #2ec27e;
	--success_fg_color: #ffffff;
	--warning_color: #905400;
	--warning_bg_color: #e5a50a;
	--warning_fg_color: rgba(0, 0, 0, 0.8);
	--error_color: #c30000;
	--error_bg_color: #e01b24;
	--error_fg_color: #ffffff;
	--window_bg_color: #fafafb;
	--window_fg_color: rgba(0, 0, 6, 0.8);
	--view_bg_color: #ffffff;
	--view_fg_color: rgba(0, 0, 6, 0.8);
	--headerbar_bg_color: #ffffff;
	--headerbar_fg_color: rgba(0, 0, 6, 0.8);
	--headerbar_border_color: rgba(0, 0, 6, 0.8);
	--headerbar_backdrop_color: #fafafb;
	--headerbar_shade_color: rgba(0, 0, 6, 0.12);
	--headerbar_darker_shade_color: rgba(0, 0, 6, 0.12);
	--sidebar_bg_color: #ebebed;
	--sidebar_fg_color: rgba(0, 0, 6, 0.8);
	--sidebar_backdrop_color: #f2f2f4;
	--sidebar_border_color: rgba(0, 0, 6, 0.07);
	--sidebar_shade_color: rgba(0, 0, 6, 0.07);
	--secondary_sidebar_bg_color: #f3f3f5;
	--secondary_sidebar_fg_color: rgba(0, 0, 6, 0.8);
	--secondary_sidebar_backdrop_color: #f6f6fa;
	--secondary_sidebar_border_color: rgba(0, 0, 6, 0.07);
	--secondary_sidebar_shade_color: rgba(0, 0, 6, 0.07);
	--card_bg_color: #ffffff;
	--card_fg_color: rgba(0, 0, 6, 0.8);
	--card_shade_color: rgba(0, 0, 6, 0.07);
	--thumbnail_bg_color: #ffffff;
	--thumbnail_fg_color: rgba(0, 0, 0, 0.8);
	--dialog_bg_color: #fafafb;
	--dialog_fg_color: rgba(0, 0, 6, 0.8);
	--popover_bg_color: #ffffff;
	--popover_fg_color: rgba(0, 0, 6, 0.8);
	--popover_shade_color: rgba(0, 0, 6, 0.07);
}

.theme-dark {
	--accent_color: #78aeed;
	--accent_bg_color: #3584e4;
	--accent_fg_color: #ffffff;
	--destructive_color: #ff938c;
	--destructive_bg_color: #c01c28;
	--destructive_fg_color: #ffffff;
	--success_color: #78e9ab;
	--success_bg_color: #26a269;
	--success_fg_color: #ffffff;
	--warning_color: #ffc252;
	--warning_bg_color: #cd9309;
	--warning_fg_color: rgba(0, 0, 0, 0.8);
	--error_color: #ff7b63;
	--error_bg_color: #c01c28;
	--error_fg_color: #ffffff;
	--window_bg_color: #222226;
	--window_fg_color: #ffffff;
	--view_bg_color: #1d1d20;
	--view_fg_color: #ffffff;
	--headerbar_bg_color: #2e2e32;
	--headerbar_fg_color: #ffffff;
	--headerbar_border_color: #ffffff;
	--headerbar_backdrop_color: #222226;
	--headerbar_shade_color: rgba(0, 0, 6, 0.36);
	--headerbar_darker_shade_color: rgba(0, 0, 6, 0.9);
	--sidebar_bg_color: #2e2e32;
	--sidebar_fg_color: #ffffff;
	--sidebar_backdrop_color: #28282c;
	--sidebar_border_color: rgba(0, 0, 6, 0.36);
	--sidebar_shade_color: rgba(0, 0, 6, 0.25);
	--secondary_sidebar_bg_color: #28282c;
	--secondary_sidebar_fg_color: #ffffff;
	--secondary_sidebar_backdrop_color: #252529;
	--secondary_sidebar_border_color: rgba(0, 0, 6, 0.36);
	--secondary_sidebar_shade_color: rgba(0, 0, 6, 0.25);
	--card_bg_color: rgba(255, 255, 255, 0.08);
	--card_fg_color: #ffffff;
	--card_shade_color: rgba(0, 0, 6, 0.36);
	--thumbnail_bg_color: #39393d;
	--thumbnail_fg_color: #ffffff;
	--dialog_bg_color: #36363a;
	--dialog_fg_color: #ffffff;
	--popover_bg_color: #36363a;
	--popover_fg_color: #ffffff;
	--popover_shade_color: rgba(0, 0, 6, 0.25);
}

// my colors, cuz idk what these colors are
.theme-light {
	--bg-selected-percentage: 7.5%;
	--bg-active-percentage: 13.75%;
	--bg-hover-percentage: 4.75%;
	--separator-percentage: 21.75%;

	--window_border_color: #d4d4d4;
	--window_fg_muted: #909090;
	--selection-bg: #b4cce9;

	--card_bg_hover_color: #f9f9f9;
	--card_bg_active_color: #efefef;
}

.theme-dark {
	--bg-selected-percentage: 7.5%;
	--bg-active-percentage: 13.75%;
	--bg-hover-percentage: 4.75%;
	--separator-percentage: 13.25%;

	--window_border_color: #333;
	--window_fg_muted: #959595;
	--selection-bg: #344c69;

	--card_bg_hover_color: color-mix(
		in srgb,
		var(--window_fg_color) 11%,
		transparent
	);
	--card_bg_active_color: color-mix(
		in srgb,
		var(--window_fg_color) 15.5%,
		transparent
	);
}
