#app-mount {
	color: var(--window_fg_color);
	border: var(--app-border-size) solid var(--window_border_color);
	border-radius: var(--window_radius);

	width: calc(100% - var(--app-border-size) * 2);
	height: calc(100% - var(--app-border-size) * 2);
}

.bar_c38106 {
	background: none;
	padding: 0;

	position: fixed;
	top: var(--titlebar-button-spacing);
	right: var(--titlebar-button-spacing);
	z-index: 101;
	height: unset;
}

.title_c38106 {
	display: none;
}

// TODO: lmao
.winButton_c38106 {
	margin-left: calc(
		max(var(--titlebar-right-button-size), var(--titlebar-button-size)) - var(
				--titlebar-button-size
			)
	);

	width: calc(
		var(--titlebar-right-button-size) - var(--titlebar-button-spacing)
	);
}

.winButtons_c38106 {
	gap: 0;
}

.winButtonClose_c38106 {
	--titlebar-right-button-size: var(--titlebar-close-button);
}

.winButtonMinMax_c38106 {
	--icon: icon("window-maximize");
	--titlebar-right-button-size: var(--titlebar-maximize-button);

	&:first-child {
		--icon: icon("window-minimize");
		--titlebar-right-button-size: var(--titlebar-minimize-button);
	}
}
