@use "../mixins/controls";

// TODO
.custom-theme-background {
	body {
		background: var(--bg-overlay-app-frame);
	}

	#app-mount {
		inset: var(--app-border-size);
		width: calc(100% - var(--app-border-size) * 2);
		height: calc(100% - var(--app-border-size) * 2);
	}
}

#app-mount {
	color: var(--window_fg_color);
	border-radius: var(--window_radius);

	&::before {
		content: "";

		position: absolute;
		inset: 1px;
		z-index: 9999;

		pointer-events: none;

		outline: var(--app-border-size) solid var(--window_outline_color);
		border-radius: calc(var(--window_radius) - 2px);
	}
}

.bar_c38106 {
	background: none;
	padding: 0;

	position: fixed;
	top: var(--titlebar-button-spacing);
	right: var(--titlebar-button-spacing);
	z-index: 101;
	height: unset;
}

.title_c38106 {
	display: none;
}

.winButton_c38106 {
	@extend %titlebar-button;

	// TODO: lmao
	margin-left: calc(
		max(var(--titlebar-right-button-size), var(--titlebar-button-size)) - var(
				--titlebar-button-size
			)
	);

	width: calc(
		var(--titlebar-right-button-size) - var(--titlebar-button-spacing)
	);
}

.winButtons_c38106 {
	gap: 0;
}

.winButtonClose_c38106 {
	--titlebar-right-button-size: var(--titlebar-close-button);
}

.winButtonMinMax_c38106 {
	--icon: icon("window-maximize");
	--titlebar-right-button-size: var(--titlebar-maximize-button);

	&:first-child {
		--icon: icon("window-minimize");
		--titlebar-right-button-size: var(--titlebar-minimize-button);
	}
}
