@use "controls";

.custom-theme-background {
	body {
		background: var(--bg-overlay-app-frame);
	}

	#app-mount {
		inset: var(--app-border-size);
		width: calc(100% - var(--app-border-size) * 2);
		height: calc(100% - var(--app-border-size) * 2);
	}
}

#app-mount {
	color: var(--window_fg_color);
	border-radius: var(--window_radius);

	&::before {
		content: "";

		position: absolute;
		inset: 1px;
		z-index: 9999;

		pointer-events: none;

		outline: var(--app-border-size) solid var(--window_outline_color);
		border-radius: calc(var(--window_radius) - 2px);
	}
}

.bar_c38106 {
	background: none;
	color: var(--headerbar_fg_color);
	padding: 0;

	position: fixed;
	top: var(--spacing);
	right: var(--titlebar-button-spacing);
	z-index: 101;
	height: unset;

	// Visible app banner
	&:nth-last-child(3) {
		margin-top: calc(var(--icon-button-size) + var(--spacing-2x));
	}
}

.title_c38106 {
	display: none;
}

.trailing_c38106 {
	gap: var(--spacing);

	[aria-label="Update Ready!"],
	[href="https://support.discord.com"]
	{
		display: none;
	}
}

.winButton_c38106 {
	@include controls.titlebar-button;
}

.winButtons_c38106 {
	color: inherit;
	gap: var(--titlebar-button-spacing);

	&::before {
		display: none;
	}
}

.winButtonClose_c38106 {
	display: var(--titlebar-close-button);
}

.winButtonMinMax_c38106 {
	--icon: icon("window-maximize");
	display: var(--titlebar-maximize-button);

	&:first-child {
		--icon: icon("window-minimize");
		display: var(--titlebar-minimize-button);
	}
}
