@use "../../mixins/controls";
@use "../../mixins/text";

.chat_f75fb0 {
	border: none;
}

.embedAuthor__623de * {
	@extend %title-2;
}

.embedProvider__623de > * {
	@extend %title-1;
}

.embedTitle__623de > * {
	@extend %title-4;
}

.message__5126c {
	.headerText_c19a55 {
		margin-right: 0rem;
	}

	&.cozy_c19a55 {
		.header_c19a55 {
			line-height: var(--chat-markup-line-height);
		}
	}

	&.compact_c19a55 {
		--custom-message-margin-compact-indent: calc(
			7.6rem + var(--custom-message-meta-space)
		);
		--custom-message-reply-indent: 1.375rem;

		i {
			opacity: 1;

			position: unset;
			display: unset;
		}

		.repliedMessage_c19a55 {
			--custom-message-reply-indent: 0rem;
			--timestamp-width: 11ch;

			margin-left: 0;

			& > span {
				opacity: 1;
			}
		}

		.replyBadge_c19a55 {
			margin-bottom: 0.25em;

			width: 1em;
			height: 1em;
		}

		.avatar_c19a55 {
			margin-left: 0;

			top: 0.15em;
		}

		.timestamp_c19a55 {
			font-family: var(--font-code);
			font-size: var(--monospace-font-size);
			line-height: var(--chat-markup-line-height);

			width: 11ch;
		}
	}

	.markup__75297 {
		font-weight: normal;

		:is(h1, h2, h3) * {
			@extend %title-1;
		}
	}
}

.timestamp_c19a55 {
	@extend %caption;
}

.username_c19a55 {
	@extend %title-3;
}

.chatLayerWrapper__01ae2 > .container__01ae2 {
	border-radius: 0;
}

.embed__623de {
	border-left-width: var(--radius-xs);
	border-radius: var(--radius-xs);

	.grid__623de {
		padding: 12px 8px;
	}

	[href] {
		color: inherit;
		text-decoration: none;
	}
}

.embedProvider__623de {
	margin-bottom: var(--spacing-05x);
}

.embedDescription__623de {
	font-size: 11pt;
}

.embedMedia__623de,
.embedVideo__623de {
	margin-top: var(--spacing);
}

.embedMedia__623de {
	border-radius: var(--radius-xs);
}

.buttonsInner__5126c {
	box-shadow: var(--elevation-medium);
	border-radius: var(--button_radius);
}

[aria-roledescription="Open Thread Button"] {
	@extend %button;

	height: unset;

	.cta__9271d {
		text-decoration: none;
	}
}
