#---new-messages-bar {
	--separator-spacing: 0px;

	margin-inline: var(--custom-message-margin-horizontal) 0;
	margin-block: calc(var(--spacing) + var(--separator-spacing));

	top: 0;

	.group-spacing-4 & {
		--separator-spacing: var(--space-sm);
	}

	.group-spacing-8 & {
		--separator-spacing: var(--space-lg);
	}

	.group-spacing-16 & {
		--separator-spacing: var(--space-xl);
	}

	.group-spacing-24 & {
		--separator-spacing: var(--space-xxl);
	}

	&::before {
		content: "NEW MESSAGES";

		background-color: var(--background-primary);
		color: var(--status-danger);
		font-weight: bold;
		padding: 0 var(--spacing);
	}

	& > span {
		display: none;
	}
}
