@use "controls";
@use "util";

%-banner {
	@include controls.banner;
	@include util.inactive-dim;

	border: none;
	border-radius: 0;
}

%-banner-button {
	@include controls.button;
}

// #region Server preview
.back_c5cd6a {
	margin: 0;

	position: unset;
}

.button_c5cd6a {
	@extend %-banner-button;
}

// revert %caption
.header_c5cd6a {
	color: inherit;
	margin: auto;

	order: -1;
}

.notice_c5cd6a {
	@extend %-banner;

	height: unset;
	justify-content: unset;
}
// #endregion

// #region Previous VC
.button__6e2b9 {
	@extend %-banner-button;

	margin-left: auto;

	top: 0;
}

.closeButton__6e2b9 {
	@extend %-banner-button;

	// Probably the only way to center the text
	margin-right: auto;

	position: unset;
	width: unset;
	height: unset;

	&::before {
		content: attr(aria-label);
	}
}

.closeIcon__6e2b9 {
	display: none;
}

.notice__6e2b9 {
	--custom-notice-text: var(--window_fg_color);

	@extend %-banner;

	text-align: center;
	line-height: unset;
	gap: var(--spacing);

	display: flex;
	align-items: center;
}
// #endregion
