@use "../../mixins/controls";

// TODO: don't remember where this is lol
.chatHeaderBar_dc83f5 {
	@extend %banner;

	&::after {
		display: none;
	}
}

.chatHeaderBarText_dc83f5 {
	text-align: center;
}

.barBase__0f481 {
	@extend %banner;

	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;

	position: unset;
	width: 100%;
	height: unset;
	min-height: unset;

	// TODO: selector
	.button__201d5 {
		@extend %button;
	}
}

.barButtonAlt__0f481 {
	@extend %button;
}

.barButtonBase__0f481 {
	text-align: center;
	padding: 0 var(--spacing);
}

.messagesWrapper__36d07 {
	flex-direction: column;
}
