@use "controls";

// "This channel is not on your channel list."
.chatHeaderBar_dc83f5 {
	@include controls.banner;

	border: none;
}

.chatHeaderBarText_dc83f5 {
	text-align: center;
}

.barBase__0f481 {
	@include controls.banner;

	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;

	position: unset;
	width: 100%;
	height: unset;
	min-height: unset;
}

.barButtonAlt__0f481 {
	@include controls.button;
}

.barButtonBase__0f481 {
	text-align: center;
	padding: 0 var(--spacing);
}
