@use "controls";

.actions_fcf29c {
	gap: var(--spacing);
}

.container_fcf29c {
	@extend %banner;

	border: none;
	border-radius: 0;
	box-shadow: none;
}

.noticeRegion__23e6b {
	padding: 0;

	position: relative;
	top: var(--headerbar-height);
	width: 100%;
	max-width: unset;

	// Remove animation
	opacity: 1;
	transform: translateY(0%) translateZ(0px);
}

.shrinkingContainer_fcf29c {
	text-align: center;
	width: 100%;
}
