@use "controls";
@use "util";

._9a9f981d3524e20f-actions {
	gap: var(--spacing);
}

._9a9f981d3524e20f-container {
	@include controls.banner;
	@include util.inactive-dim;

	border: none;
	border-radius: 0;
	box-shadow: none;
}

// TODO: remove when server settings uses new modal
._23e6b439306f125a-noticeRegion,
._6131ab3dbe0affed-notice {
	padding: 0;

	position: relative;
	top: var(--headerbar-height);
	width: 100%;
	max-width: unset;

	// Remove animation
	opacity: 1;
	transform: translateY(0%) translateZ(0px);
}

._9a9f981d3524e20f-shrinkingContainer {
	text-align: center;
	width: 100%;
}
