@use "controls";
@use "typography";

@mixin -file-name {
	@extend %title-3;

	color: var(--card_fg_color);
	text-decoration: none;

	// Use the download icon instead
	pointer-events: none;
}

@mixin -media-button($osd, $name) {
	@if $osd {
		@include controls.icon-button-circular($name);

		background-color: transparent;
	} @else {
		@include controls.icon-button($name);
	}
}

@mixin -media-controls($osd) {
	gap: var(--spacing);

	@include controls.slider(
		".b26b790fd1005393-mediaBarWrapper",
		".b26b790fd1005393-mediaBarProgress",
		".b26b790fd1005393-mediaBarGrabber"
	);

	.cf09d85aafe7e124-durationTimeWrapper {
		margin: 0;
	}

	.b26b790fd1005393-fakeEdges {
		border-radius: 999px;

		&::before,
		&::after {
			display: none;
		}
	}

	.b26b790fd1005393-mediaBarGrabber {
		margin-top: 0;

		left: 0;
	}

	.b26b790fd1005393-mediaBarWrapper {
		box-shadow: none;

		.b26b790fd1005393-buffer {
			background-color: color-mix(in srgb, currentColor 30%, transparent);
		}
	}

	.cf09d85aafe7e124-videoButton {
		@include -media-button($osd, $name: "play");

		margin: 0;

		flex-shrink: 0;

		&[aria-label="Pause"] {
			--icon: icon("pause");
		}
	}

	._2d263e93fa75ef4c-volumeButton._201d5e8a3c09670a-button {
		@include -media-button($osd, $name: "speaker-3");

		color: inherit;

		// No other way to identify state as of writing this
		&:has(.cf09d85aafe7e124-controlIcon > [d$="1.4Z"]) {
			--icon: icon("speaker-0");
		}
	}
}

// D*scord put an !important here, el mao
.visual-refresh ._5126c0cd07f243a0-buttonsInner {
	@include controls.osd-like-button-group;

	border: none;
	box-shadow: none;

	.f84418acfdbdfe54-hoverBarButton {
		@include controls.osd-like-button;

		// :has is for reactions
		&:is(
				[aria-label="Copy Message ID"],
				:has(> .f84418acfdbdfe54-buttonContent)
			) {
			&::before {
				display: none;
			}

			.f84418acfdbdfe54-icon {
				transform: none;

				display: initial;
			}
		}

		&[aria-label="Delete"] {
			color: var(--destructive-color);
		}
	}

	.f84418acfdbdfe54-separator {
		// 65% (from $osd_bg_color) / 2
		background-color: color-mix(in srgb, currentColor 32.5%, transparent);
		margin: 0 var(--spacing);

		height: calc(100% - var(--spacing-2x) + #{controls.$osd-like-padding} * 2);
	}
}

// Accessories container
.b7e1cb0370c2dd0e-container {
	gap: var(--spacing);
}

// Message actions
._040f07d21e1fb0d6-container {
	padding: 0;

	&._040f07d21e1fb0d6-isHeader:not(._040f07d21e1fb0d6-isReply) {
		top: calc(
			(var(--icon-button-size) + #{controls.$osd-like-padding} * 2) * -0.5
		);
	}
}

// Code with other fancy shit
._4d95d73152192cf9-container {
	@include controls.card;

	padding: 0;

	._4d95d73152192cf9-codeView {
		padding: 10px 16px;
		margin: 0;
	}

	._4d95d73152192cf9-footer {
		background-color: transparent;
		color: var(--card_fg_color);
		border: none;
		border-radius: var(--card_radius);
		gap: var(--spacing);
		padding: 0;
		margin: var(--spacing) 16px;

		& > [role="button"] {
			@include controls.icon-button;
		}

		._4d95d73152192cf9-attachmentName {
			@extend %title-3;
		}

		// This is an svg, so no custom icon here... but looks pretty fitting
		._4d95d73152192cf9-codeIcon {
			@include controls.button-basic-raised;

			background-color: transparent;
			color: var(--card_fg_color);
			border-radius: var(--button_radius);
			padding: var(--spacing);

			box-sizing: border-box;
			width: var(--icon-button-size);
			height: var(--icon-button-size);
			order: 1;
		}

		._4d95d73152192cf9-downloadSection {
			--icon: icon("folder-download");

			order: -1;
		}

		._4d95d73152192cf9-formattedSize {
			margin-right: auto;

			flex-grow: 0;
		}

		._4d95d73152192cf9-openFullPreviewSection {
			--icon: icon("view-fullscreen");
		}

		._4d95d73152192cf9-toggleExpandSection {
			--icon: icon("down");

			// It includes a tooltip with it for some reason anyway
			font-size: 0;

			order: 1;

			&[aria-label^="Collapse"] {
				--icon: icon("up");
			}
		}
	}

	._4d95d73152192cf9-footerGap {
		display: none;
	}

	._4d95d73152192cf9-textContainer {
		background-color: color-mix(in srgb, currentColor 3%, transparent);
		border: none;
		border-bottom: 1px solid var(--card_shade_color);
	}
}

// Poll
._0be773cf1443f34f-container {
	._4c5209741d147f1b-answerInner {
		outline: none;

		min-height: unset;
	}

	._4c5209741d147f1b-answersContainer {
		margin-block: var(--spacing-2x);
	}

	._4c5209741d147f1b-answerSelectionIcon {
		box-sizing: border-box;
	}

	._0be773cf1443f34f-bottomBar {
		min-height: unset;
	}

	._4c5209741d147f1b-label {
		@extend %text-normal;

		color: inherit;

		order: 1;
	}

	._0be773cf1443f34f-secondaryAction {
		align-items: center;
	}
}

// Poll results
.f69538e19b6eaacd-container {
	@include controls.card;

	[data-text-variant] {
		color: inherit;
		font-size: var(--document-font-size);
		font-weight: inherit;
	}
}

// Voice message
.a8e786485f0c32f8-container {
	@include controls.card;

	.a8e786485f0c32f8-playbackRate {
		@include controls.button;

		box-sizing: border-box;
	}

	.a8e786485f0c32f8-rippleContainer {
		border: none;
	}
}

._623de82e76ad7f82-embedFull {
	background-color: color-mix(in srgb, currentColor 3%, transparent);
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left-width: var(--radius-xs);
	border-radius: var(--radius-xs);

	._623de82e76ad7f82-grid {
		padding: 12px 8px;
	}

	.edefb8e22d63c542-anchor {
		color: inherit;
		text-decoration: none;
	}

	._623de82e76ad7f82-embedAuthor {
		margin: 0;

		._623de82e76ad7f82-embedAuthorName[href] {
			@extend %caption;
		}
	}

	._623de82e76ad7f82-embedFooterText {
		@extend %caption;
	}

	:where(._623de82e76ad7f82-embedMargin) {
		margin-top: var(--spacing);
	}

	._623de82e76ad7f82-embedSuppressButton {
		@include controls.icon-button("window-close");

		position: absolute;
		top: 0;
		right: calc(var(--icon-button-size) * -1 - var(--spacing));
	}

	// Video actions
	._926d764ff4a9f4d6-wrapper {
		--icon-button-size: calc(34px * 2);
		--icon-size: calc(16px * 2);

		background-color: transparent;
		gap: var(--spacing);
		padding: 0;

		height: unset;

		._926d764ff4a9f4d6-iconWrapper {
			@include controls.icon-button-circular("play");

			opacity: 1;

			&.edefb8e22d63c542-anchor {
				--icon: icon("external-link");
			}
		}
	}
}

._623de82e76ad7f82-embedDescription {
	@extend %text-normal;
}

._623de82e76ad7f82-embedVideo {
}

._623de82e76ad7f82-embedMedia {
	border-radius: var(--radius-xs);
}

._623de82e76ad7f82-embedProvider {
	@extend %title-1;
}

._623de82e76ad7f82-embedTitle {
	@extend %text-normal;
}

._06ab41fd2ef7af3f-hoverButtonGroup {
	background-color: transparent;
	outline: none;
	gap: var(--spacing);

	top: var(--spacing);
	right: var(--spacing);

	._06ab41fd2ef7af3f-hoverButton {
		@include controls.icon-button-circular("folder-download");

		// %link
		&:hover {
			color: white;
		}

		&._6c706db0523bd9a7-removeMosaicItemHoverButton {
			--icon: icon("window-close");
		}
	}
}

._752971923a1e6683-markup {
	._752971923a1e6683-codeActions {
		display: block;
		top: 10px;
		right: 10px;

		& > div {
			@include controls.icon-button("edit-copy");
		}
	}

	.hljs {
		@include controls.card;

		// 6px shadow spread + 2px Y offset
		margin-bottom: 8px;
	}
}

// Open thread button
._9271d23503a01b50-container {
	@include controls.button;

	margin-top: var(--spacing);

	height: unset;

	._9271d23503a01b50-cta {
		text-decoration: none;
	}
}

._0ccaee68b77c7469-file {
	@include controls.card;

	._0ccaee68b77c7469-fileNameLink {
		@include -file-name;
	}
}

// Video play button
._6eb54599f66932b1-iconWrapper {
	--icon-button-size: calc(34px * 2);
	--icon-size: calc(16px * 2);

	@include controls.icon-button-circular("play");

	opacity: 1;
}

.af017ab847f75d02-imageAccessory {
	._43deb08d456619a2-gifFavoriteButton {
		@include controls.icon-button-circular("star-outline-rounded");

		&._43deb08d456619a2-selected {
			--icon: icon("star-large");
		}
	}
}

.f4758a8d6346d18b-oneByOneGridSingle {
	border-radius: var(--radius-md);
}

._23977d5b7cef7361-reaction {
	border: none;
	padding: 0;
	margin-right: var(--spacing);
	margin-bottom: var(--spacing);

	&._23977d5b7cef7361-reactionMe {
		color: var(--accent-color);
	}

	// Super reaction
	._23977d5b7cef7361-burstGlow {
		display: none;
	}

	._23977d5b7cef7361-reactionCount {
		color: inherit;
	}

	._23977d5b7cef7361-reactionInner {
		@include controls.button;

		background-color: inherit;

		height: unset;
	}
}

._23977d5b7cef7361-reactionBtn {
	@include controls.icon-button("reaction-add2");

	border: none;
	margin-right: var(--spacing);
	margin-bottom: var(--spacing);
}

.cf09d85aafe7e124-videoControls {
	@include -media-controls($osd: true);
	@include controls.osd-like-button-group;

	margin: var(--spacing);
	margin-bottom: calc(var(--spacing) + 10px);

	width: calc(100% - var(--spacing) * 3);
	height: unset;

	// No other way to identify that
	.cf09d85aafe7e124-videoButton._201d5e8a3c09670a-button {
		--icon: icon("view-fullscreen");

		color: inherit;
	}
}

// Server invite
.d5f3cd116f175f35-wrapper {
	@include controls.card;

	.d5f3cd116f175f35-guildIcon {
		border-radius: 999px;
	}

	.d5f3cd116f175f35-inviteDestination {
		margin: 0;
	}

	.d5f3cd116f175f35-inviteSplash {
		border-top-right-radius: inherit;
		border-top-left-radius: inherit;
		margin: -10px -16px;
		margin-bottom: 10px;
	}
}

.cf09d85aafe7e124-wrapperAudio {
	@include controls.card;

	.cf09d85aafe7e124-audioControls {
		@include -media-controls($osd: false);

		background-color: transparent;
		color: rgba(0, 0, 6, 0.8); // var(--card_fg_color);
		margin-top: var(--spacing-2x);

		.cf09d85aafe7e124-videoButton {
			color: inherit;
		}
	}

	.cf09d85aafe7e124-audioMetadata {
		--icon-size: 48px;

		align-items: center;

		&::before {
			background-image: icon("audio-x-generic", "other");
			filter: var(--text-shadow);

			width: var(--icon-size);
			height: var(--icon-size);
		}
	}

	.cf09d85aafe7e124-metadataContent {
		padding-inline: var(--spacing-2x);
	}

	.cf09d85aafe7e124-metadataDownload {
		@include -file-name;
	}

	.cf09d85aafe7e124-metadataSize {
		@extend %caption;

		opacity: 1;
	}
}
