@use "typography";

.chat_f75fb0 {
	border: none;
	border-radius: 0;

	&.threadSidebarOpen_f75fb0 {
		--chat-header-right-padding: 0px;
	}
}

#---new-messages-bar {
	--separator-spacing: 0px;

	margin-inline: var(--custom-message-margin-horizontal) 0;
	margin-block: calc(var(--spacing) + var(--separator-spacing));

	top: 0;

	.group-spacing-4 & {
		--separator-spacing: var(--space-sm);
	}

	.group-spacing-8 & {
		--separator-spacing: var(--space-lg);
	}

	.group-spacing-16 & {
		--separator-spacing: var(--space-xl);
	}

	.group-spacing-24 & {
		--separator-spacing: var(--space-xxl);
	}

	&::before {
		content: "NEW MESSAGES";

		background-color: var(--background-primary);
		color: var(--status-danger);
		font-weight: bold;
		padding: 0 var(--spacing);
	}

	& > span {
		display: none;
	}
}

.message__5126c {
	.headerText_c19a55 {
		margin-right: 0rem;
	}

	&.cozy_c19a55 {
		.header_c19a55 {
			line-height: var(--chat-markup-line-height);
		}
	}

	&.compact_c19a55 {
		--custom-message-margin-compact-indent: calc(
			7.6rem + var(--custom-message-meta-space)
		);
		--custom-message-reply-indent: 1.375rem;

		i {
			opacity: 1;

			position: unset;
			display: unset;
		}

		.repliedMessage_c19a55 {
			--custom-message-reply-indent: 0rem;
			--timestamp-width: 11ch;

			margin-left: 0;

			& > span {
				opacity: 1;
			}
		}

		.replyBadge_c19a55 {
			margin-bottom: 0.25em;

			width: 1em;
			height: 1em;
		}

		.avatar_c19a55 {
			margin-left: 0;

			top: 0.15em;
		}

		.timestamp_c19a55 {
			font-family: var(--font-code);
			font-size: var(--monospace-font-size);
			line-height: var(--chat-markup-line-height);

			width: 11ch;
		}
	}

	.markup__75297 {
		font-weight: normal;

		:is(h1, h2, h3) * {
			@extend %title-1;
		}
	}
}

.messagesWrapper__36d07 {
	--fade-out-gradient-size: calc(var(--spacing) * 4);
	--gradient-bg: var(--background-base-lower);
	--gradient-image: linear-gradient(to bottom, transparent, var(--gradient-bg));

	flex-direction: column;

	.chatGradientBase__36d07 {
		transition: none;
		background: var(--gradient-image);

		height: var(--fade-out-gradient-size);
	}

	.chatTypingGradientNotAtBottom__36d07 {
		background: var(--gradient-bg);

		&::before {
			content: "";

			position: absolute;
			bottom: 100%;
			width: 100%;
			height: 100%;

			background: var(--gradient-image);
		}
	}

	.scrollerSpacer__36d07 {
		height: var(--fade-out-gradient-size);
	}
}

.timestamp_c19a55 {
	@extend %caption;
}

.username_c19a55 {
	@extend %title-3;
}
