@use "controls";
@use "typography";

[aria-label="Open sticker picker"] {
	display: none;
}

.b77158512e0ab116-channelAttachmentArea {
	@include controls.cards-container;

	gap: 0;
	padding: 0;
	// shadow - 6px radius + 2px offset
	margin: 8px 0;

	._299eb87491f4b6d1-attachmentContainer {
		border-radius: calc(var(--base-unit) * 2 + 2px);
	}

	._41ea06378162693a-filename {
		font: inherit;
		color: inherit;
	}

	.aa605f19898fe32e-upload {
		@include controls.card-in-container(
			$first-selector: ":first-child",
			$last-selector: ":last-child"
		);

		border-bottom: none;

		&:not(:last-child) {
			border-right: 1px solid var(--card_shade_color);
		}
	}

	// TODO: I've seen this somewhere
	.f7ecaca5c80dbf3a-wrapper {
		@include controls.osd-like-button-group;

		box-shadow: none;

		height: unset;

		.f7ecaca5c80dbf3a-button {
			@include controls.osd-like-button;

			&.f7ecaca5c80dbf3a-dangerous {
				color: var(--destructive-color);
			}
		}
	}
}

// Message form-specific channelTextArea stuff
._740174f3d6a2c8fe-channelTextArea {
	// prettier-ignore
	--attach-button-left-offset: calc(
		var(--custom-message-avatar-size)
		+ var(--custom-message-margin-horizontal)
		- var(--icon-button-size)
		- var(--spacing) * 2.5
	);

	._0923f156a0410684-attachButton {
		--icon: icon("plus-circle-outline");

		// align with cozy mode avatars, à la discord
		margin-left: var(--attach-button-left-offset);
		margin-right: var(--spacing);
	}

	._0923f156a0410684-attachWrapper {
		padding: 0;
		margin-right: calc(var(--spacing) * 1.5);
	}

	._24af7f4d0326ba4f-button {
		@include controls.icon-button;
	}

	.aa63abf63dbd9cce-button {
		@include controls.button-accent;

		border-radius: 50%;
		margin-left: var(--spacing);
	}

	// Not included in channel-text-area.scss since I disable scrolling only for
	// the attachments card.
	._740174f3d6a2c8fe-scrollableContainer {
		overflow: visible;
	}

	.aa63abf63dbd9cce-separator {
		display: none;
	}
}

.f75fb00fb7356cbe-form {
	padding-inline: var(--custom-message-margin-horizontal);
	margin: 0;

	&::before,
	&::after {
		display: none;
	}
}

._740174f3d6a2c8fe-stackedBars {
	background-color: transparent;
	border: none;

	._841c8f861f7b2704-actions {
		gap: var(--spacing);
		margin: 0;
	}

	._841c8f861f7b2704-clipContainer {
		padding: 0;
		margin: 0;
	}

	.e876a81258d10c05-closeButton {
		@include controls.icon-button("window-close");
	}

	._841c8f861f7b2704-mentionButton {
		@include controls.button;

		box-sizing: border-box;

		svg {
			display: initial;
		}
	}

	._841c8f861f7b2704-replyBar {
		background-color: inherit;
		gap: var(--spacing);
		margin: var(--spacing);
		margin-right: 0;
	}

	._841c8f861f7b2704-replyLabel {
		@extend %text-normal;
		@extend %link;

		// 8px = text field padding
		margin-left: calc(
			var(--attach-button-left-offset) + var(--icon-button-size) + 8px
		);
	}

	._841c8f861f7b2704-threadSuggestionBar,
	._841c8f861f7b2704-separator {
		display: none;
	}
}

.b8880176888cc928-typing {
	padding-left: var(--custom-message-margin-horizontal);

	// good enough
	.b8880176888cc928-text {
		position: relative;
		left: -1px;
	}
}
