@use "controls";

.headerRow_f369db {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin-bottom: var(--spacing-2x);

	&:hover {
		background-color: transparent;
	}
}

.list_f369db > .content__99f8c {
	--custom-forum-post-form-horizontal-padding: 0px;
	padding: 0;
}

.card_f369db {
	@include controls.card-in-container(
		$activatable: true,
		$first-selector: ":first-of-type",
		$last-selector: ":last-of-type"
	);

	// for now
	box-shadow: var(--elevation-medium);

	.mainCard_f369db {
		background-color: transparent;
		border: none;
		padding: 0;
	}
}

.forumPostFormButton_d9be46 {
	@include controls.icon-button("info-outline");

	margin: 0;

	order: 1;
}

.header_f369db {
	background: none;
	border: none;
}

.tagsContainer_f369db {
	padding: 0;
}

.titleContainer_d9be46 {
	gap: var(--spacing-2x);
}

.prefixElement_d9be46 {
	display: none;
}
