div[data-list-item-id$="forum-channel-header"] {
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin-bottom: var(--spacing-2x);

	&:hover {
		background-color: transparent;
	}
}

[data-list-id^="forum-channel-list"] > [role="list"] {
	--custom-forum-post-form-horizontal-padding: 0px;
	padding: 0;

	.titleContainer_d9be46 {
		gap: var(--spacing-2x);

		& > [role="button"] {
			background-color: color-mix(
				in srgb,
				currentColor var(--percentage),
				transparent
			);
			border-radius: 50%;
			margin: 0;

			position: relative;
			width: var(--icon-button-size);
			height: var(--icon-button-size);

			transition: var(--backdrop_transition);
			order: 1;

			&:hover {
				// *exact* #404040 for dark theme
				--percentage: 12.75%;
			}

			&:active {
				// *exact* #616161 for dark theme
				--percentage: 27.75%;
			}
		}
	}

	[data-item-role="item"] {
		& > div {
			background-color: transparent;
			border: none;
			padding: 0;
		}
	}
}

.header_f369db {
	background: none;
	border: none;
}

.tagsContainer_f369db {
	padding: 0;
}

.prefixElement_d9be46 {
	display: none;
}
