@use "controls";
@use "typography";

.container__133bf {
	border: none;
}

.nowPlayingColumn__133bf {
	.container__7d20c {
		background: var(--bg-overlay-2, var(--background-secondary));
	}
}

.peopleColumn__133bf {
	gap: 16px;
	padding: 16px;

	& > * {
		margin: 0;
	}

	h2 {
		@extend %title-3;

		margin: 0;
	}
}

.peopleList__5ec2f {
	@include controls.cards-container;

	overflow: auto;
}

.peopleListItem_cc6179 {
	@include controls.card-with-actual-border-radiuses;

	box-shadow: none;
	border-top: none;
	margin: 0;

	[role="button"] {
		@include controls.icon-button;
	}

	.userInfo__0a06e {
		align-items: center;
	}

	.username__0a06e {
		@extend %title-3;
	}

	.subtext__0a06e,
	.text__19b6d {
		@extend %caption;
	}
}
