#add_friend-tab {
	flex-direction: column-reverse;
	justify-content: center;

	& > header {
		border: none;

		& > h2,
		.description_ddd181 {
			display: none;
		}
	}

	& > div {
		flex-grow: 0;
	}
}

.addFriendInputWrapper__72ba7 {
	background-color: transparent;
	border: none;
	margin: 0;
}

.addFriendInput__72ba7 > input {
	letter-spacing: 0;
}

.addFriendWumpusWrapper__72ba7 img {
	bottom: calc(var(--space-4) * -1);
}
