div[data-list-item-id$="forum-channel-header"] {
	background-color: transparent !important;
	box-shadow: none !important;
	padding: 0 !important;
	margin-bottom: 16px !important;

	&:hover {
		background-color: transparent !important;
	}
}

[data-list-id^="forum-channel-list"] > [role="list"] {
	--custom-forum-post-form-horizontal-padding: 0px;
	padding: 0;

	.titleContainer_d9be46 {
		gap: 10px;

		& > [role="button"] {
			background-color: color-mix(
				in srgb,
				currentColor var(--percentage),
				transparent
			) !important;
			border-radius: 50% !important;
			margin: 0;

			position: relative !important;
			width: var(--icon-button-size) !important;
			height: var(--icon-button-size) !important;

			transition: var(--backdrop_transition) !important;
			order: 1;

			&:hover {
				// *exact* #404040 for dark theme
				--percentage: 12.75% !important;
			}

			&:active {
				// *exact* #616161 for dark theme
				--percentage: 27.75% !important;
			}
		}
	}

	[data-item-role="item"] {
		& > div {
			background-color: transparent;
			border: none;
			padding: 0;
		}
	}
}

.header_f369db {
	background: none !important;
	border: none !important;
}

.tagsContainer_f369db {
	padding: 0;
}

.prefixElement_d9be46 {
	display: none;
}
