.nowPlayingColumn__133bf {
	.container__7d20c {
		background: var(--bg-overlay-2, var(--background-secondary));
	}

	[role="button"][aria-haspopup] {
		height: unset;
		min-height: unset;

		svg {
			display: block;
		}
	}
}
