@use "../mixins";

.container__9293f {
	border: none;
	box-shadow: var(--elevation-low);
	padding: 0;

	min-height: unset;

	// home
	&:not([role="navigation"]) > div {
		margin-left: calc(var(--icon-button-size) + var(--spacing-2x));

		&:has(.topic__6ec1a) {
			margin-right: calc(var(--icon-button-size) + var(--spacing));
		}
	}

	// 1. Home title
	// 5. Thread child channel
	&[role="navigation"] .titleWrapper__9293f,
	.akaBadge__488b1,
	.caret__9293f,
	.dot__9293f,
	.nicknames__488b1,
	.children__9293f > .iconWrapper__9293f,
	.children__9293f:has(> .caret__9293f) [role="button"] {
		display: none;
	}

	.children__9293f {
		padding: 4px var(--spacing);

		min-height: var(--headerbar-height);
		display: flex;
		justify-content: center;

		app-region: drag;

		&:not(:has(.avatar_f75fb0)) {
			flex-direction: column;
		}

		// 1. VC fix
		// 2. Channel news
		& > :empty,
		& > .followButton_f75fb0 {
			display: none;
		}

		// Group chat
		& > .container__754bd {
			flex-grow: 0;
			flex-shrink: 0;

			div.input__4f074 {
				display: none;
			}
		}

		.channelName__754bd {
			padding: 0;
			margin: 0;

			input {
				opacity: 1;
				box-shadow: none;
				padding-block: 7px;

				position: relative;
			}
		}
	}

	.titleWrapper__9293f,
	.topic__6ec1a {
		padding: 0;
		margin: 0;
	}

	// wtf ?
	.topic__6ec1a {
		text-align: center;

		width: -webkit-fill-available;
	}

	.avatar_f75fb0 {
		margin-left: 0;
		margin-right: var(--spacing);
	}

	// Experiments vencord plugin
	[aria-label="Help"] {
		--icon: icon("menu");
	}
}

// Button that shows the channel description
.topicClickTarget__6ec1a {
	--icon: icon("info-outline");

	@extend %icon-button;

	position: fixed;
	top: calc(var(--spacing) + var(--app-border-size));
	right: calc(var(--titlebar-right-spacing) + var(--spacing));
	left: unset;

	pointer-events: all;
}

.upperContainer__9293f {
	padding-right: var(--titlebar-right-spacing);
	align-items: center;
}

// Search
.toolbar__9293f > .search__49676 {
	margin: 0 var(--spacing);

	position: absolute;
	left: 0;

	& > div {
		&:not(:focus-within) > div {
			background-color: transparent;

			&,
			& > [role="button"] {
				width: var(--icon-button-size);
			}
		}

		// When expanded, don't round the icon
		[role="button"] {
			border-radius: 0;
		}

		& > div {
			padding: 0;
			border: none;
			border-radius: var(--button_radius);

			height: var(--icon-button-size);
			flex-direction: row-reverse;

			transition: var(--backdrop_transition);

			& > [role="button"] {
				cursor: pointer;
			}
		}
	}

	.DraftEditor-root {
		padding: 4px 0;
	}
}

// position: fixed & top: 0 doesn't actually bring it to the top, wtf ???
.peopleColumn__133bf > .searchBar__5ec2f {
	border-radius: var(--button_radius);

	& > div {
		padding: 0;

		flex-direction: row-reverse;
	}
}

// TODO: move
.nowPlayingColumn__133bf {
	.container__7d20c {
		background: var(--bg-overlay-2, var(--background-secondary));
	}

	[role="button"][aria-haspopup] {
		height: unset;
		min-height: unset;

		svg {
			display: block;
		}
	}
}

.privateChannels__35e86 {
	& > .searchBar__35e86 {
		border: none;
		box-shadow: var(--elevation-low);
		padding: 0 var(--spacing);

		height: var(--headerbar-height);

		& > button {
			--icon: icon("loupe-large");
			font-size: 0;
		}
	}

	[role="listitem"] {
		border-radius: var(--button_radius);
		padding: 0;
	}
}
