@use "../mixins";

[class*="peopleList_"] {
  @extend %cards-container;

  overflow: auto !important;
}

/*
 * "list" role is used in many places, including ones I DO NOT FUCKING WANT
 * "listitem" is not reliable, since there are "option" ones being used
 */
[class*="peopleListItem_"] {
  @extend %card-with-actual-border-radiuses;

  box-shadow: none !important;
  border-top: none !important;
  margin: 0 !important;

  [class*="userInfo_"] {
    align-items: center;
  }
}

[class*="peopleColumn_"] {
  gap: 16px;
  padding: 16px;

  & > *,
  h2 {
    margin: 0;
  }
}
