@use "../mixins";

.peopleList_e0840f {
	@extend %cards-container;

	overflow: auto !important;
}

/*
 * "list" role is used in many places, including ones I DO NOT FUCKING WANT
 * "listitem" is not reliable, since there are "option" ones being used
 */
.peopleListItem_d51464 {
	@extend %card-with-actual-border-radiuses;

	box-shadow: none !important;
	border-top: none !important;
	margin: 0 !important;

	.userInfo_f3939d {
		align-items: center;
	}
}

.peopleColumn_c2739c {
	gap: 16px;
	padding: 16px;

	& > *,
	h2 {
		margin: 0;
	}
}
