.message_d5deea {
  .headerText_f9f2ca {
    margin-right: 0rem;
  }

  &.compact_f9f2ca {
    --custom-message-margin-compact-indent: calc(5.875rem);
    --custom-message-reply-indent: 1.375rem;

    i {
      opacity: 1;

      position: unset;
      display: unset;
    }

    .repliedMessage_f9f2ca {
      --custom-message-reply-indent: 0rem;
      --timestamp-width: calc(11ch - 1.5rem);

      margin-left: 0;

      & > span {
        opacity: 1 !important;
      }
    }

    .replyBadge_f9f2ca {
      margin-top: 0.1em;

      width: 1em;
      height: 1em;
    }

    .avatar_f9f2ca {
      margin-left: 0;

      top: 0.15em;
    }

    .timestamp_f9f2ca {
      font-family: var(--font-code);

      width: 11ch;
    }
  }
}

.chatLayerWrapper_d1c246 > .container_d1c246 {
  border-radius: 0;
}

.embed_b0068a {
  border-left-width: var(--radius-xs);
  border-radius: var(--radius-xs);

  .grid_b0068a {
    padding: 12px 8px;
  }

  [href] {
    color: inherit !important;
    text-decoration: none !important;
  }
}

.embedProvider_b0068a {
  margin-bottom: 4px;
}

.embedDescription_b0068a {
  font-size: 11pt;
}

.embedMedia_b0068a,
.embedVideo_b0068a {
  margin-top: var(--spacing) !important;
}

.embedMedia_b0068a {
  border-radius: var(--radius-xs);
}

.buttonsInner_d5deea {
  box-shadow: var(--elevation-medium);
  border-radius: var(--button_radius);
}
