.form_f75fb0 {
	--custom-channel-textarea-text-area-height: unset;

	margin: 0;

	&::before,
	&::after {
		display: none;
	}
}

[aria-label="Send a gift"],
.channelAppLauncher_e6e74f {
	display: none;
}

.channelTextArea_f75fb0 {
	background-color: color-mix(
		in srgb,
		var(--window_fg_color) 7.5%,
		transparent
	);
	border: none;
	border-radius: var(--radius-xs);

	& > div {
		background-color: transparent;
		border-radius: inherit;

		& > div {
			padding: 0;
		}
	}

	.attachButton__0923f {
		--icon: icon("plus-circle-outline");

		margin: 0;

		// align with cozy mode avatars, à la discord
		width: calc(var(--icon-button-size) + 8px * 2);
	}

	.clipContainer__841c8 {
		padding: 0;
		margin: 0;
	}

	.replyLabel__841c8 {
		font-size: 15px;
	}

	.textArea__74017,
	.buttons__74017 {
		height: unset;
		min-height: unset;
	}

	.placeholder__1b31f,
	[role="textbox"] {
		padding: var(--spacing);
	}

	.buttons__74017 {
		gap: 0;

		// align to start for longer text
		& > div {
			height: 100%;
			align-items: start;
		}
	}

	.separator_aa63ab {
		margin: 0;

		&::before {
			display: none;
		}
	}
}

.channelTextAreaInner_fb64c9 > div > div {
	min-height: unset;
}

.textAreaThreadCreation__74017 [role="textbox"] {
	border-radius: var(--radius-xs) 0 0 var(--radius-xs);
}
