.form_a7d72e {
  --custom-channel-textarea-text-area-height: unset;

  margin: 0;

  &::before,
  &::after {
    display: none;
  }
}

[aria-label="Send a gift"],
.channelAppLauncher_df39bd {
  display: none;
}

.channelTextArea_a7d72e {
  background-color: color-mix(
    in srgb,
    var(--window_fg_color) 7.5%,
    transparent
  );
  border-radius: var(--radius-xs);

  & > div {
    background-color: transparent;
    border-radius: inherit;

    & > div {
      padding: 0;
    }
  }

  .attachButton_f298d4 {
    --icon: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTZweCIgdmlld0JveD0iMCAwIDE2IDE2IiB3aWR0aD0iMTZweCI+PHBhdGggZD0ibSA4IC0wLjAzMTI1IGMgLTQuNDAyMzQ0IDAgLTggMy41OTc2NTYgLTggOCBzIDMuNTk3NjU2IDggOCA4IHMgOCAtMy41OTc2NTYgOCAtOCBzIC0zLjU5NzY1NiAtOCAtOCAtOCB6IG0gMCAxLjk4MDQ2OSBjIDMuMzM5ODQ0IDAgNi4wMTU2MjUgMi42Nzk2ODcgNi4wMTU2MjUgNi4wMTk1MzEgcyAtMi42NzU3ODEgNi4wMTk1MzEgLTYuMDE1NjI1IDYuMDE5NTMxIHMgLTYuMDE5NTMxIC0yLjY3OTY4NyAtNi4wMTk1MzEgLTYuMDE5NTMxIHMgMi42Nzk2ODcgLTYuMDE5NTMxIDYuMDE5NTMxIC02LjAxOTUzMSB6IG0gLTEgMi4wNTA3ODEgdiAzIGggLTMgdiAyIGggMyB2IDMgaCAyIHYgLTMgaCAzIHYgLTIgaCAtMyB2IC0zIHogbSAwIDAiIGZpbGw9IiMyMjIyMjIiLz48L3N2Zz4K");

    margin: 0 !important;

    /* align with cozy mode avatars, à la discord */
    width: calc(var(--icon-button-size) + 8px * 2) !important;
  }

  .clipContainer_b11c5e {
    padding: 0;
    margin: 0;
  }

  .replyLabel_b11c5e {
    font-size: 15px !important;
  }

  .textArea_bdf0de,
  .buttons_bdf0de {
    height: unset;
    min-height: unset;
  }

  .placeholder_a552a6,
  [role="textbox"] {
    padding: var(--spacing);
  }

  .buttons_bdf0de {
    margin: 0 !important;

    /* align to start for longer text */
    & > div {
      height: 100%;
      align-items: start;
    }
  }

  .separator_a06035 {
    margin: 0;

    &::before {
      display: none;
    }
  }
}

.channelTextAreaInner_fb4810 > div > div {
  min-height: unset !important;
}

.textAreaThreadCreation_bdf0de [role="textbox"] {
  border-radius: var(--radius-xs) 0 0 var(--radius-xs);
}
