[class*="searchResultsWrap_"] {
  border-left: 1px solid var(--secondary_sidebar_border_color);

  z-index: 0;

  & > header {
    border-bottom: 1px solid var(--secondary_sidebar_border_color);
    padding: 6px;

    height: unset;
  }

  [class*="channelNameContainer_"] {
    margin-bottom: 16px;

    & > svg {
      display: none;
    }
  }

  [role="group"] {
    --offset: calc(15px * 1.25 + 4px);

    border-radius: var(--card_radius);
    box-shadow: var(--elevation-medium);
    margin-bottom: calc(var(--offset) + 24px);

    position: relative;
    top: var(--offset);

    /* header */
    & > :first-child {
      position: absolute;
      top: calc(var(--offset) * -1);
    }
  }

  [role="listitem"] {
    overflow: hidden;

    &:not(:only-of-type, :last-of-type) {
      border-bottom: 1px solid var(--card_shade_color);
    }

    &:first-of-type {
      border-radius: var(--card_radius) var(--card_radius) 0 0;
    }

    &:last-of-type > [class*="searchResult_"] {
      border-radius: 0 0 var(--card_radius) var(--card_radius);
    }
  }

  [class*="searchResult_"] {
    background-color: var(--card_bg_color);
    border-radius: 0;
    margin: 0;
  }
}
