[class*="sidebar_"] {
  & > nav {
    &::before {
      content: "";

      position: absolute;
      inset: 0;
      right: calc(var(--icon-button-size) + 6px);
      height: var(--headerbar-height);
      z-index: 999;

      app-region: drag;
    }

    &[class*="privateChannels_"]::before {
      content: attr(aria-label);

      inset: 0 calc(var(--icon-button-size) + 6px);
      display: flex;
      align-items: center;
      justify-content: center;

      color: var(--window_fg_color);
    }

    &:not([class*="privateChannels_"]) > :first-child {
      pointer-events: none;

      &[class*="bannerVisible_"] {
        --window_fg_color: var(--white-500);
      }
    }
  }

  header {
    background-color: transparent !important;
    padding: 11px 6px;
  }

  [class*="guildIcon"],
  [class*="headerChildren_"] {
    display: none;
  }

  [class*="headerButton_"] {
    --icon: svg("menu");

    flex-shrink: 0;

    pointer-events: all;
  }
}

div[class*="sidebar_"] {
  background: var(
    --bg-overlay-app-frame,
    var(--background-secondary-alt)
  ) !important;
  border-right: 1px solid var(--secondary_sidebar_border_color) !important;
  border-radius: 0 !important;

  section {
    --spacing: 6px;

    background: var(
      --bg-overlay-app-frame,
      var(--background-secondary-alt)
    ) !important;
    border-top: 1px solid var(--secondary_sidebar_border_color);

    & > div {
      padding: 0;

      height: unset;

      & > [class*="container_"] {
        border: none;
      }
    }

    button {
      border-radius: var(--button_radius);
      margin-right: var(--spacing);

      svg {
        display: none;
      }
    }

    [class*="rtcConnectionStatusLabel_"] {
      width: unset !important;
      height: unset !important;

      &::before {
        display: none;
      }

      & > * {
        display: initial !important;
      }
    }

    [aria-label="Mute"],
    [aria-label="Deafen"] {
      display: none;
    }

    [role="button"] {
      border-radius: 0 !important;
      padding: var(--spacing);
      margin-right: var(--spacing);

      flex-grow: 1;

      &::before {
        display: none;
      }

      & > * {
        display: initial !important;
      }
    }

    [class*="nameTag_"] {
      padding: 0;
      padding-left: var(--spacing);
      margin: 0;
    }
  }
}

#channels {
  li > [class*="type"] {
    padding: 0;
    margin: 0;
  }

  [class*="typeThread_"] {
    margin-left: 36px !important;
  }

  [class*="link_"] {
    color: var(--window_fg_color);
    padding: 0 14px;

    min-height: 36px;
    justify-content: center;
  }

  [role="link"] {
    margin: 0 var(--menu_margin) 2px;
  }

  [class*="unread_"] {
    top: 9px;
    left: 0;
    height: calc(100% - 11px);
  }

  [aria-label="Invite to Server"],
  [class*="iconContainer_"] {
    display: none;
  }
}
