.sidebar_a4d4d9 {
	& > nav {
		&::before {
			content: "";

			position: absolute;
			inset: 0;
			right: calc(var(--icon-button-size) + var(--spacing));
			height: var(--headerbar-height);
			z-index: 999;

			app-region: drag;
		}

		&.privateChannels_f0963d::before {
			content: attr(aria-label);

			inset: 0 calc(var(--icon-button-size) + var(--spacing));
			display: flex;
			align-items: center;
			justify-content: center;

			color: var(--window_fg_color);
		}

		&:not(.privateChannels_f0963d) > :first-child {
			pointer-events: none;

			&.bannerVisible_fd6364 {
				--window_fg_color: var(--white-500);
			}
		}
	}

	header {
		background-color: transparent !important;
		padding: calc(var(--spacing-2x) - 1px) var(--spacing);
	}

	[class*="guildIcon"],
	.headerChildren_fd6364 {
		display: none;
	}

	.headerButton_fd6364 {
		--icon: icon("menu");

		flex-shrink: 0;

		pointer-events: all;
	}
}

div.sidebar_a4d4d9 {
	background: var(
		--bg-overlay-app-frame,
		var(--background-secondary-alt)
	) !important;
	border-right: 1px solid var(--secondary_sidebar_border_color) !important;
	border-radius: 0 !important;
}

.panels_a4d4d9 {
	background: var(
		--bg-overlay-app-frame,
		var(--background-secondary-alt)
	) !important;
	border-top: 1px solid var(--secondary_sidebar_border_color);

	& > div {
		padding: 0;

		height: unset;

		& > .container_adcaac {
			border: none;
		}
	}

	button {
		border-radius: var(--button_radius);
		margin-right: var(--spacing);

		svg {
			display: none;
		}
	}

	[aria-label="Mute"],
	[aria-label="Deafen"] {
		display: none;
	}

	[role="button"] {
		border-radius: 0 !important;
		padding: var(--spacing);
		margin-right: var(--spacing);

		flex-grow: 1;

		&::before {
			display: none;
		}

		& > * {
			display: initial !important;
		}
	}

	.nameTag_b2ca13 {
		padding: 0;
		padding-left: var(--spacing);
		margin: 0;
	}
}

.rtcConnectionStatus_c02c63 button {
	width: unset !important;
	height: unset !important;

	&::before {
		display: none;
	}

	& > * {
		display: initial !important;
	}
}

#channels {
	.wrapper_d8bfb3 {
		padding: 0;
		margin: 0;
	}

	[role="link"] {
		margin: 0 var(--menu_margin) 2px;
	}
}

.typeThread_d8bfb3 {
	margin-left: 36px !important;
}

.link_d8bfb3 {
	color: var(--window_fg_color);
	padding: 0 14px;

	min-height: 36px;
	justify-content: center;
}

.unread_d8bfb3 {
	top: 9px;
	left: 0;
	height: calc(100% - 11px);
}

[aria-label="Invite to Server"],
.iconContainer_d8bfb3 {
	display: none;
}
