@use "controls";

.button__74017 {
	@include controls.icon-button;
}

.buttonContainer__74017 > :where(button, div) {
	margin-left: var(--spacing);
}

.buttons__74017 {
	gap: 0;

	// align to start for longer text
	& > div {
		height: 100%;
		align-items: start;
	}
}

.channelTextArea__74017 {
	--custom-channel-textarea-text-area-height: 34px;
	background: transparent;
	border: none;

	.editor__1b31f {
		@include controls.text-field;

		&[contenteditable="false"] {
			opacity: var(--dim-level-opacity);
		}
	}

	.placeholder__1b31f {
		line-height: 1.25;
		padding: 0;
		margin: 0;

		inset: 8px 9px;
		z-index: 1;
	}
}

.inner__74017 {
	padding: 0;
}

.textArea__74017:not(.textAreaSlate__74017) {
	@include controls.text-field;

	line-height: 1.25;
}

.themedBackground__74017 {
	background: transparent;
}
