@use "../mixins";

.chatHeaderBar_dc83f5 {
	@extend %banner;

	&::after {
		display: none;
	}
}

.barBase__0f481 {
	@extend %banner;

	opacity: 1;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;

	inset: 0;
	bottom: unset;
	z-index: 3;
	height: unset;
	min-height: unset;
}

.barButtonBase__0f481 {
	padding-left: 0;
}

.chatHeaderBarText_dc83f5,
.barButtonBase__0f481 {
	text-align: center;
}

.messagesWrapper__36d07:has(> .jumpToPresentBar__0f481:nth-child(3)) {
	[aria-label="Jump to last unread message"] {
		margin-left: calc(134px + var(--spacing));
	}

	& > .jumpToPresentBar__0f481 {
		top: 5000px;

		& > .button__201d5 {
			@extend %button;

			position: absolute;
			top: calc(-5000px + var(--spacing));
		}
	}
}

// no top bar
.messagesWrapper__36d07 > .jumpToPresentBar__0f481:nth-child(2) {
	top: 0;
	bottom: initial;
	flex-direction: row-reverse;
}
