@use "../mixins";

.chatHeaderBar_efb691 {
  @extend %banner;

  &::after {
    display: none;
  }
}

.barBase_cf58b5 {
  @extend %banner;

  opacity: 1;
  border-radius: 0;
  box-shadow: none;
  margin: 0 !important;

  left: 0;
  right: 0;
  height: unset;
  min-height: unset;
}

.chatHeaderBarText_efb691,
.barButtonBase_cf58b5 {
  text-align: center;
  color: var(--window_fg_color) !important;

  height: unset;
}

.messagesWrapper_e2e187:has(> .jumpToPresentBar_cf58b5:nth-child(3)) {
  [aria-label="Jump to last unread message"] {
    margin-left: 127px;
  }

  & > .jumpToPresentBar_cf58b5 {
    top: 5000px !important;

    & > .barButtonAlt_cf58b5 {
      position: absolute;
      top: calc(-5000px + var(--spacing));
    }
  }
}

/* no top bar */
.messagesWrapper_e2e187 > .jumpToPresentBar_cf58b5:nth-child(2) {
  top: 0;
  bottom: initial;
  flex-direction: row-reverse;
}
