@use "../mixins";

.chatHeaderBar_dc83f5 {
	@extend %banner;

	&::after {
		display: none;
	}
}

.barBase__0f481 {
	@extend %banner;

	opacity: 1;
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0;

	left: 0;
	right: 0;
	z-index: 3;
	//height: unset;
	min-height: unset;
}

.chatHeaderBarText_dc83f5,
.barButtonBase__0f481 {
	text-align: center;
	color: var(--window_fg_color);

	height: unset;
}

.messagesWrapper__36d07:has(> .jumpToPresentBar__0f481:nth-child(3)) {
	[aria-label="Jump to last unread message"] {
		margin-left: 127px;
	}

	& > .jumpToPresentBar__0f481 {
		top: 5000px;

		& > .barButtonAlt__0f481 {
			position: absolute;
			top: calc(-5000px + var(--spacing));
		}
	}
}

// no top bar
.messagesWrapper__36d07 > .jumpToPresentBar__0f481:nth-child(2) {
	top: 0;
	bottom: initial;
	flex-direction: row-reverse;
}
