@use "controls";

$destructive_button_color: color-mix(in srgb, currentColor 15%, transparent);
$destructive_button_hover_color: color-mix(
	in srgb,
	currentColor 20%,
	transparent
);
$destructive_button_active_color: color-mix(
	in srgb,
	currentColor 35%,
	transparent
);

.button__201d5 {
	@include controls.button;

	&:disabled {
		opacity: var(--dim-level-opacity);
	}

	&:where(.colorBrand__201d5) {
		color: var(--accent-color);
	}

	&:where(.colorRed__201d5) {
		background-color: $destructive_button_color;
		color: var(--destructive-color);

		&:hover {
			background-color: $destructive_button_hover_color;
		}

		&:active {
			background-color: $destructive_button_active_color;
		}
	}

	&:where(.colorGreen__201d5) {
		color: var(--success-color);
	}

	&:where(.lookBlank__201d5) {
		background-color: transparent;
		padding: 0;
	}

	& > div {
		--button--underline-color: transparent;
	}
}
