@use "controls";

$destructive_button_color: color-mix(in srgb, currentColor 15%, transparent);
$destructive_button_hover_color: color-mix(
	in srgb,
	currentColor 20%,
	transparent
);
$destructive_button_active_color: color-mix(
	in srgb,
	currentColor 35%,
	transparent
);

@mixin -destructive {
	background-color: $destructive_button_color;
	color: var(--destructive-color);

	&:hover {
		background-color: $destructive_button_hover_color;
	}

	&:active {
		background-color: $destructive_button_active_color;
	}
}

._201d5e8a3c09670a-button {
	@include controls.button;

	&:disabled {
		opacity: var(--dim-level-opacity);
	}

	&:where(._201d5e8a3c09670a-colorBrand) {
		@include controls.button-accent;
	}

	&:where(._201d5e8a3c09670a-colorRed) {
		@include -destructive;
	}

	&:where(._201d5e8a3c09670a-colorGreen) {
		color: var(--success-color);
	}

	&:where(._201d5e8a3c09670a-lookBlank) {
		background-color: transparent;
		padding: 0;
	}

	& > div {
		--button--underline-color: transparent;
	}
}

// new
.a22cb0c66246f5d3-button {
	@include controls.button;

	max-height: unset;

	&:where(.a22cb0c66246f5d3-primary) {
		@include controls.button-accent;
	}

	&:where(.a22cb0c66246f5d3-critical-primary),
	&:where(.a22cb0c66246f5d3-critical-secondary) {
		@include -destructive;
	}

	&:where(:not(.a22cb0c66246f5d3-hasText):has(.a22cb0c66246f5d3-icon)),
	&:where(.a22cb0c66246f5d3-icon-only) {
		@include controls.icon-button;
	}
}

.a22cb0c66246f5d3-buttonChildrenWrapper {
	all: unset;

	// undo %caption
	[data-text-variant] {
		all: inherit;
	}
}
