@use "../mixins";

[class*="button_"][class*="size" i]:not(.size32__06eda, .fullWidth__201d5) {
	@extend %button;

	&[class*="disabled_"] {
		opacity: var(--dim-level-opacity);
	}

	&.colorBrand__201d5 {
		color: var(--accent_color);
	}

	&.colorPrimary__201d5 {
		color: var(--accent_fg_color);
	}

	&.colorRed__201d5 {
		color: var(--destructive_fg_color);
	}

	&.colorGreen__201d5 {
		color: var(--success_fg_color);
	}

	& > div {
		--button--underline-color: transparent;
	}
}

.mentionButton__841c8,
.barButtonAlt__0f481 {
	@extend %button;
}

[role="button"][aria-haspopup] {
	@extend %button;

	min-height: 34px;

	.videoControls_cf09d8 & {
		--banner-bg: transparent;
	}
}

.jumpButton_ed0c8c {
	@extend %button;

	height: unset;
}

.searchResultsWrap_a9e706 .button__02a39 {
	@extend %button;

	font-size: var(--document-font-size);
	font-weight: bold;

	height: unset;
}

[aria-roledescription="Open Thread Button"] {
	@extend %button;

	height: unset;

	.cta__9271d {
		text-decoration: none;
	}
}
