@use "controls";

%-icon {
	background-color: currentColor;
	mask: icon("pan-down");

	width: var(--icon-size);
	height: var(--icon-size);
}

.searchInput__3f413 {
	all: unset;
}

.select__3f413 {
	@include controls.button;

	min-height: 34px;

	.icons__3f413 {
		@extend %-icon;

		height: unset;
		min-height: unset;
	}
}
