@use "controls";

%-icon {
	background-color: currentColor;
	mask: icon("pan-down");

	width: var(--icon-size);
	height: var(--icon-size);
}

.select__3f413 {
	@extend %button;

	min-height: 34px;

	.icons__3f413 {
		@extend %-icon;
	}
}
