// TODO: mixin
button[aria-expanded],
[role="button"][aria-haspopup] {
  svg {
    display: none;
  }

  /* vc */
  & > [class*="flex_"] {
    height: inherit;
  }
}

button[aria-expanded] > div::after,
[role="button"][aria-haspopup] .icons_f6639d {
  background-color: currentColor;
  mask: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyBoZWlnaHQ9IjE2cHgiIHZpZXdCb3g9IjAgMCAxNiAxNiIgd2lkdGg9IjE2cHgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgICA8cGF0aCBkPSJtIDEzLjk5NjA5NCA1IGwgLTUuOTk2MDk0IDYgbCAtNi4wMDM5MDYgLTYgeiBtIDAgMCIgZmlsbD0iIzJlMzQzNiIvPgo8L3N2Zz4K");

  width: var(--icon-size);
  height: var(--icon-size);
}

button[aria-expanded] {
  & > div::after {
    content: "";
  }

  [data-text-variant] {
    color: inherit !important;
    font-size: inherit !important;
    margin-left: 0;
    margin-right: 8px;
  }
}
