button[aria-expanded],
[role="button"][aria-haspopup] {
  svg {
    display: none;
  }

  /* vc */
  & > [class*="flex_"] {
    height: inherit;
  }
}

button[aria-expanded] > div::after,
[role="button"][aria-haspopup] [class*="icons_"] {
  background-color: currentColor;
  mask: svg("pan-down");

  width: 16px;
  height: 16px;
}

button[aria-expanded] {
  & > div::after {
    content: "";
  }

  [data-text-variant] {
    color: inherit !important;
    font-size: inherit !important;
    margin-left: 0;
    margin-right: 8px;
  }
}
