@use "controls";
@use "util";

.icons__3f413 {
	@include util.icon("pan-down");

	min-height: unset;
}

.searchInput__3f413 {
	all: unset;
}

.select__3f413 {
	@include controls.button;

	min-height: 34px;
}
