@use "controls";
@use "util";

.icons__3f413 {
	@include util.icon("pan-down");

	// button horizontal spacing
	margin-inline-end: 10px;

	min-height: unset;
}

.searchInput__3f413 {
	all: unset;
}

.select__3f413 {
	@include controls.button;

	min-height: inherit;
}

.wrapper__3f413 {
	border: none;

	min-height: 34px;
}
