@use "controls";
@use "util";

.icons_a16aea {
	@include util.icon("pan-down");

	// button horizontal spacing
	margin-inline-end: 10px;

	min-height: unset;
}

.searchInput_a16aea {
	all: unset;
}

.select_a16aea {
	@include controls.button;

	min-height: inherit;
}

.wrapper_a16aea {
	border: none;

	min-height: 34px;
}
