@use "controls";
@use "util";

.a16aea1526925c2c-icons {
	@include util.icon("pan-down");

	// button horizontal spacing
	margin-inline-end: 10px;

	min-height: unset;
}

.a16aea1526925c2c-searchInput {
	all: unset;
}

.a16aea1526925c2c-select {
	@include controls.button;

	min-height: inherit;
}

.a16aea1526925c2c-wrapper {
	border: none;

	min-height: 34px;
}
