@use "../mixins";

.peopleListItem_cc6179 [role="button"],
.sidebar_c48ade .headerButton_f37cb1,
.panels_c48ade :where([role="button"], button),
.privateChannels__35e86 .searchBarComponent__35e86 {
	@extend %icon-button;
}

.toolbar__9293f {
	[class*="liveQualityIndicator_"],
	[class*="live_"] {
		margin-bottom: 0 !important;
	}

	[class*="qualityIndicator_"] {
		width: unset !important;
		height: unset !important;

		&::before {
			display: none;
		}

		& > * {
			display: initial !important;
		}
	}

	[role="button"] {
		@extend %icon-button;
	}
}

[href="/channels/@me"] .avatar__20a53 {
	--icon-button-size: 32px;

	@extend %icon-button;

	background-color: transparent !important;
}

[class*="searchBar_"],
[class*="searchBox_"] {
	[role="button"][aria-hidden="true"]:not([class*="icon_"]) {
		--icon-button-size: var(--icon-size);

		@extend %icon-button;

		background-color: transparent !important;
		margin-right: 9px;
	}
}

.winButton__421ed,
[class*="close_"],
[class*="closeIcon_"],
[class*="closeButton_"] {
	--percentage: 7.5%;

	@extend %icon-button;

	background-color: color-mix(
		in srgb,
		var(--window_fg_color) var(--percentage),
		transparent
	) !important;
	border: none !important;
	border-radius: 100% !important;
	padding: 0 !important;

	width: var(--titlebar-button-size) !important;
	height: var(--titlebar-button-size) !important;

	transform: none !important;
}

// dialog
[class*="close_"] {
	opacity: 1;

	position: absolute !important;
	top: var(--titlebar-button-spacing);
	right: var(--titlebar-button-spacing);
}

// settings
.tools__23e6b {
	position: fixed;
	top: calc(var(--p) + var(--titlebar-button-spacing));
	right: calc(var(--p) + var(--titlebar-button-spacing));
}

[class*="closeButton_"] {
	opacity: 1;

	flex: 0 0 var(--titlebar-button-size);

	// align with the other child element
	.privateChannels__35e86 & {
		margin-right: 8px;
	}
}

.toolbar__9293f {
	gap: var(--spacing);
	padding: var(--spacing);

	& > button {
		margin: 0;
	}

	[role="button"] {
		@extend %icon-button;

		margin: 0;
	}
}

.channelTextArea_f75fb0 button {
	@extend %icon-button;

	border-radius: 0 !important;
}
