@use "controls";

// Settings
@include controls.radio(
	".container__88a69",
	".item__88a69",
	".radioIndicatorGroup__88a69",
	".radioIndicator__88a69"
);

// Poll
@include controls.radio(
	".answersContainer__4c520",
	".answer__4c520",
	".answerSelectionIcon__4c520",
	".answerSelectionIcon__4c520 > *"
);
