@use "controls";

// Settings
@include controls.radio(
	"._88a69141dd70013a-container",
	"._88a69141dd70013a-item",
	"._88a69141dd70013a-radioIndicatorGroup",
	"._88a69141dd70013a-radioIndicator"
);

// Poll
@include controls.radio(
	"._4c5209741d147f1b-answersContainer",
	"._4c5209741d147f1b-answer",
	"._4c5209741d147f1b-answerSelectionIcon",
	"._4c5209741d147f1b-answerSelectionIcon > *"
);
