@use "controls";

@include controls.slider(".a562c840daab72a7-bar", ".a562c840daab72a7-barFill", ".a562c840daab72a7-grabber");

.a562c840daab72a7-barFill {
	border: none;
}

.a562c840daab72a7-mark {
	flex-direction: column-reverse;
	height: unset;

	& > * {
		color: var(--text-muted);
		font-size: var(--document-font-size);
	}
}

.a562c840daab72a7-markDash {
	background-color: currentColor;

	width: 1px;
	height: 6px;
}

.a562c840daab72a7-markValue {
	margin-top: 2px;
	margin-bottom: 0;
}

.a562c840daab72a7-slider {
	--grabber-size: 20px;
}
