@use "controls";

@include controls.slider(".bar_a562c8", ".barFill_a562c8", ".grabber_a562c8");

.barFill_a562c8 {
	border: none;
}

.mark_a562c8 {
	flex-direction: column-reverse;
	height: unset;

	& > * {
		color: var(--text-muted);
		font-size: var(--document-font-size);
	}
}

.markDash_a562c8 {
	background-color: currentColor;

	width: 1px;
	height: 6px;
}

.markValue_a562c8 {
	margin-top: 2px;
	margin-bottom: 0;
}

.slider_a562c8 {
	--grabber-size: 20px;
}
