@use "controls";

._3f21e80f8677ec40-container {
	@include controls.switch(
		$checked: ".checked__3f2le",
		$disabled: "._3f21e80f8677ec40-disabled"
	);
}

._3f21e80f8677ec40-slider {
	display: none;
}
