@use "controls";

.a2827844fe91d55f-switchIndicator {
	@include controls.switch(
		$checked: "[style*='rgb(88, 101, 242);']",
		$disabled: "[style*='opacity: 0.5;']"
	);
}

.a2827844fe91d55f-thumb {
	display: none;
}
