@use "typography";
@use "util";

[role="tablist"] {
	[role="tab"] {
		@extend %text-normal;

		color: var(--window_fg_color);
		line-height: inherit;
		border: none;
		border-radius: var(--button_radius);

		transition: var(--backdrop_transition);

		&:hover {
			background-color: var(--hover_color);
		}

		&:active {
			background-color: var(--active_color);
		}

		&[aria-selected="true"] {
			background-color: var(--selected_color);
		}

		&::after {
			display: none;
		}
	}

	&:where([aria-orientation="horizontal"], .navList__08434) {
		gap: 5px;
		border: none;

		[role="tab"] {
			color: var(--window_fg_color);
			padding: 5px 10px;
			margin: 0;

			// user dialog
			height: unset;
		}
	}

	// .navigation-sidebar > row
	&[aria-orientation="vertical"] {
		padding: var(--menu_margin) 0;

		[role="tab"] {
			line-height: 44px;
			min-height: 36px;
			padding: 0 14px;
			margin: 0 var(--menu_margin) 2px;

			// Settings
			.sidebar__23e6b & {
				display: flex;
				align-items: center;

				&::before {
					content: "";

					width: var(--icon-size);
					height: var(--icon-size);
					display: inline-block;

					mask: var(--icon);
					background-color: currentColor;
					margin-right: 12px;
				}
			}
		}
	}
}
