@use "controls";
@use "typography";

[role="tab"] {
	@include controls.tab($selected-sel: "&[aria-selected='true']");

	margin: 0;

	display: block;

	&::after {
		display: none;
	}
}

[role="tablist"][aria-orientation="horizontal"] {
	gap: 5px;
	border: none;
}

// .navigation-sidebar > row
[role="tablist"][aria-orientation="vertical"] {
	padding: var(--menu_margin) 0;

	[role="tab"] {
		@include controls.tab-vertical($selected-sel: "&[aria-selected='true']");
	}
}
