@use "../mixins";

[role="textbox"] {
	@extend %text-field-focus;
}

.textarea__9daae, // User profile note
.quickswitcher_ac6cb0 > input,
.channelName__754bd > div > input {
	@extend %text-field;
}

[class*="searchBar_"],
[class*="searchBox_"] {
	&[class*="container_"] {
		@extend %text-field;

		input {
			font-size: 15px;
			line-height: inherit;
			padding: 0;
			margin: 0;

			height: inherit;
		}
	}

	& > [class*="inner_"] {
		padding: 0;

		flex-direction: row-reverse;
	}
}

[class*="inputWrapper_"] {
	border: none;

	input,
	textarea {
		@extend %text-field;
	}
}
