@use "controls";
@use "util";

._0f0849b61557225e-container {
	@include controls.text-field;

	gap: 0;
	// Move padding to the <input> element because the wrapper can't get focused
	padding: 0;

	flex-wrap: nowrap;
	min-height: unset;

	input {
		padding: 8px 9px;
	}
}

// legacy
._0ed4fc708cdbac0d-input {
	@include controls.text-field;

	// + 1px
	line-height: 1.25;
}

._0f0849b61557225e-icon {
	&:not(._0f0849b61557225e-button) {
		@include util.icon("loupe-large");

		border: none;
		margin-inline-start: 9px;
	}

	&._0f0849b61557225e-button {
		@include controls.icon-button("window-close");
	}
}
