@use "controls";
@use "util";

.container__0f084 {
	@include controls.text-field;

	gap: 0;
	// Move padding to the <input> element because the wrapper can't get focused
	padding: 0;

	flex-wrap: nowrap;
	min-height: unset;

	input {
		padding: 8px 9px;
	}
}

// legacy
.input__0ed4f {
	@include controls.text-field;

	// + 1px
	line-height: 1.25;
}

.icon__0f084 {
	&:not(.button__0f084) {
		@include util.icon("loupe-large");

		border: none;
		margin-inline-start: 9px;
	}

	&.button__0f084 {
		@include controls.icon-button("window-close");
	}
}
