@use "controls";
@use "util";

// #region Search input

/// Class names have to be included by their entire name for easier usage with
/// the change_classes.js script.
@mixin -search-input($container, $input, $inner) {
	#{$container} {
		@include controls.text-field;
	}

	#{$input} {
		font-size: var(--document-font-size);
		line-height: 1;
		padding: 0;
		margin: 0;

		height: inherit;
	}

	#{$inner} {
		gap: 9px;
		padding: 0;

		flex-direction: row-reverse;
	}
}

// Settings sidebar
@include -search-input(".container_fea832", ".input_fea832", ".inner_fea832");

// Home page
@include -search-input(".container_a45028", ".input_a45028", ".inner_a45028");

.iconContainer__0c4c4 {
	display: none;
}

.iconLayout__0c4c4 {
	@include util.icon("loupe-large");
}

// #endregion

.container__0f084 {
	all: unset;

	display: flex;

	.input__0ed4f {
		@include controls.text-field;
	}
}
