@use "../mixins/controls";

.stackedBars__74017 {
	.replyBar__841c8 {
		background-color: inherit;
		gap: var(--spacing);
		padding: var(--spacing);
	}

	[data-text-variant] {
		color: inherit;
		font-weight: bold;
	}

	.replyLabel__841c8 {
		margin-left: var(--spacing);
	}

	.mentionButton__841c8 {
		@extend %button;

		background-color: color-mix(
			in srgb,
			var(--window_fg_color) var(--percentage),
			transparent
		);
		box-sizing: border-box;

		svg {
			display: initial;
		}
	}

	.threadSuggestionBar__841c8,
	.separator__841c8 {
		display: none;
	}

	.closeButton_e876a8 {
		margin-left: var(--spacing);
	}
}
