@use "controls";

.mentionButton__841c8 {
	@include controls.button;

	box-sizing: border-box;

	svg {
		display: initial;
	}
}

.replyBar__841c8 {
	background-color: inherit;
	gap: var(--spacing);
	padding: var(--spacing);
}

.replyLabel__841c8 {
	margin-left: var(--spacing);
}

.threadSuggestionBar__841c8,
.separator__841c8 {
	display: none;
}

.stackedBars__74017 {
	[data-text-variant] {
		color: inherit;
		font-weight: bold;
	}

	.closeButton_e876a8 {
		margin-left: var(--spacing);
	}
}
