@use "popover";
@use "util";

.option_a16aea {
	@include popover.entry;

	color: var(--popover_fg_color);
	font-size: var(--document-font-size);
}

.popout_a16aea {
	@include popover.container;
}

.selectedIcon_a16aea {
	@include util.icon("check-plain");

	* {
		display: none;
	}
}
