@use "controls";
@use "dialog";

.controls_ab6641 {
	// for the ONLY mana icon button there
	--icon: icon("funnel");

	gap: var(--spacing);

	[role="button"] {
		@include controls.icon-button;
	}
}

.friendRequestsButton__523aa {
	--icon: icon("person");
}

.header_ab6641 {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

.headerTabs_ab6641 {
	margin: 0;

	[role="tablist"] {
		margin: 0;
	}
}

.channelHeader__35a7e,
.inboxIcon_ab6641,
.inboxTitle_ab6641,
.recentMentionsPopout__95796 .titleContainer_e8b59c {
	display: none;
}
