@use "controls";
@use "dialog";

.box__376cb {
	@include controls.card;

	padding: 0;

	.singleMessage__376cb {
		// Probably enough to align it, didn't check lol
		margin: 0 4px;
		padding-block: calc(
			var(--custom-message-spacing-vertical-container-cozy) + 10px
		);
	}
}

.buttonGroup__5d903 {
	gap: var(--spacing);
}

.channelHeader__5d903 {
	background: none;
	border-block-end: 1px solid var(--card_shade_color);
	gap: var(--spacing);
	padding: 10px 16px;
}

.container__8cb2e {
	@include dialog.container;
}

.controls__06f80 {
	// for the ONLY mana icon button there
	--icon: icon("funnel");

	gap: var(--spacing);

	[role="button"]:not(.focusTarget__54e4b) {
		@include controls.icon-button;
	}
}

.friendRequestsButton__523aa {
	--icon: icon("person");
}

.header__06f80 {
	@include dialog.header;

	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

.headerTabs__06f80 {
	margin: 0;
	width: 100%;

	[role="tab"] {
		flex: unset;
	}

	[role="tablist"] {
		margin: 0;
	}
}

.icon__5d903 {
	border-radius: 50%;
}

.chevron__5d903,
.inboxIcon__06f80,
.inboxTitle__06f80 {
	display: none;
}
