@use "controls";
@use "dialog";

.controlButton_ab6641 {
	--icon: icon("funnel");
}

.ab66419eae73260f-controls {
	gap: var(--spacing);

	[role="button"] {
		@include controls.icon-button;
	}
}

._523aa09e59621644-friendRequestsButton {
	--icon: icon("person");
}

.ab66419eae73260f-header {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	justify-content: space-between;
}

.ab66419eae73260f-headerTabs {
	margin: 0;

	[role="tablist"] {
		margin: 0;
	}
}

._35a7ecf3aba351b2-channelHeader,
.ab66419eae73260f-inboxIcon,
.ab66419eae73260f-inboxTitle,
._957962c2bd49881b-recentMentionsPopout .e8b59c4b335dd2fc-titleContainer {
	display: none;
}
