@use "controls";
@use "popover";
@use "typography";
@use "util";

._971b54896d13e42d-clearSearchHistory {
	@include controls.icon-button("user-trash", "32px");

	border-radius: 999px;

	position: absolute;
	top: -4px;
	right: 0;
}

.b6544fb09f373e60-container:not(:empty) {
	@include popover.container;

	margin-block-start: calc(var(--headerbar-height) + var(--spacing));

	[data-text-variant] {
		font-size: var(--document-font-size);
	}

	// "from: user", etc.
	._971b54896d13e42d-filterSublabelTextContainer,
	[data-text-variant="text-sm/medium"] + [data-text-variant="text-sm/medium"] {
		display: none;
	}
}

._971b54896d13e42d-divider {
	margin: var(--menu_padding) 0;
}

._971b54896d13e42d-groupHeader {
	padding: 0;

	& > [data-text-variant] {
		@include popover.title;
	}
}

._971b54896d13e42d-groupWrapper {
	gap: 0;

	position: relative;
}

._971b54896d13e42d-item {
	padding: 0;

	flex-grow: 1;

	& > div > [data-text-variant="text-sm/medium"]:first-child,
	[data-text-variant="text-sm/semibold"] {
		color: var(--popover_fg_color);
	}
}

._971b54896d13e42d-itemContainer {
	@include popover.entry($hover: ":is(:hover, [aria-selected='true'])");

	display: flex;
	align-items: center;
}

._971b54896d13e42d-itemIcon {
	color: var(--popover_fg_color);
	margin-inline-end: var(--spacing);

	// avatars don't work
	&:where(svg) {
		width: var(--icon-size);
		height: var(--icon-size);
	}
}

._971b54896d13e42d-labelWithElements {
	gap: var(--spacing);

	flex-grow: 1;

	& > * {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 50%;
	}

	// revert [data-text-variant^="text-sm"]
	& > :first-child {
		color: var(--popover_fg_color);
	}
}
