@use "controls";
@use "popover";
@use "typography";
@use "util";

.clearSearchHistory__971b5 {
	@include controls.icon-button("user-trash", "32px");

	border-radius: 999px;

	position: absolute;
	top: -4px;
	right: 0;
}

.container_b6544f:not(:empty) {
	@include popover.container;

	margin-block-start: calc(var(--headerbar-height) + var(--spacing));

	[data-text-variant] {
		font-size: var(--document-font-size);
	}

	// "from: user", etc.
	.filterSublabelTextContainer__971b5,
	[data-text-variant="text-sm/medium"] + [data-text-variant="text-sm/medium"] {
		display: none;
	}
}

.divider__971b5 {
	margin: var(--menu_padding) 0;
}

.groupHeader__971b5 {
	padding: 0;

	& > [data-text-variant] {
		@include popover.title;
	}
}

.groupWrapper__971b5 {
	gap: 0;

	position: relative;
}

.item__971b5 {
	padding: 0;

	flex-grow: 1;

	& > div > [data-text-variant="text-sm/medium"]:first-child,
	[data-text-variant="text-sm/semibold"] {
		color: var(--popover_fg_color);
	}
}

.itemContainer__971b5 {
	@include popover.entry($hover: ":is(:hover, [aria-selected='true'])");

	display: flex;
	align-items: center;
}

.itemIcon__971b5 {
	color: var(--popover_fg_color);
	margin-inline-end: var(--spacing);

	// avatars don't work
	&:where(svg) {
		width: var(--icon-size);
		height: var(--icon-size);
	}
}

.labelWithElements__971b5 {
	gap: var(--spacing);

	flex-grow: 1;

	& > * {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		width: 50%;
	}

	// revert [data-text-variant^="text-sm"]
	& > :first-child {
		color: var(--popover_fg_color);
	}
}
