@use "controls";

// Emoji
.popoutContent_d5cd2d {
	--custom-message-helpers-popout-padding-width: 0px;

	@include controls.tooltip;

	.emojiSection_d5cd2d {
		& > div {
			align-items: center;
		}
	}

	.guildSection_d5cd2d {
		background-color: transparent;
	}

	.primaryEmoji_d5cd2d {
		margin: 0;
	}
}

.reactionTooltip_b49891 {
	@include controls.tooltip;

	.reactionTooltipText_b49891 {
		color: inherit;
		font: inherit;
	}
}

.tooltip__382e7 {
	@include controls.tooltip;

	.tooltipContent__382e7 {
		padding: 0;

		* {
			color: inherit;
		}
	}

	.tooltipPointer__382e7 {
		display: none;
	}
}
