@use "controls";
@use "util";

// Emoji
._0f481cbbd7530492-popoutContainer {
	--custom-message-helpers-popout-padding-width: 0px;

	@include controls.tooltip;

	// "Invite-only server"
	[data-text-variant="text-xs/normal"],
	// "This emoji is from"
	._4bd5201c86a2042b-defaultColor,
	._0f481cbbd7530492-guildTitle {
		color: inherit;
	}

	._0f481cbbd7530492-emojiSection {
		& > div {
			align-items: center;
		}
	}

	._0f481cbbd7530492-guildSection {
		background-color: transparent;
	}

	._0f481cbbd7530492-primaryEmoji {
		margin: 0;
	}
}

.b49891f8a231dbff-reactionTooltip {
	@include controls.tooltip;

	.b49891f8a231dbff-reactionTooltipText {
		color: inherit;
		font: inherit;
	}
}

._4e35b986167c457d-tooltip {
	@include controls.tooltip;

	* {
		@extend %text-normal;

		color: inherit;
	}

	._5bc6a0adc149eda0-caret {
		display: none;
	}
}
