@use "controls";

.body__5be3e {
	gap: var(--dialog-spacing-x05);
	mask: none;
	padding-block: 0;
}

// Activity
.card__39ec2 {
	@include controls.card($activatable-selector: "&");

	border: none;

	.actions__39ec2 {
		gap: var(--spacing);
		margin: 0;
	}

	.header__39ec2 {
		display: none;
	}
}

.footer__5be3e {
	padding: var(--dialog-spacing);
	padding-top: 0;

	&:empty {
		padding-block-end: var(--dialog-spacing-x05);
	}
}
