@use "controls";
@use "typography";

.expiringStatusMenuItem_ce8328 {
	.iconContainer_c1e9c4 {
		display: none;
	}
}

.statusPickerModalMenu_ce8328 {
	.label_c1e9c4 {
		margin: 0;
	}

	// why the fuck is this in the same component as menu
	.statusAccessory_c1e9c4 {
		margin-inline-start: -2px;
	}
}

.menuItem_ce8328 {
	--icon: icon("right");

	.menuOverlay_ce8328:first-child & {
		&:first-child {
			--icon: icon("edit");
		}

		&:nth-child(2) > .menuItemInner_ce8328 {
			// awful
			$colors: (
				online: "var(--success-color)",
				idle: "var(--warning-color)",
				dnd: "var(--destructive-color)",
				offline: "var(--window_fg_muted)",
			);

			@each $status, $color in $colors {
				&:has([mask="url(#svg-mask-status-#{$status})"]) {
					color: #{$color};
				}

				@at-root #set-status-submenu-#{$status} {
					color: #{$color};
				}
			}
		}
	}

	.menuOverlay_ce8328:nth-child(2) &:nth-child(2) {
		--icon: icon("edit-copy");

		& > .menuItemInner_ce8328 {
			border: none;
		}
	}

	&::after {
		display: none;
	}
}

.menuItemContent_ce8328 {
	flex-direction: row-reverse;
	padding: 0;
}

.menuItemIcon_ce8328 {
	@include controls.icon-button;

	pointer-events: all;
}

.menuItemInner_ce8328 {
	@include controls.card;

	border-block-end: 1px solid var(--card_shade_color);
	border-radius: 0;
	box-shadow: none;
	pointer-events: none;
}

.menuItemLabelText_ce8328 {
	@extend %heading;

	color: inherit;
}

.menuOverlay_ce8328 {
	border-radius: 0;
	padding: 0;
}

.menus_ce8328 {
	@include controls.cards-container;

	gap: 0;
	overflow: hidden;
}

.submenuIconWrapper_ce8328 {
	display: none;
}
