@use "controls";
@use "typography";
@use "util";

@mixin -role-button($icon) {
	@include controls.icon-button($icon, var(--role-height));

	border: none;
	border-radius: 999px;
}

.body__5be3e {
	gap: var(--dialog-spacing-x05);
	padding: 0 var(--dialog-spacing);
}

.footer__5be3e {
	padding: var(--dialog-spacing);
	padding-top: 0;
}

.inner_c0bea0 {
	gap: var(--dialog-spacing-x05);
	padding: 0;

	// revert %caption
	.markup__75297 [data-text-variant] {
		--window_fg_muted: currentColor;
		@extend %text-normal;
	}
}

// User panel
.menuDivider_ce8328 {
	display: none;
}

.menuItemIcon_ce8328 {
	order: 1;
}

.menuItemInner_ce8328 {
	padding: 0;
}

.menuOverlay_ce8328 {
	border: none;
	padding: 0;

	// For "Set Status"
	overflow: visible;
}

// Move the actions to icons
@mixin -card-icon($icon) {
	--icon: icon(#{$icon});

	pointer-events: none;

	&:is(:hover, :active) {
		background-color: var(--card_bg_color);
	}

	.menuItemIcon_ce8328 {
		@include controls.icon-button;

		pointer-events: all;
	}
}

.menus_ce8328 {
	@include controls.cards-container;

	gap: 0;

	overflow: hidden;

	button {
		@include controls.card($activatable: true);

		border-bottom: 1px solid var(--card_shade_color);
		border-radius: 0;
		box-shadow: none;

		&[aria-expanded] .menuItemIcon_ce8328 {
			background-color: currentColor;
			mask: icon("right");
		}

		&[data-list-item-id$="copy-user-id"] {
			@include -card-icon("edit-copy");

			border: none;
		}

		&[data-list-item-id$="edit-profile"] {
			@include -card-icon("edit");
		}

		&[data-list-item-id$="set-status"] {
			// awful
			$colors: (
				online: "var(--success-color)",
				idle: "var(--warning-color)",
				dnd: "var(--destructive-color)",
				offline: "var(--window_fg_muted)",
			);

			@each $status, $color in $colors {
				&:has([mask="url(#svg-mask-status-#{$status})"]) {
					color: #{$color};
				}

				@at-root #set-status-submenu-#{$status} {
					color: #{$color};
				}
			}
		}
	}
}

.textAreaWithoutAttachmentButton__74017 {
	border-top-left-radius: var(--radius-xs);
	border-bottom-left-radius: var(--radius-xs);
}

// [role="dialog"] child, so vars go here
.outer_c0bea0 {
	--dialog-spacing: var(--space-xl);
	--role-button-size: 24px;
	--role-spacing: 2px;
	--role-height: calc(var(--role-button-size) + var(--role-spacing) * 2);

	border-radius: var(--window_radius);
}

.role_dfa8b6 {
	background: transparent;
	border: none;
	border-radius: 999px;
	padding: 0;
	padding-left: var(--spacing-2x);

	overflow: hidden;
	height: var(--role-height);

	[data-text-variant] {
		@extend %text-normal;

		color: inherit;
	}

	& > :first-child {
		order: 1;
	}
}

.roleCircle_dfa8b6 {
	--icon: icon("window-close");

	border-radius: 999px;
	margin: 0;
	margin-left: var(--spacing-2x);

	position: relative;
	width: var(--role-button-size);
	height: var(--role-button-size);

	.roleRemoveButtonCanRemove_dfa8b6 &::before {
		content: "";

		position: absolute;
		inset: 0;

		@include util.icon;
	}

	&::after {
		content: "";

		position: relative;
		display: block;
		right: 200%;
		min-width: 500px;
		height: 100px;

		background-color: inherit;
		opacity: 25%;

		pointer-events: none;
	}
}

.roleName_dfa8b6 {
	margin: 0;

	z-index: 1;
}

.roleRemoveIcon_dfa8b6 {
	display: none;
}

// Roles container
.root_fccfdf {
	gap: var(--role-spacing);

	// Add role button
	.button__7d7f7 {
		@include -role-button("plus");
	}

	.collapseButton_fccfdf {
		@include -role-button("up");
	}

	.expandButton_fccfdf {
		@include -role-button("down");
	}
}

// Activity
.toolbarContainer__39ec2 {
	.actions__39ec2 {
		gap: var(--spacing);
		margin: 0;

		button {
			// TODO: pill button
			padding: 10px 32px;
			border: none;
			border-radius: 9999px;
		}
	}

	.card__39ec2 {
		border: none;
		padding: 0;
	}

	.header__39ec2 {
		display: none;
	}
}

.userTagUsername__63ed3 {
	@extend %caption;

	// Align with src/global/text.scss
	line-height: 1.25;
}

.viewFullBio_f5f93a {
	@extend %link;

	// partially revert %caption
	--window_fg_muted: currentColor;

	margin-top: var(--spacing);
}

// Banner buttons
.wrapper_da5890 {
	gap: var(--spacing);

	.banner_fb7f94.button_fb7f94 {
		@include controls.icon-button-circular;
	}
}
