@use "controls";

._2cdb89539fd956c8-rightTrayIcon {
	@include controls.icon-button-circular;

	margin-inline-start: var(--spacing);

	&.d6b206a637c8e59a-viewers {
		--icon: icon("eye-open-negative-filled");
	}
}
