// Reference:
// https://github.com/GNOME/libadwaita/blob/main/src/stylesheet/widgets/_labels.scss
// https://github.com/GNOME/libadwaita/blob/main/src/stylesheet/widgets/_links.scss

%caption {
	color: var(--window_fg_muted);
	font-weight: 400;
	font-size: 0.82rem;
}

%heading {
	font-size: 1rem;
	font-weight: 700;
}

%link {
	color: var(--accent-color);
	text-decoration: underline;

	&:hover {
		color: hsl(from var(--accent-color) h calc(s * 1.1) calc(l * 1.1));
	}

	&:active {
		color: var(--accent-color);
	}
}

%title-1 {
	font-weight: 800;
	font-size: 1.81rem;
}

%title-2 {
	font-weight: 800;
	font-size: 1.36rem;
}

%title-3 {
	font-weight: 700;
	font-size: 1.36rem;
}

%title-4 {
	font-weight: 700;
	font-size: 1.18rem;
}
