%button {
	--percentage: 10%;

	background-color: color-mix(
		in srgb,
		currentColor var(--percentage),
		transparent
	);
	color: var(--window_fg_color);
	padding: 5px 10px;
	border: none;
	border-radius: var(--button_radius);

	min-width: 16px;
	min-height: 24px;
	height: 34px;

	transition: var(--backdrop_transition);

	&:hover {
		--percentage: 15%;
	}

	&:active {
		--percentage: 30%;
	}

	* {
		font-weight: bold;
	}

	svg {
		display: none;
	}
}

%icon-button {
	// %button compat
	--percentage: 0%;
	// .button__201d5.colorGreen, etc. classes compat
	color: var(--window_fg_color);

	background-color: color-mix(
		in srgb,
		currentColor var(--percentage),
		transparent
	);
	border-radius: var(--button_radius);
	padding: 0;

	position: relative;
	width: var(--icon-button-size);
	height: var(--icon-button-size);

	transition: var(--backdrop_transition);

	&:hover {
		// *exact* #404040 for dark theme
		--percentage: 12.75%;
	}

	&:active {
		// *exact* #616161 for dark theme
		--percentage: 27.75%;
	}

	&:disabled {
		--percentage: 0%;
		opacity: var(--dim-level-opacity);
	}

	&::before {
		content: "";

		position: absolute;
		inset: 0;

		mask: var(--icon);
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: currentColor;
	}

	& > * {
		display: none;
	}
}

%icon-button-circular {
	@extend %icon-button;

	background-color: rgb(0 0 0 / 65%);
	color: white;
	border: none;
	border-radius: 999px;

	&:hover {
		background-color: color-mix(
			in srgb,
			black calc(0.85 * 65%),
			currentColor calc(0.15 * 65%)
		);
	}

	&:active {
		background-color: color-mix(
			in srgb,
			black calc(0.75 * 65%),
			currentColor calc(0.25 * 65%)
		);
	}
}

%titlebar-button {
	--percentage: 7.5%;

	@extend %icon-button;

	background-color: color-mix(
		in srgb,
		var(--window_fg_color) var(--percentage),
		transparent
	);
	border: none;
	border-radius: 100%;

	width: var(--titlebar-button-size);
	height: var(--titlebar-button-size);

	transform: none;
}
