%cards-container {
	background-color: var(--card_bg_color);
	border-radius: var(--card_radius);
	box-shadow: var(--elevation-medium);

	transition: var(--backdrop_transition);
}

%card {
	background-color: var(--card_bg_color);
	border-radius: var(--card_radius);
	box-shadow: var(--elevation-medium);
	padding: 10px 16px;
	margin: 16px 0;

	transition: var(--backdrop_transition);

	&:hover {
		background-color: color-mix(in srgb, currentColor 3%, var(--card_bg_color));
	}

	&:active {
		background-color: color-mix(in srgb, currentColor 8%, var(--card_bg_color));
	}
}

%card-with-actual-border-radiuses {
	@extend %card;

	border-bottom: 1px solid var(--card_shade_color);
	border-radius: 0;

	&:first-child,
	&:first-of-type {
		border-radius: var(--card_radius) var(--card_radius) 0 0;
	}

	&:last-child,
	&:last-of-type {
		border-radius: 0 0 var(--card_radius) var(--card_radius);
		border: none;
	}

	&:only-of-type {
		border-radius: var(--card_radius);
	}
}
