%banner {
	background-color: var(--banner-bg);
	padding: var(--spacing);

	* {
		font-size: var(--document-font-size);
		font-weight: bold;
	}

	button {
		--banner-bg: inherit;
	}

	svg {
		display: none;
	}
}

%button {
	--banner-bg: var(--window_bg_color);
	--percentage: 10%;

	background-color: color-mix(
		in srgb,
		currentColor var(--percentage),
		var(--banner-bg)
	);
	color: var(--window_fg_color);
	padding: 5px 10px;
	border: none;
	border-radius: var(--button_radius);

	min-width: 16px;
	min-height: 24px;
	height: 34px;

	transition: var(--backdrop_transition);

	&:hover {
		--percentage: 15%;
	}

	&:active {
		--percentage: 30%;
	}

	* {
		font-weight: bold;
	}

	svg {
		display: none;
	}
}

%cards-container {
	background-color: var(--card_bg_color);
	border-radius: var(--card_radius);
	box-shadow: var(--elevation-medium);

	transition: var(--backdrop_transition);
}

%card {
	background-color: var(--card_bg_color);
	border-radius: var(--card_radius);
	box-shadow: var(--elevation-medium);
	padding: 10px 16px;
	margin: 16px 0;

	transition: var(--backdrop_transition);

	&:hover {
		background-color: var(--card_bg_hover_color);
	}

	&:active {
		background-color: var(--card_bg_active_color);
	}
}

%card-with-actual-border-radiuses {
	@extend %card;

	border-bottom: 1px solid var(--card_shade_color);
	border-radius: 0;

	&:first-child,
	&:first-of-type {
		border-radius: var(--card_radius) var(--card_radius) 0 0;
	}

	&:last-child,
	&:last-of-type {
		border-radius: 0 0 var(--card_radius) var(--card_radius);
		border: none;
	}

	&:only-of-type {
		border-radius: var(--card_radius);
	}
}

%icon-button {
	background-color: color-mix(
		in srgb,
		currentColor var(--percentage),
		transparent
	);
	border-radius: var(--button_radius);
	padding: 0;

	position: relative;
	width: var(--icon-button-size);
	height: var(--icon-button-size);

	transition: var(--backdrop_transition);

	&:hover {
		// *exact* #404040 for dark theme
		--percentage: 12.75%;
	}

	&:active {
		// *exact* #616161 for dark theme
		--percentage: 27.75%;
	}

	&:disabled {
		--percentage: 0%;
		opacity: var(--dim-level-opacity);
	}

	&::before {
		content: "";

		position: absolute;
		inset: 0;

		mask: var(--icon);
		mask-repeat: no-repeat;
		mask-position: center;
		background-color: var(--window_fg_color);
	}

	& > * {
		display: none;
	}
}

%text-field-focus {
	outline: 0 solid transparent;
	outline-offset: 2px;

	transition: var(--focus_transition);

	&:is(:focus, :focus-within) {
		outline: 2px solid
			color-mix(in srgb, var(--accent_bg_color) 50%, transparent);
		outline-offset: -2px;
	}
}

%text-field {
	@extend %text-field-focus;

	--percentage: 10%;

	background-color: color-mix(
		in srgb,
		currentColor var(--percentage),
		var(--window_bg_color)
	);
	font-size: var(--document-font-size);
	line-height: 1.2;
	border: none;
	border-radius: var(--button_radius);
	padding: 8px 9px;
	margin: 0;

	height: unset;

	&:disabled {
		opacity: var(--dim-level-opacity);
	}

	&::placeholder {
		color: var(--text-muted);
		font-size: inherit;
		font-weight: inherit;
	}
}

%title-3 {
	font-weight: 700;
	font-size: var(--document-font-size);
	text-transform: none;
	letter-spacing: 0;
}
