@use "../../mixins/controls";
@use "../../mixins/text";

[aria-label="Notification Settings"],
[href="https://support.discord.com"]
{
	display: none;
}

.container__9293f {
	border: none;
	box-shadow: var(--elevation-low);
	padding: 0;

	height: unset;

	// home
	&:not([role="navigation"]) > div {
		margin-left: calc(var(--icon-button-size) + var(--spacing-2x));

		&:has(.topic__6ec1a) {
			margin-right: calc(var(--icon-button-size) + var(--spacing));
		}
	}

	// 1. Home title
	// 5. Thread child channel
	&[role="navigation"] .titleWrapper__9293f,
	.akaBadge__488b1,
	.caret__9293f,
	.dot__9293f,
	.nicknames__488b1,
	.children__9293f > .iconWrapper__9293f,
	.children__9293f:has(> .caret__9293f) [role="button"] {
		display: none;
	}

	.children__9293f {
		padding: var(--spacing);

		min-height: var(--headerbar-height);
		display: flex;
		justify-content: center;

		app-region: drag;

		&:not(:has(.avatar_f75fb0)) {
			flex-direction: column;
		}

		// 1. VC fix
		// 2. Channel news
		& > :empty,
		& > .followButton_f75fb0 {
			display: none;
		}

		// Group chat
		& > .container__754bd {
			flex-grow: 0;
			flex-shrink: 0;

			div.input__4f074 {
				display: none;
			}
		}

		.channelName__754bd {
			padding: 0;
			margin: 0;

			input {
				opacity: 1;
				box-shadow: none;

				position: relative;
			}
		}
	}

	.titleWrapper__9293f,
	.topic__6ec1a {
		padding: 0;
		margin: 0;
	}

	.titleWrapper__9293f > h1 > div {
		@extend %title-2;
	}

	.topic__6ec1a {
		@extend %caption;

		line-height: 16px;
		text-align: center;

		// wtf ?
		width: -webkit-fill-available;
	}

	.avatar_f75fb0 {
		margin-left: 0;
		margin-right: var(--spacing);
	}

	// Experiments vencord plugin
	[aria-label="Help"] {
		--icon: icon("menu");
	}
}

.recentsIcon_c99c29 > div {
	@extend %icon-button;

	// Move from titlebar...
	position: fixed;
	top: calc(var(--spacing) + var(--app-border-size));
	right: calc(var(--titlebar-right-spacing) + var(--spacing));
}

// Button that shows the channel description
.topicClickTarget__6ec1a {
	--icon: icon("info-outline");

	@extend %icon-button;

	position: fixed;
	top: calc(var(--spacing) + var(--app-border-size));
	right: calc(
		var(--titlebar-right-spacing) + var(--icon-button-size) + var(--spacing-2x)
	);
	left: unset;

	pointer-events: all;
}

.upperContainer__9293f {
	padding-right: calc(
		var(--titlebar-right-spacing) + var(--icon-button-size) + var(--spacing)
	);
	align-items: center;
}

.toolbar__9293f {
	gap: var(--spacing);
	padding: var(--spacing);

	& > button {
		margin: 0;
	}

	[role="button"] {
		@extend %icon-button;

		margin: 0;
	}

	.vc-toolbox-btn {
		--window_fg_color: transparent;

		svg {
			display: initial;
		}
	}

	// vc
	.liveQualityIndicator__30845,
	[class*="live_"] {
		margin-bottom: 0;
	}

	// vc
	.qualityIndicator__30845 {
		width: unset;
		height: unset;

		&::before {
			display: none;
		}

		& > * {
			display: initial;
		}
	}
}

// Search
.toolbar__9293f > .search__49676 {
	margin: 0 var(--spacing);

	position: absolute;
	left: 0;

	& > div {
		&:not(:focus-within) > div {
			background: transparent;

			&,
			& > [role="button"] {
				width: var(--icon-button-size);
			}
		}

		&:focus-within [aria-label="Clear search"] {
			--icon: icon("window-close");
		}

		// When expanded, don't round the icon
		[role="button"] {
			border-radius: 0;
		}

		& > div {
			padding: 0;
			border: none;
			border-radius: var(--button_radius);

			height: var(--icon-button-size);
			flex-direction: row-reverse;

			transition: var(--backdrop_transition);

			& > [role="button"] {
				cursor: pointer;
			}
		}
	}

	.DraftEditor-root {
		padding: 4px 0;
	}
}
