@use "controls";
@use "typography";

:root {
	--chat-header-right-padding: calc(
		var(--titlebar-right-spacing) + var(--icon-button-size) + var(--spacing)
	);
}

.appAsidePanelWrapper_a3002d:has(> [data-app-right-panel="true"]) {
	--chat-header-right-padding: 0px;
}

.container__9293f {
	color: var(--headerbar_fg_color);
	border: none;
	padding: 0;

	overflow: hidden;
	height: unset;

	&.themed__9293f {
		background-color: var(--window_bg_color);
		box-shadow: var(--elevation-low);
	}

	&:has(.search__97492:focus-within, .icon__97492.clear_fea832) {
		height: calc(var(--headerbar-height) * 2);
	}

	// home
	&:not([role="navigation"], [aria-label="Thread header"]) > div {
		margin-left: calc(var(--icon-button-size) + var(--spacing-2x));
	}

	.avatar_f75fb0 {
		margin-left: 0;
		margin-right: var(--spacing);
	}

	// Experiments vencord plugin
	[aria-label="Help"] {
		--icon: icon("menu");
	}
}

.children__9293f {
	padding: var(--spacing);

	min-height: var(--headerbar-height);
	display: flex;
	justify-content: center;

	app-region: drag;

	&:not(:has(.avatar_f75fb0)) {
		flex-direction: column;
	}

	&:has(> .topic__6ec1a) {
		margin-right: var(--icon-button-size);
	}

	// 6. Channel news
	// 7. Thread child channel
	.akaBadge__488b1,
	.caret__9293f,
	.dot__9293f,
	.nicknames__488b1,
	& > :empty,
	& > .followButton_f75fb0,
	.iconWrapper__9293f,
	&:has(> .caret__9293f) [role="button"] {
		display: none;
	}

	// Group chat
	.channelName__754bd {
		padding: 0;
		margin: 0;

		input {
			@include controls.text-field;

			opacity: 1;

			position: relative;
		}
	}

	.container__754bd {
		flex-grow: 0;
		flex-shrink: 0;

		div.input__4f074 {
			display: none;
		}
	}
}

// Titlebar notifications button
.clickableContainer_ede711 {
	@include controls.icon-button;

	margin: 0;

	// A little dot instead of :has()
	& > .numberBadge__2b1f5 {
		--size: 8px;

		display: flex;
		position: absolute;
		top: var(--spacing);
		right: var(--spacing);
		width: var(--size);
		height: var(--size);
		min-width: var(--size);
		min-height: var(--size);
	}
}

.icon__97492 {
	@include controls.icon-button-with-tooltip(
		$name: "loupe-large",
		$direction: "bottom",
		$selector: "::after"
	);

	margin: 0;

	cursor: pointer;

	.search__97492.open__97492 & {
		@include controls.button-selected;
	}

	&.clear_fea832 {
		--icon: icon("window-close");
	}

	// tooltip, the theme is english only anyway lol
	&:not(.clear_fea832):hover::after {
		content: "Search Messages";
	}
}

.iconWrapper__9293f {
	@include controls.icon-button;

	color: inherit;
}

.search__49676 {
	margin: 0 var(--spacing);

	position: absolute;
	left: 0;

	.DraftEditor-editorContainer {
		height: unset;
	}

	.DraftEditor-root {
		@include controls.text-field;

		font-weight: normal;

		position: absolute;
		top: var(--headerbar-height);
		left: 0;
		width: 250px;
	}

	.public-DraftEditor-content,
	.public-DraftEditorPlaceholder-root {
		padding: 0;
		padding-left: 2px;
		margin-block: 1px -1px;
	}

	.searchAnswer_bd8186,
	.searchFilter_bd8186 {
		@extend %text-normal;

		background-color: color-mix(in srgb, currentColor 20%, transparent);
		border: none;
		border-radius: 0;
		margin-block: calc(var(--space-4) * -1);

		height: unset;
	}
}

.searchBar__97492 {
	background: transparent;
	color: inherit;
	padding: 0;
	border: none;
	border-radius: var(--button_radius);

	width: var(--icon-button-size);
	height: var(--icon-button-size);
	flex-direction: row-reverse;

	transition: var(--backdrop_transition);
}

.title__9293f {
	color: inherit;
}

.titleWrapper__9293f {
	padding: 0;
	margin: 0;

	// Home title
	.container__9293f[role="navigation"] & {
		display: none;
	}

	& > h1 > div {
		@extend %title-2;

		line-height: 18px;
	}
}

.topic__6ec1a {
	@extend %caption;

	line-height: 16px;
	text-align: center;
	padding: 0;
	margin: 0;

	anchor-name: --chat-topic;
	// wtf ?
	width: -webkit-fill-available;

	a,
	.channelMention {
		app-region: no-drag;
	}

	// channel icon, needed to not expand by 1px
	.icon_b75563 {
		margin-bottom: 0.1rem;
	}
}

// Channel description button
.topicClickTarget__6ec1a {
	@include controls.icon-button-with-tooltip(
		$name: "info-outline",
		$direction: "bottom",
		$selector: "::after"
	);

	color: var(--headerbar_fg_color);

	position: fixed;
	position-anchor: --chat-topic;
	top: var(--spacing);
	right: calc(anchor(right) - var(--icon-button-size) - var(--spacing));
	left: unset;

	pointer-events: all;

	// Visible banner
	.content_c48ade:nth-child(3) & {
		margin-top: calc(var(--icon-button-size) + var(--spacing-2x));
	}
}

.toolbar__9293f {
	gap: var(--spacing);
	padding: var(--spacing);

	[aria-label="Notification Settings"] {
		display: none;
	}

	// vc
	.liveQualityIndicator__30845 {
		margin-bottom: 0;
	}

	// vc
	.qualityIndicator__30845 {
		width: unset;
		height: unset;

		&::before {
			display: none;
		}

		& > * {
			display: initial;
		}
	}
}

.transparent__9293f {
	.children__9293f,
	.toolbar__9293f,
	.upperContainer__9293f {
		opacity: 1;
	}
}

.upperContainer__9293f {
	--window_fg_color: var(--headerbar_fg_color);
	--window_fg_muted: color-mix(
		in srgb,
		var(--window_fg_color) var(--dim-level-opacity),
		transparent
	);

	padding-right: var(--chat-header-right-padding);
	align-items: start;
}
