@use "controls";
@use "typography";
@use "util";

:root {
	--chat-header-right-padding: calc(
		var(--titlebar-right-spacing) + var(--icon-button-size) + var(--spacing)
	);
}

.a3002d7de5be5280-appAsidePanelWrapper:has(> [data-app-right-panel="true"]) {
	--chat-header-right-padding: 0px;
}

._9293f6b2fc12398a-container {
	color: var(--headerbar_fg_color);
	border: none;
	padding: 0;

	overflow: hidden;
	height: unset;

	&._9293f6b2fc12398a-themed {
		background-color: var(--window_bg_color);
		box-shadow: var(--elevation-low);
	}

	&:has(._974928fe84ca9647-search:focus-within),
	&:has(._974928fe84ca9647-icon._974928fe84ca9647-pointer) {
		height: calc(var(--headerbar-height) * 2);
	}

	// home
	&:not([role="navigation"], [aria-label="Thread header"]) > div {
		margin-left: calc(var(--icon-button-size) + var(--spacing-2x));
	}

	.f75fb00fb7356cbe-avatar {
		margin-left: 0;
		margin-right: var(--spacing);
	}

	// Experiments vencord plugin
	[aria-label="Help"] {
		--icon: icon("menu");
	}
}

._9293f6b2fc12398a-children {
	padding: var(--spacing);

	min-height: var(--headerbar-height);
	display: flex;
	justify-content: center;

	app-region: drag;

	&:not(:has(.f75fb00fb7356cbe-avatar)) {
		flex-direction: column;
	}

	&:has(> ._6ec1a06139ec3b27-topic) {
		margin-right: var(--icon-button-size);
	}

	// 6. Channel news
	// 7. Thread child channel
	._488b1a4248d1b790-akaBadge,
	._9293f6b2fc12398a-caret,
	._9293f6b2fc12398a-dot,
	._488b1a4248d1b790-nicknames,
	& > :empty,
	& > .f75fb00fb7356cbe-followButton,
	._9293f6b2fc12398a-iconWrapper,
	&:has(> ._9293f6b2fc12398a-caret) [role="button"] {
		display: none;
	}

	// Group chat
	._754bde0f294a39cb-hoverableContainer {
		@include controls.button;
		@include util.inactive-dim;

		background-color: transparent;

		-webkit-app-region: no-drag;

		// TODO: ? in controls.button
		._44b0c28be7879b7b-svg {
			display: initial;
		}
	}
}

// Titlebar notifications button
// TODO: clean up after the dogshit notifs/inbox experiment is over
.c99c29809d200a61-clickable,
.ede7113dd6ec1b66-clickableContainer {
	@include controls.icon-button;

	color: inherit;
	margin: 0;

	// A little dot instead of :has()
	& > ._2b1f52e43a8f1c02-numberBadge {
		--size: 8px;

		display: flex;
		position: absolute;
		top: var(--spacing);
		right: var(--spacing);
		width: var(--size);
		height: var(--size);
		min-width: var(--size);
		min-height: var(--size);
	}
}

._974928fe84ca9647-icon {
	@include controls.icon-button-with-tooltip(
		$name: "loupe-large",
		$direction: "bottom",
		$selector: "&:hover::after"
	);

	margin: 0;

	cursor: pointer;

	._974928fe84ca9647-search._974928fe84ca9647-open & {
		@include controls.button-selected;
	}

	&._974928fe84ca9647-pointer {
		--icon: icon("window-close");
	}

	// tooltip, the theme is english only anyway lol
	&:not(._974928fe84ca9647-pointer):hover::after {
		content: "Search Messages";
	}
}

._9293f6b2fc12398a-iconWrapper {
	@include controls.icon-button;

	color: inherit;
}

._496769951eb140fe-search {
	margin: 0 var(--spacing);

	position: absolute;
	left: 0;

	.DraftEditor-editorContainer {
		height: unset;
	}

	.DraftEditor-root {
		@include controls.text-field;

		font-weight: normal;

		position: absolute;
		top: var(--headerbar-height);
		left: 0;
		width: 250px;
	}

	.public-DraftEditor-content,
	.public-DraftEditorPlaceholder-root {
		padding: 0;
		padding-left: 2px;
		margin-block: 1px -1px;
	}

	.bd818628221af7aa-searchAnswer,
	.bd818628221af7aa-searchFilter {
		@extend %text-normal;

		background-color: color-mix(in srgb, currentColor 20%, transparent);
		border: none;
		border-radius: 0;
		margin-block: calc(var(--space-4) * -1);

		height: unset;
	}
}

._974928fe84ca9647-searchBar {
	background: transparent;
	color: inherit;
	padding: 0;
	border: none;
	border-radius: var(--button_radius);

	width: var(--icon-button-size);
	height: var(--icon-button-size);
	flex-direction: row-reverse;

	transition: var(--backdrop_transition);
}

._9293f6b2fc12398a-title {
	color: inherit;
}

._9293f6b2fc12398a-titleWrapper {
	padding: 0;
	margin: 0;

	// Home title
	._9293f6b2fc12398a-container[role="navigation"] & {
		display: none;
	}

	& > h1 > div {
		@extend %title-2;

		line-height: 18px;
	}
}

._6ec1a06139ec3b27-topic {
	@extend %caption;

	line-height: 16px;
	text-align: center;
	padding: 0;
	margin: 0;

	anchor-name: --chat-topic;
	// wtf ?
	width: -webkit-fill-available;

	a,
	.channelMention {
		app-region: no-drag;
	}

	// channel icon, needed to not expand by 1px
	.b7556324b2bdb82b-icon {
		margin-bottom: 0.1rem;
	}
}

// Channel description button
._6ec1a06139ec3b27-topicClickTarget {
	@include controls.icon-button-with-tooltip(
		$name: "info-outline",
		$direction: "bottom",
		$selector: "&:hover::after"
	);

	color: var(--headerbar_fg_color);

	position: fixed;
	position-anchor: --chat-topic;
	top: var(--spacing);
	right: calc(anchor(right) - var(--icon-button-size) - var(--spacing));
	left: unset;

	pointer-events: all;

	// Visible banner
	._5e434347c823b592-content:nth-child(3) & {
		margin-top: calc(var(--icon-button-size) + var(--spacing-2x));
	}
}

._9293f6b2fc12398a-toolbar {
	gap: var(--spacing);
	padding: var(--spacing);

	[aria-label="Notification Settings"] {
		display: none;
	}

	// vc
	._30845ecfafc292c8-liveQualityIndicator {
		margin-bottom: 0;
	}

	// vc
	._30845ecfafc292c8-qualityIndicator {
		width: unset;
		height: unset;

		&::before {
			display: none;
		}

		& > * {
			display: initial;
		}
	}
}

._9293f6b2fc12398a-transparent {
	._9293f6b2fc12398a-children,
	._9293f6b2fc12398a-toolbar,
	._9293f6b2fc12398a-upperContainer {
		opacity: 1;
	}
}

._9293f6b2fc12398a-upperContainer {
	--window_fg_color: var(--headerbar_fg_color);
	--window_fg_muted: color-mix(
		in srgb,
		var(--window_fg_color) var(--dim-level-opacity),
		transparent
	);

	padding-right: var(--chat-header-right-padding);
	align-items: start;
}
