@use "controls";
@use "typography";

:root {
	--chat-header-right-padding: calc(
		var(--titlebar-right-spacing) + var(--icon-button-size) + var(--spacing)
	);
}

.appAsidePanelWrapper_a3002d:has(> [data-app-right-panel="true"]) {
	--chat-header-right-padding: 0px;
}

.container__9293f {
	border: none;
	box-shadow: var(--elevation-low);
	padding: 0;

	height: unset;

	// home
	&:not([role="navigation"], [aria-label="Thread header"]) > div {
		margin-left: calc(var(--icon-button-size) + var(--spacing-2x));
	}

	.avatar_f75fb0 {
		margin-left: 0;
		margin-right: var(--spacing);
	}

	// Experiments vencord plugin
	[aria-label="Help"] {
		--icon: icon("menu");
	}
}

.children__9293f {
	padding: var(--spacing);

	min-height: var(--headerbar-height);
	display: flex;
	justify-content: center;

	app-region: drag;

	&:not(:has(.avatar_f75fb0)) {
		flex-direction: column;
	}

	&:has(> .topic__6ec1a) {
		margin-right: var(--icon-button-size);
	}

	// 5. VC fix
	// 6. Channel news
	// 7. Thread child channel
	.akaBadge__488b1,
	.caret__9293f,
	.dot__9293f,
	.nicknames__488b1,
	& > :empty,
	& > .followButton_f75fb0,
	& > .iconWrapper__9293f,
	&:has(> .caret__9293f) [role="button"] {
		display: none;
	}

	// Group chat
	.channelName__754bd {
		padding: 0;
		margin: 0;

		input {
			@include controls.text-field;

			opacity: 1;

			position: relative;
		}
	}

	.container__754bd {
		flex-grow: 0;
		flex-shrink: 0;

		div.input__4f074 {
			display: none;
		}
	}
}

.icon__97492 {
	// When expanded, don't round the icon
	--button_radius: 0;

	@include controls.icon-button-with-tooltip(
		$name: "loupe-large",
		$direction: "bottom",
		$selector: "::after"
	);

	cursor: pointer;

	.search__97492:focus-within & {
		--icon: icon("window-close");
	}

	// tooltip, the theme is english only anyway lol
	.search__97492:not(:focus-within):hover &::after {
		content: "Search Messages";
	}
}

.iconWrapper__9293f {
	@include controls.icon-button;
}

.search__49676 {
	margin: 0 var(--spacing);

	position: absolute;
	left: 0;

	.DraftEditor-root {
		padding: 4px 0;
	}
}

.searchBar__97492 {
	background-color: color-mix(
		in srgb,
		currentColor 10%,
		var(--window_bg_color)
	);
	padding: 0;
	border: none;
	border-radius: var(--button_radius);

	height: var(--icon-button-size);
	flex-direction: row-reverse;

	transition: var(--backdrop_transition);

	.search__97492:not(:focus-within) > & {
		background: transparent;

		&,
		.icon__97492 {
			width: var(--icon-button-size);
		}
	}
}

.titleWrapper__9293f {
	padding: 0;
	margin: 0;

	// Home title
	.container__9293f[role="navigation"] & {
		display: none;
	}

	& > h1 > div {
		@extend %title-2;

		line-height: 18px;
	}
}

.topic__6ec1a {
	@extend %caption;

	line-height: 16px;
	text-align: center;
	padding: 0;
	margin: 0;

	anchor-name: --chat-topic;
	// wtf ?
	width: -webkit-fill-available;

	a,
	.channelMention {
		app-region: no-drag;
	}

	// channel icon, needed to not expand by 1px
	.icon_b75563 {
		margin-bottom: 0.1rem;
	}
}

// Channel description button
.topicClickTarget__6ec1a {
	@include controls.icon-button-with-tooltip(
		$name: "info-outline",
		$direction: "bottom",
		$selector: "::after"
	);

	color: var(--window_fg_color);

	position: fixed;
	position-anchor: --chat-topic;
	top: var(--spacing);
	right: calc(anchor(right) - var(--icon-button-size) - var(--spacing));
	left: unset;

	pointer-events: all;

	// TODO: pasted from global/window.scss visible app banner part
	.content_c48ade:nth-child(3) & {
		margin-top: calc(var(--icon-button-size) + var(--spacing-2x));
	}
}

.toolbar__9293f {
	gap: var(--spacing);
	padding: var(--spacing);

	[aria-label="Notification Settings"] {
		display: none;
	}

	// vc
	.liveQualityIndicator__30845 {
		margin-bottom: 0;
	}

	// vc
	.qualityIndicator__30845 {
		width: unset;
		height: unset;

		&::before {
			display: none;
		}

		& > * {
			display: initial;
		}
	}
}

.upperContainer__9293f {
	padding-right: var(--chat-header-right-padding);
	align-items: center;
}
