@use "controls";
@use "typography";

.container_f37cb1 {
	&.bannerVisible_f37cb1 {
		.header_f37cb1 {
			background-image: linear-gradient(var(--backdrop), transparent);
		}

		.headerContent_f37cb1 {
			filter: var(--text-shadow);
		}
	}

	&:not(.bannerVisible_f37cb1) {
		.header_f37cb1 {
			box-shadow: var(--elevation-low);
		}

		.headerContent_f37cb1 {
			color: var(--headerbar_fg_color);
		}
	}
}

.guildDropdown_f37cb1 {
	// Move text to .headerChildren
	--text: attr(aria-label);

	all: unset;

	display: flex;
	width: 100%;
}

.header_f37cb1 {
	background-color: transparent;
	border: none;
	border-radius: 0;
	padding: var(--spacing);

	app-region: drag;
}

.guildIconV2Container__85d16,
.headerEllipseBackdrop_f37cb1,
.headerEllipseForeground_f37cb1,
.headerGlass_f37cb1,
.inviteButton_f37cb1 {
	display: none;
}

.headerChildren_f37cb1 {
	@include controls.icon-button-with-tooltip(
		$name: "menu",
		$direction: "bottom",
		$selector: "&:hover::after",
		$overflow-workaround-direction: "right"
	);

	flex-shrink: 0;

	app-region: no-drag;
	pointer-events: all;

	&:hover::after {
		content: var(--text);
	}
}

.headerContent_f37cb1 {
	gap: 0;
}

.name_f37cb1 {
	@extend %title-2;

	color: inherit;
	line-height: 1;
	padding-inline: var(--spacing);
	margin: auto;
}
