@use "controls";
@use "typography";

.container_f37cb1 {
	&.bannerVisible_f37cb1 {
		.headerContent_f37cb1 {
			filter: drop-shadow(0 1px 1px var(--bg-backdrop));
		}
	}

	&:not(.bannerVisible_f37cb1) {
		.header_f37cb1 {
			box-shadow: var(--elevation-low);
		}
	}

	.header_f37cb1 {
		background-color: transparent;
		border: none;
		padding: var(--spacing);

		app-region: drag;
	}

	.headerEllipseBackdrop_f37cb1,
	.headerEllipseForeground_f37cb1,
	.headerGlass_f37cb1 {
		display: none;
	}

	.name_f37cb1 {
		@extend %title-2;

		margin: auto;
	}
}

.guildIconV2Container__85d16,
.headerChildren_f37cb1 {
	display: none;
}

.headerButton_f37cb1 {
	@include controls.icon-button-with-tooltip(
		$name: "menu",
		$direction: "bottom",
		$selector: "::after"
	);

	flex-shrink: 0;

	app-region: no-drag;
	pointer-events: all;

	// tooltip, it doesn't want $overflow-workaround-direction
	&::after {
		right: 0;
	}
}
