@use "controls";

%-search-answer {
	@include controls.tag;

	border-start-start-radius: 0;
	border-end-start-radius: 0;
	padding-inline-start: var(--spacing-05x);
}

%-search-filter {
	@include controls.tag;

	border-start-end-radius: 0;
	border-end-end-radius: 0;
	padding-inline-end: var(--spacing-05x);
}

// these 2 are in the popover
.answerPill__971b5 {
	@extend %-search-answer;
}

.filterPill__971b5 {
	@extend %-search-filter;
}

// these 2 are in the chat header
.searchAnswer_bd8186 {
	@extend %-search-answer;

	margin-inline: 0 var(--spacing-05x);
}

.searchFilter_bd8186 {
	@extend %-search-filter;

	margin-inline: var(--spacing-05x) 0;
}
