@use "controls";
@use "typography";
@use "util";

.card__73069 {
	@include controls.card($activatable: false);
}

.category_f06a86 {
	margin-bottom: 34px;
}

.content_dbba93 {
	@extend .contentColumn__23e6b;
}

.contentColumn__23e6b {
	padding: 22px 28px;
	margin: auto;

	max-width: var(--content-width);
}

.contentRegion__23e6b {
	border-left: 1px solid var(--sidebar_border_color);

	// for banner
	flex-direction: column-reverse;

	.divider__1de9c {
		display: none;
	}
}

// for banner
.contentTransitionWrap__23e6b {
	width: 100%;
}

// .navigation-sidebar
.sidebar__23e6b {
	padding: 0;

	.header_aa8da2 {
		display: none;
	}

	.searchBar_c7e907 {
		margin: 0 var(--menu_margin) 2px;
	}

	.separator_aa8da2 {
		color: var(--window_fg_muted);
		margin: var(--menu_margin);
	}

	[role="tab"] {
		display: flex;
		align-items: center;

		&::before {
			content: "";

			@include util.icon;

			display: inline-block;

			margin-right: 12px;
		}

		svg {
			display: none;
		}
	}
}

.sidebarRegion__23e6b {
	flex: unset;
}

.sidebarRegionScroller__23e6b {
	background-color: var(--sidebar_bg_color);
}

// Status page
.wrapper__33d12 {
	.text__33d12 {
		@extend %text-normal;

		color: var(--window_fg_color);
		margin-top: var(--spacing-2x);
	}

	.title__33d12 {
		@extend %title-1;

		color: var(--window_fg_color);
		text-transform: unset;
	}
}
