@use "controls";

// Server settings traits
._4cbea77cc60607a7-grid {
	gap: var(--spacing) var(--spacing-2x);

	._04eede68d145ae81-emojiButton {
		@include controls.icon-button("emoji-people");
	}

	.emojiWrapper__4cbea {
		all: unset;
	}

	.traitContainer__4cbea {
		background-color: transparent;
		border: none;
		gap: var(--spacing);
		padding: 0;
	}
}

// Access -> "How can people join your server?"
._959cbfbb20fb39e8-joinOptionTab {
	all: unset;
}
