@use "controls";
@use "typography";

$-themes-container-sel: ".dbd2630aec71879b-stack:has(> ._36dee59b8fa89219-themeSelectionContainer)";

// Nitro themes
@include controls.radio(
	$-themes-container-sel,
	"._36dee59b8fa89219-themeSelection",
	"._36dee59b8fa89219-themeSelection::before",
	".hack"
);

#{$-themes-container-sel} {
	background-color: transparent;
	gap: 0;

	overflow: hidden;
	flex-direction: column;

	._36dee59b8fa89219-iconWrapper {
		display: none;
	}

	._36dee59b8fa89219-selectionCircle {
		display: none;
	}

	._36dee59b8fa89219-themeSelection {
		// --card_fg_color
		&._36dee59b8fa89219-darkOverlay {
			color: #fff;
		}

		&._36dee59b8fa89219-lightOverlay {
			color: rgba(0, 0, 6, 0.8);
		}

		// radios.scss override
		&:first-of-type {
			border-bottom: 1px solid var(--card_shade_color);
			border-radius: 0;

			display: flex;
			align-items: center;

			._36dee59b8fa89219-themeSelectionContainer:nth-last-child(2) > & {
				border: none;
			}
		}

		&::before {
			content: "";

			box-sizing: border-box;
			display: block;
			width: 22px;
			height: 22px;
		}

		&[aria-checked="true"]::before {
			background-color: #fff;
			border: 7px solid var(--accent-bg-color);
		}

		&[aria-checked="false"]::before {
			border: 2px solid color-mix(in srgb, currentColor 25%, transparent);
		}

		&::after {
			content: attr(aria-label);
		}
	}

	._36dee59b8fa89219-themeSelectionContainer {
		width: unset;
		height: unset;
	}

	._3e443c6b2569044a-themeTitleContainer {
		@extend %title-3;
	}

	._3e443c6b2569044a-title {
		margin-bottom: 0;
	}
}
