.themeSelection__36dee {
	border-radius: 50%;

	&.defaultThemeSelection__36dee {
		box-shadow: none;
	}

	&.selected__36dee {
		box-shadow: 0 0 0 3px var(--accent-bg-color);
	}
}

.themeSelectionContainer__36dee {
	.selectionCircle__36dee {
		display: none;
	}
}
