@use "../../mixins/controls";
@use "../../mixins/text";

%-center-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

%-tab-header {
	position: fixed;
	top: calc(var(--p) + var(--weird-offset));
	// prettier-ignore
	left: calc(
		var(--p)
		+ var(--sidebar-width)
		+ var(--scrollbar-width)
		+ var(--weird-offset)
		+ 1px
	);
	// prettier-ignore
	width: calc(
		100%
		- var(--p) * 2 - var(--sidebar-width)
		- var(--titlebar-button-size) - var(--titlebar-button-spacing) * 2
		- var(--scrollbar-width)
	);
	height: var(--headerbar-height);
	z-index: 999;

	app-region: drag;

	&::before {
		content: "";

		position: absolute;
		inset: 0;
		// prettier-ignore
		width: calc(
			100%
			+ var(--titlebar-button-size) + var(--titlebar-button-spacing) * 2
			- 5px
		);
		z-index: -1;

		background-color: var(--window_bg_color);
		border-top-right-radius: var(--window_radius);
		box-shadow: var(--elevation-low);
	}
}

.closeButton_c2b141 {
	@extend %titlebar-button;

	opacity: 1;

	flex: 0 0 var(--titlebar-button-size);
}

.contentColumn__23e6b {
	// First is for vencord, but maybe others as well
	& > div > .defaultColor__4bd52:first-child,
	& > .defaultColor__4bd52:first-child,
	.settingsPage_f131e9 > h3 {
		@extend %-center-text;
		@extend %-tab-header;
		@extend %title-3;
	}

	& > div > .sectionTitle__7bffb {
		@extend %-tab-header;

		& > * {
			@extend %-center-text;
			@extend %title-3;

			margin: 0;
		}
	}
}

.keybind_c2b141 {
	display: none;
}

.layers__960e4 {
	--p: calc((100% - var(--settings-dialog-size)) / 2);
	--weird-offset: 2px;

	& > .layer__960e4 {
		opacity: 1;

		&[aria-hidden="true"] {
			pointer-events: none;
			transform: none;

			&::before {
				content: "";

				position: fixed;
				inset: 0;

				background-color: var(--backdrop);
				z-index: 101;
			}
		}
	}

	& > :not(:only-child):last-child {
		box-shadow: var(--elevation-high);
		border: 1px solid var(--window_border_color);
		border-radius: var(--window_radius);

		inset: var(--p);

		& > div {
			top: var(--headerbar-height);
		}
	}
}

.sidebarRegion__23e6b {
	[role="tablist"][aria-orientation="vertical"]::before {
		content: attr(aria-label);

		position: fixed;
		top: calc(var(--p) + var(--weird-offset));
		left: calc(var(--p) + var(--weird-offset));
		width: calc(var(--sidebar-width) + var(--scrollbar-width));
		height: var(--headerbar-height);
		@extend %-center-text;

		background-color: var(--secondary_sidebar_bg_color);
		@extend %title-3;
		border-right: 1px solid var(--background-modifier-accent);
		border-top-left-radius: var(--window_radius);
		box-shadow: var(--elevation-low);

		app-region: drag;
	}
}

.tools__23e6b {
	position: fixed;
	top: calc(var(--p) + var(--titlebar-button-spacing));
	right: calc(var(--p) + var(--titlebar-button-spacing));
}

.toolsContainer__23e6b {
	position: absolute;
	z-index: 999;
}
