@use "controls";
@use "typography";
@use "util";

.contentHeader_e9e3ed {
	color: var(--headerbar_fg_color);
	border: none;
	box-shadow: var(--elevation-low);
	padding: var(--titlebar-button-spacing);

	height: var(--headerbar-height);
	z-index: 1;

	.contentHeaderLeft_e9e3ed {
		flex-grow: 1;
		justify-content: center;
	}

	[data-text-variant] {
		@extend %title-3;
	}

	button {
		@include controls.titlebar-button;
	}
}

.modal_e44912 {
	.modalContent_e44912 {
		// appears in small windows
		border: none;
	}

	* {
		box-sizing: border-box;
	}
}

.panel__6131a {
	padding: 22px 28px;
	margin: auto;

	max-width: var(--content-width);
}

.sidebar__409aa {
	background-color: var(--sidebar_bg_color);
	border-inline-end: 1px solid var(--sidebar_border_color);
	padding: 0;

	.fixedContent__409aa {
		// for search bar
		--window_bg_color: var(--sidebar_bg_color);

		box-shadow: var(--elevation-low);
		gap: var(--spacing);
		padding: var(--spacing);

		display: flex;
		z-index: 1;

		.item_caf372 {
			@include controls.icon-button-with-tooltip(
				$name: "person",
				$direction: "bottom",
				$selector: "&:hover .textContainer__99464"
			);

			margin: 0;

			min-height: unset;
			justify-content: center;

			&.active_caf372 {
				@include controls.button-selected;
			}

			&:not(:hover) .textContainer__99464 {
				display: none;
			}
		}

		.profileCustomizationTab__99464 {
			gap: var(--spacing);

			display: flex;
			max-width: unset;

			.textContainer__99464 {
				left: var(--spacing);
			}

			.wrapper__44b0c,
			.wrapper__44b0c > svg > foreignObject {
				--icon-size: 24px;

				width: var(--icon-size);
				height: var(--icon-size);
			}

			[data-text-variant] {
				color: inherit;
			}
		}

		.section__409aa {
			border: none;
			padding: 0;
		}

		&::after {
			display: none;
		}

		& > :nth-child(2) {
			flex: 1 1 auto;
		}
	}

	.itemContent_caf372 {
		gap: var(--spacing-2x);
	}

	.nav__409aa {
		gap: var(--menu_margin);
	}

	.navScroller__409aa {
		padding: var(--menu_margin) 0;
		margin-inline: var(--menu_margin) 0;

		.item_caf372 {
			// TODO(controls): maybe remove vertical tabs and make them a mixin
			@include controls.button;

			background-color: transparent;
			line-height: 44px;
			padding: 0 14px;

			min-height: 36px;

			&.active_caf372 {
				background-color: color-mix(in srgb, currentColor 10%, transparent);

				&:hover {
					background-color: color-mix(in srgb, currentColor 13%, transparent);
				}

				&:active {
					background-color: color-mix(in srgb, currentColor 19%, transparent);
				}
			}

			svg {
				@include util.icon;

				display: inline-block;

				* {
					display: none;
				}
			}
		}

		// footer
		& > div {
			margin: var(--spacing) auto;
		}
	}

	.section__409aa {
		// TODO: dedi file
		$border_color: color-mix(in srgb, currentColor 25%, transparent);
		border-bottom: 1px solid #{$border_color};
		gap: 2px;
		padding-bottom: var(--menu_margin);
	}

	.sectionLabel__409aa {
		display: none;
	}
}
