@use "controls";
@use "typography";

%-center-text {
	display: flex;
	align-items: center;
	justify-content: center;
}

%-tab-header {
	color: var(--headerbar_fg_color);

	position: fixed;
	top: calc(var(--p) + 1px);
	// prettier-ignore
	left: calc(
		var(--p)
		+ var(--sidebar-width)
		+ var(--scrollbar-width)
		+ var(--weird-offset)
		+ 1px
	);
	// prettier-ignore
	width: calc(
		100%
		- var(--p) * 2 - var(--sidebar-width)
		- var(--titlebar-button-size) - var(--titlebar-button-spacing) * 2
		- var(--scrollbar-width)
	);
	height: var(--headerbar-height);
	z-index: 999;

	app-region: drag;

	&::before {
		content: "";

		position: absolute;
		inset: 0;
		// prettier-ignore
		width: calc(
			100%
			+ var(--titlebar-button-size) + var(--titlebar-button-spacing) * 2
			- var(--weird-offset) - 2px
		);
		z-index: -1;

		background-color: var(--window_bg_color);
		border-top-right-radius: var(--window_radius);
		box-shadow: var(--elevation-low);
	}
}

.c2b141c0f80863fb-closeButton {
	@include controls.titlebar-button;

	opacity: 1;
	color: var(--headerbar_fg_color);

	flex: 0 0 var(--titlebar-button-size);
}

._23e6b439306f125a-contentColumn {
	& > ._4bd5201c86a2042b-defaultColor:first-child,
	.f131e93f07e2fe18-settingsPage > h3 {
		@extend %-center-text;
		@extend %-tab-header;
		@extend %title-3;
	}

	& > div > .sectionTitle__7bffb {
		@extend %-tab-header;

		& > * {
			@extend %-center-text;
			@extend %title-3;

			margin: 0;
		}
	}
}

// Server settings
// #2 is for "Invites" tab
._23e6b439306f125a-standardSidebarView :where(.d125d22cdfd32cfe-scrollerBase, ._99f8cc7ad4790ce9-scrollerBase) {
	// Vencord
	& > ._23e6b439306f125a-contentColumn > section > h2:first-child,
	.vcd-settings-title,
	// Most tabs
	div:not([class]) > h2[data-text-variant="heading-lg/semibold"],
	// Boost Perks
	#boost_perks-tab > main > h2,
	// Emoji/Bans
	:is(.e7d73e5106887df1-emojiSettings, ._4b8d892e5bcb9bd7-container) .sectionTitle__7bffb > h2,
	// Members
	.fa2640ef99d88f6e-header > h2,
	// Roles
	[aria-hidden="true"][style="height: 60px;"] + div > h2,
	// Invites
	._1de147913cbd4329-header,
	// Access
	#access-tab > div > h2,
	// Integrations
	.befe6742ee31e9d2-breadcrumbs > h2,
	// Server Boost Status
	#guild_premium-tab > h2,
	// Server Templates
	#guild_templates-tab > div > h2,
	// Audit logs
	.formTitle__5906b {
		@extend %-center-text;
		@extend %-tab-header;
		@extend %title-3;
	}

	// "Invites" tab
	._1de147913cbd4329-header {
		padding: 0;
	}
}

.c2b141c0f80863fb-keybind {
	display: none;
}

._960e4207cea8323e-layer {
	opacity: 1;
	background-color: transparent;
}

._960e4207cea8323e-layers {
	--p: calc((100% - var(--settings-dialog-size)) / 2);
	--weird-offset: 1px;

	.custom-theme-background & {
		--weird-offset: 2px;
	}

	.c38106a3f0c3ca76-systemBar.c38106a3f0c3ca76-show + div &::before {
		content: "";

		position: fixed;
		inset: 0;

		background-color: var(--backdrop);
		z-index: 101;
	}
}

// Server settings "Roles" tab sidebar
// No idea how this got broken, 0 behavior change, GENIUS layout, D*scord
._91dc3971e82843c1-page {
	position: absolute;

	// Single role view headerbar
	.e29cd7b93c4f1266-titleContainer {
		@extend %-tab-header;

		box-shadow: none;
		gap: var(--spacing);
		padding: var(--spacing);
		margin: 0;

		justify-content: start;

		.e29cd7b93c4f1266-addRole {
			@include controls.icon-button("plus");

			app-region: no-drag;
		}

		.e29cd7b93c4f1266-title {
			@include controls.icon-button-with-tooltip(
				$name: "left",
				$direction: "top",
				$selector: "&:hover > .e29cd7b93c4f1266-titleText"
			);

			app-region: no-drag;
		}
	}
}

._23e6b439306f125a-sidebarRegion {
	[role="tablist"][aria-orientation="vertical"]::before {
		content: attr(aria-label);

		position: fixed;
		top: calc(var(--p) + 1px);
		left: calc(var(--p) + var(--weird-offset));
		width: calc(var(--sidebar-width) + var(--scrollbar-width));
		height: var(--headerbar-height);
		@extend %-center-text;

		background-color: var(--sidebar_bg_color);
		@extend %title-3;
		color: var(--headerbar_fg_color);
		border-right: 1px solid var(--sidebar_border_color);
		border-top-left-radius: var(--window_radius);
		box-shadow: var(--elevation-low);

		app-region: drag;
	}
}

._23e6b439306f125a-standardSidebarView {
	box-shadow: var(--elevation-high);
	border: 1px solid var(--window_outline_color);
	border-radius: var(--window_radius);
	padding-top: var(--headerbar-height);

	overflow: hidden;
	position: fixed;
	inset: var(--p);
}

._23e6b439306f125a-tools {
	position: fixed;
	top: calc(var(--p) + var(--titlebar-button-spacing));
	right: calc(var(--p) + var(--titlebar-button-spacing));
}

._23e6b439306f125a-toolsContainer {
	position: absolute;
	z-index: 999;
}
