@use "controls";
@use "typography";
@use "util";

:where(.vc-btn-base) {
	@include controls.button;

	&:disabled {
		opacity: var(--dim-level-opacity);
	}

	&.vc-btn-primary {
		@include controls.button-accent;
	}
}

.vc-card-base {
	@include controls.card;

	border: none;

	&.vc-card-warning {
		--card_bg_color: color-mix(
			in srgb,
			var(--warning-bg-color) 10%,
			transparent
		);
		--card_fg_color: var(--warning-color);
		--card_shade_color: color-mix(
			in srgb,
			var(--warning-bg-color) 36%,
			transparent
		);
	}

	& > :is(h1, h2, h3, h4, h5) {
		@extend %text-normal;

		margin: 0;
	}

	& > .vc-text-sm {
		margin-block: 2px -2px;
	}
}

.vc-divider {
	display: none;
}

.vc-form-switch {
	&.vc-form-switch-disabled {
		opacity: 1;
	}

	& > :last-child {
		align-items: center;
		display: flex;
	}
}

.vc-form-switch-description {
	margin-block: 2px -2px;
}

.vc-form-switch-text {
	gap: 0;

	justify-content: start;
}

.vc-form-switch-wrapper {
	@include controls.card-in-container(
		$first-selector: "&:first-child",
		$last-selector: "&:last-child"
	);

	margin: 0;

	display: flex;
}

.vc-h4,
.vc-h5 {
	@extend %heading;

	// h4
	letter-spacing: 0;
}

.vc-icon {
	@include util.icon;

	$-icons: (
		cog-wheel: "settings",
		folder-icon: "folder",
		info-icon: "info-outline",
		log-icon: "info-outline",
		paintbrush-icon: "edit",
		restart-icon: "update",
	);

	@each $k, $v in $-icons {
		&.vc-#{$k} {
			--icon: icon(#{$v});
		}
	}

	& > * {
		display: none;
	}
}

.vc-switch-container {
	@include controls.switch(
		$checked: "&.vc-switch-checked",
		$disabled: "&.vc-switch-disabled"
	);
}

.vc-switch-slider {
	display: none;
}

:where(.vc-text-base) {
	line-height: 1.2;
}

:where(.vc-text-md) {
	@extend %text-normal;
}

:where(.vc-text-sm),
:where(.vc-text-xs) {
	@extend %caption;
}

:where(.vc-text-lg) {
	@extend %heading;
}
