@use "controls";

// CopyFileContents
.vc-cfc-button {
	--icon: icon("edit-copy");
}

// ReadAllNotificationsButton
.vc-ranb-button {
	@include controls.icon-button-with-tooltip(
		$name: "check-plain",
		$selector: "&:hover::after",
		$size: var(--guildbar-avatar-size),
		$direction: "right"
	);

	font-size: 0;
	border-radius: 50%;
	margin: auto;

	min-height: var(--guildbar-avatar-size);

	&::after {
		content: "Read all";
	}
}

// VencordToolbox
.vc-toolbox-btn {
	--window_fg_color: transparent;

	svg {
		display: initial;
	}
}
