.theme-light,
.theme-dark {
	--background-secondary-alt: var(--secondary_sidebar_bg_color);
	--background-base-low: var(--window_bg_color);
	--background-base-lower: var(--window_bg_color);
	--background-base-lowest: var(--secondary_sidebar_bg_color);
	--background-surface-high: var(--popover_bg_color);
	--background-surface-higher: var(--popover_bg_color);
	--background-surface-highest: var(--popover_bg_color);

	--background-code-addition: color-mix(
		in srgb,
		var(--green-5) 20%,
		transparent
	);
	--background-code-deletion: color-mix(in srgb, var(--red-2) 20%, transparent);

	--text-default: var(--window_fg_color);
	--text-feedback-critical: var(--destructive-color);
	--text-feedback-positive: var(--success-color);
	--text-feedback-primary: var(--window_fg_color);
	--text-feedback-warning: var(--warning-color);
	--text-link: var(--accent-color);
	--text-muted: var(--window_fg_muted);
	--text-strong: var(--window_fg_color);
	--text-subtle: var(--window_fg_muted);

	--text-code-addition: var(--green-5);
	--text-code-builtin: var(--purple-2);
	--text-code-bullet: var(--violet-2);
	--text-code-comment: var(--window_fg_muted);
	--text-code-deletion: var(--red-2);
	--text-code-keyword: var(--orange-2);
	--text-code-section: var(--blue-2);
	--text-code-string: var(--teal-2);
	--text-code-tag: var(--teal-2);
	--text-code-title: var(--green-5);
	--text-code-variable: var(--blue-2);

	--interactive-muted: var(--window_fg_muted);
	--interactive-icon-active: var(--window_fg_color);
	--interactive-icon-default: var(--window_fg_color);
	--interactive-icon-hover: var(--window_fg_color);
	--interactive-text-active: var(--window_fg_color);
	--interactive-text-default: var(--window_fg_color);
	--interactive-text-hover: var(--window_fg_color);

	--channel-text-area-placeholder: var(--text-muted);
	--channels-default: var(--window_fg_color);

	// Originally 50%, but nothing uses the secondary text color anyway
	$border_color: color-mix(in srgb, currentColor 25%, transparent);
	--border-faint: #{$border_color};
	--border-strong: #{$border_color};
	--border-subtle: #{$border_color};

	--status-positive: var(--success-color);
	--status-positive-background: var(--success-color);
	--status-positive-text: var(--window_fg_color);
	--status-warning: var(--warning-color);
	--status-warning-background: var(--warning-bg-color);
	--status-warning-text: var(--warning_fg_color);

	@each $k in icon text {
		--#{$k}-status-dnd: var(--destructive-color);
		--#{$k}-status-idle: var(--warning-color);
		--#{$k}-status-offline: var(--text-muted);
		--#{$k}-status-online: var(--success-color);
	}

	$-message-colors: (
		automod: destructive,
		highlight: accent,
		mentioned: warning,
	);
	@each $k, $v in $-message-colors {
		--message-#{$k}-background-default: color-mix(
			in srgb,
			var(--#{$v}-bg-color) 10%,
			transparent
		);
		--message-#{$k}-background-hover: color-mix(
			in srgb,
			var(--#{$v}-bg-color) 20%,
			transparent
		);
	}
	--message-background-hover: var(--sidebar_bg_color);

	--custom-app-top-bar-height: 0px;
	--channels-spine-offset-left: calc(
		var(--space-xs) * 2 + var(--icon-size) / 2
	);
	--chat-markup-line-height: 1.5rem;
	// TODO: legacy modal
	--custom-standard-sidebar-view-sidebar-total-width: var(--sidebar-width);

	--elevation-stroke: 0 0 0 1px var(--window_outline_color);
	// prettier-ignore
	--elevation-low:
		0 1px color-mix(in srgb, var(--headerbar_shade_color) 50%, transparent),
		0 2px 4px color-mix(in srgb, var(--headerbar_shade_color) 50%, transparent);
	// prettier-ignore
	--elevation-medium:
		0 0 0 1px rgb(0 0 6 / 3%),
		0 1px 3px 1px rgb(0 0 6 / 7%),
		0 2px 6px 2px rgb(0 0 6 / 3%);
	// prettier-ignore
	--elevation-high:
		0 0 14px 2px rgb(0 0 6 / 3%),
		0 0 5px 2px rgb(0 0 6 / 10%),
		0 0 0 1px rgb(0 0 6 / 5%);

	--legacy-elevation-low: var(--elevation-low);
	--legacy-elevation-high: var(--elevation-high);
	--legacy-elevation-border: var(--elevation-stroke);

	$shadows: (
		border: stroke,
		ledge: low,
		low: low,
		low-active: low,
		low-hover: low,
		medium: medium,
		high: high,
		top-low: low,
		top-high: high,
		top-ledge: stroke,
	);

	@each $name, $type in $shadows {
		--shadow-#{$name}: var(--elevation-#{$type});
		--shadow-#{$name}-filter: drop-shadow(var(--elevation-#{$type}));
	}

	--radius-xs: var(--base-unit);
	--radius-sm: var(--base-unit);
	--radius-md: calc(var(--base-unit) * 2);
	--radius-lg: calc(var(--base-unit) * 2);
	--radius-xl: calc(var(--base-unit) * 3);
	--radius-xxl: calc(var(--base-unit) * 3);

	--font-primary: var(--document-font-family);
	--font-display: var(--document-font-family);
	--font-headline: var(--document-font-family);
	--font-code: var(--monospace-font-family);

	--icon-size-lg: var(--icon-size);
	--icon-size-md: var(--icon-size);
	--icon-size-sm: var(--icon-size);
	--icon-size-xs: var(--icon-size);
	--icon-size-xxs: var(--icon-size);
}
