:root {
	// libadwaita 1.7
	--ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
	--backdrop_transition: 200ms ease-out;
	--focus_transition: outline-color 200ms var(--ease-out-quad),
		outline-width 200ms var(--ease-out-quad),
		outline-offset 200ms var(--ease-out-quad);
	--button_transition: background 200ms var(--ease-out-quad),
		box-shadow 200ms var(--ease-out-quad);
	--scrollbar_transition: all 200ms linear;
	--toggle_transition: color 200ms var(--ease-out-quad),
		background 200ms var(--ease-out-quad), box-shadow 200ms var(--ease-out-quad);
	--popover_shadow: 0 1px 5px 1px color-mix(in srgb, black 9%, transparent),
		0 2px 14px 3px color-mix(in srgb, black 5%, transparent);

	--document-font-family: "Adwaita Sans", sans-serif;
	--document-font-size: 11pt;
	--monospace-font-family: "Adwaita Mono", monospace;
	--monospace-font-size: 11pt;

	--button_radius: 9px;
	--card_radius: 12px;
	--menu_radius: 9px;
	--menu_margin: 6px;
	--menu_padding: 12px;
	--window_radius: calc(var(--button_radius) + 6px);
	--popover_radius: calc(var(--menu_radius) + 6px);

	--switch-transition: 100ms;
	--backdrop: color-mix(in srgb, black 25%, transparent);

	--border-opacity: 15%;
	--dim-level-opacity: 50%;

	--headerbar-height: 46px;
	--icon-button-size: 34px;
	--scrollbar-width: 8px;
	--settings-dialog-size: 80%;
	--sidebar-width: 263px;
	--content-width: 575px;

	// my
	--base-unit: 6px;
	--icon-size: 16px;

	@media (prefers-reduced-motion) {
		--backdrop_transition: none;
		--button_transition: none;
		--scrollbar_transition: none;
		--toggle_transition: none;
		--focus_transition: none;
		--switch-transition: none;
	}
}
